extends ../layout

block teaser
  if crew.teaserImage
    .d-flex.justify-content-center.align-items-start
      img.card-img-top.img-fluid(
        src=`${crew.teaserImage.publicUrl}`
        alt=`${crew.name}`
      )

block title
  if title
    .jumbotron.jumbotron-fluid
      .container
        .row
          .col-lg-8
            h1.display-4=title
            p=crew.about
          .col-lg-4
            if crew.image
              img.card-img-top.img-fluid(
                src=crew.image.publicUrl
                alt=crew.title
              )

block content
  .row
    .col-lg-12
      h3=__('Members')
      .card-columns
        each member in crew.members
          .card
            if member.image
              img.card-img-top.img-fluid(
                src=member.image.publicUrl
                alt=member.name
              )
            .card-block
              h4.card-title
                =member.stagename
              a.btn.btn-primary(href=member.publicUrl)=__('More')
