extends ../../layout
block content
  ol
    if data.length
      each item, index in data
        li
          a(href="/videos/"+item.slug, target="_blank")!="show"
          !=" | "
          a(href="/admin/videos/"+item.id+"/public", target="_blank")!="edit"
          !=" | "
          a(href="https://avnode.net/admin/api/videos/"+item.id+"/delete", target="_blank")!="delete"
          //?delete=1
          !=" | "
          b=item.title
          !="<br />"
          !="Encoding: " + item.encoded
          !=" | "
          !="Rencoding: " + (item.rencoded ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">NO</span>' )
          !=" | "
          !="Public: " + (item.is_public == 1 ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">NO</span>' )
          !="<br />"
          !="File: "
          if item.file 
            !=global.appRoot+item.file + " "+(item.exists ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
          else
            !='<span class="badge badge-danger">MISSING</span>'
          !="<br />"
          !="Original: "
          if item.original 
            !=global.appRoot+item.original + " "+(item.originalexists ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
          else
            !='<span class="badge badge-danger">MISSING</span>'

          !="<br />"
          !="Preview: "
          if item.preview
            !=global.appRoot+item.preview + " "+(item.previewexists ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
          else
            !='<span class="badge badge-danger">MISSING</span>'

          if item.imageFormats
            each image, format in item.imageFormats
              !="<br />"
              !=format+": "+global.appRoot+image + " "+(item.imageFormatsExists[format] ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
  - var mkdir = []
  if data.length
    each item, index in data
      if !item.exists && item.mkdir && mkdir.indexOf(item.mkdir)===-1
        - mkdir.push(item.mkdir)
    - mkdir.sort()
    b="MK Dir"
    ol
      if mkdir.length
        each item in mkdir
          li=item
    b="Find file"
    ol
      each item, index in data
        if item.find
          li!=item.find
            if item.find2
              !="<br />"
              !=item.find2
    b="Find preview"
    ol
      each item, index in data
        if item.findpreview
          li!=item.findpreview
    b="Find Original"
    ol
      each item, index in data
        if item.findoriginal
          li!=item.findoriginal

    b="Rencode from Original"
    ol
      each item, index in data
        if item.originalexists && !item.exists
          li!="db.videos.update({ _id: ObjectId('"+item.id+"') },{ $set: {media: { encoded: 0 }}})"

