// Active calls
- for(var a=0;a<dett.organizationsettings.call.calls.length;a++)
  - var admitted = []
  - for(var b=0;b<dett.organizationsettings.call.calls[a].admitted.length;b++)
    - admitted.push(dett.organizationsettings.call.calls[a].admitted[b])
  - var topics = []
  - for(var b=0;b<dett.organizationsettings.call.calls[a].topics.length;b++)
    - topics.push(dett.organizationsettings.call.calls[a].topics[b].name)
  .row
    .col-md-1
      .form-check
        .text-right
          input.form-check-input.position-static(type="radio" name="index" value=a checked=call.index==a ? "checked" : undefined)
    .col-md-11
      label
        h4=dett.organizationsettings.call.calls[a].title
        p=global.__("Start date")+": "+dett.organizationsettings.call.calls[a].start_date_formatted+" | "+global.__("End date")+": "+dett.organizationsettings.call.calls[a].end_date+" | "+global.__("Email")+": "+dett.organizationsettings.call.calls[a].email
        p=global.__("Admitted projects") + ": "
        ul
          each cat in admitted
            li=cat.name
        p=global.__("Topics") + ": " + topics.join(", ")
        p!=dett.organizationsettings.call.calls[a].excerpt