#accordionCalls.accordion
  // Active calls
  - for(var a=0;a<dett.organizationsettings.call.calls.length;a++)
    - var admitted = []
    - for(var b=0;b<dett.organizationsettings.call.calls[a].admitted.length;b++)
      - admitted.push(dett.organizationsettings.call.calls[a].admitted[b])
    - var topics = []
    - for(var b=0;b<dett.organizationsettings.call.calls[a].topics.length;b++)
      - topics.push(dett.organizationsettings.call.calls[a].topics[b].name)
    .card
      .card-header
        .row
          .col-md-1(id="heading"+a)
            .form-check
              .text-right
                input.form-check-input.position-static(id="radio"+a type="radio" name="index" value=a checked=call.index==a ? "checked" : undefined, data-toggle='collapse', data-target='#collapse'+a, aria-expanded='true', aria-controls='collapseOne')
          .col-md-11
            label(for="radio"+a)
              h4=dett.organizationsettings.call.calls[a].title
              p
                b=global.__("Deadline")+": "+dett.organizationsettings.call.calls[a].end_date_formatted
      .row.collapse.card-body(aria-labelledby='heading'+a, data-parent='#accordionCalls',id="collapse"+a)
        .col-md-1
        .col-md-11
          p=global.__("Start date")+": "+dett.organizationsettings.call.calls[a].start_date_formatted
          p!=global.__("Email")+": <a href=\"mailto"+dett.organizationsettings.call.calls[a].email+"\">"+dett.organizationsettings.call.calls[a].email+"</a>"
          p=global.__("Admitted projects") + ": "
          ul
            each cat in admitted
              li=cat.name
          p=global.__("Topics") + ": " + topics.join(", ")
          p!=dett.organizationsettings.call.calls[a].excerpt
