extends ../../../layout_admin
block content
  include ../partials/menuHeaderSuperAdmin
  if msg && msg.length
    .alert.alert-success
      b="Messagge"
      each m in msg
        li=m
  form#localesgen(method="post")
    .form-group
      label(for="labelsinput")="Copy from spreadsheet"
      textarea#labelsinput.form-control(name="labelsinput", cols="30", rows="10")=labelsinput
    button.btn.btn-primary(type="submit")="Generate"
