extends ../../layout
block content
  ol
    each group, index in data
      li=index
        ol
          each item in group
            li
              !=item.slug
              !=" "
              span.badge(class=item.count ? "badge-primary" : "badge-danger")=item.count
              !=" "
              span.badge.badge-primary=item.countstr
              if item.son
                ol
                  each son in item.son
                    li
                      !=son.slug
                      !=" "
                      span.badge(class=son.count ? "badge-primary" : "badge-danger")=son.count
                      !=" "
                      span.badge.badge-primary=son.countstr
