// Submit
.alert.alert-success(role="alert")
    h4=dett.organizationsettings.call.calls[call.index].title
    p=global.__('Submission of')+" "+call.admitted[call.performance].title+" "+global.__('to')+" "+dett.organizationsettings.call.calls[call.index].title+" "+global.__('sent with success!!!')
    p=global.__('We have sent you an email with a copy of your submission to')+": "+user.email
    p=global.__('You will receive a feedback on your proposal as soon.')
    p=global.__('Thanks.')