extends layout

block teaser
  if event && event.teaserImage
    .teaser-block(style="background-image: url(" + event.teaserImage.publicUrl + ")")
      .container
        .teaser
          .display-6.badge.badge-success Upcoming Event
          h1.display-3=event.title
          p.lead=event.dateFormatted
          a.btn.btn-primary(href=event.publicUrl)=__('More')

block content
  h3.display-5.mt-3.mb-3 Some random performers
  .card-group.mb-3
    each item in performers
      .card
        img.card-img-top.img-fluid(
          src=item.cardUrl
          alt=item.name
        )
        .card-block
          h4.card-title
            =item.stagename
          if item.citizenship
            p.card-subtitle.mb-3.text-muted
              =item.citizenship
          a.btn.btn-primary(href=item.publicUrl)=__('More')

  h3.display-5.mt-3.mb-3 Some random performances
  .card-group
    each item in performances
      .card
        img.card-img-top.img-fluid(
          src=item.cardUrl
          alt=item.name
        )
        .card-block
          h4.card-title
            =item.title
          a.btn.btn-primary(href=item.publicUrl)=__('More')
