#sidebar-container.sidebar-expanded.d-none.d-lg-block
  // !=currentUrl +(currentUrl.indexOf("/adminpro/supertools/files")===0)
  // d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu'
  // Bootstrap List Group
  .list-group
    // Separator with title
    .list-group-item.sidebar-separator-title.d-flex
      small.menu-collapsed ADVANCED TOOLS
    // /END Separator
    // Menu with submenu
    a.bg-dark.list-group-item.list-group-item-action(href='/adminpro/events/')
      .d-flex.w-100.justify-content-start.align-items-center
        span.icon-calendar.fa-fw.mr-3
        span.menu-collapsed="Events"
    if data && data.event && data.event._id
      #submenuEvent.collapse.sidebar-submenu(class=currentUrl.indexOf("/adminpro/events")===0 ? " show" : "")
        .list-group-item.sidebar-separator-title.d-flex
          small.menu-collapsed=data.event.title
        - var menuEvent = [ {link:'/adminpro/events/'+data.event._id+'/acts/', icon: "icon-theater-masks", title:global.__('Acts')}, {link:'/adminpro/events/'+data.event._id+'/peoples/', icon: "icon-users", title:global.__('Peoples')}, {link:'/adminpro/events/'+data.event._id+'/program/', icon: "icon-calendar", title:global.__('Program')}, {link:'/adminpro/events/'+data.event._id+'/technical-riders/', icon: "icon-tasks", title:global.__('Technical Riders')}, {link:'/adminpro/events/'+data.event._id+'/orders/', icon: "icon-money-check-alt", title:global.__('Orders')}, {link:'/adminpro/events/'+data.event._id+'/program-social/', icon: "icon-rss-square", title:global.__('Program Social')}, {link:'/adminpro/events/'+data.event._id+'/program-print-print', icon: "icon-print", title:global.__('Program Prints')}, {link:'/adminpro/events/'+data.event._id+'/pass/', icon: "icon-print", title:global.__('Pass Prints')}, {link:'/adminpro/events/'+data.event._id+'/pass-sheet/', icon: "icon-print", title:global.__('Pass sheet Prints')}]
        each menu in menuEvent
          a.list-group-item(href=menu.link, class=currentUrl.indexOf(menu.link)==0 ? "active" : "")
            .d-flex.w-100.justify-content-start.align-items-center
              span(class=menu.icon).fa-fw.mr-3
              span.menu-collapsed=menu.title

    a.bg-dark.list-group-item.list-group-item-action(href='/adminpro/organizations/')
      .d-flex.w-100.justify-content-start.align-items-center
        span.icon-sitemap.fa-fw.mr-3
        span.menu-collapsed="Organizations"
    a.bg-dark.list-group-item.list-group-item-action(href='/adminpro/partners/')
      .d-flex.w-100.justify-content-start.align-items-center
        span.icon-handshake.fa-fw.mr-3
        span.menu-collapsed="Partners"
    a.bg-dark.list-group-item.list-group-item-action(href='/adminpro/emailqueue/')
      .d-flex.w-100.justify-content-start.align-items-center
        span.icon-mail-bulk.fa-fw.mr-3
        span.menu-collapsed="Emails Queue"
    a.bg-dark.list-group-item.list-group-item-action(href='/adminpro/vjtv/')
      .d-flex.w-100.justify-content-start.align-items-center
        span.icon-tv.fa-fw.mr-3
        span.menu-collapsed="VJ Television"
    a.bg-dark.list-group-item.list-group-item-action(href='/adminpro/facebook/')
      .d-flex.w-100.justify-content-start.align-items-center
        span.icon-facebook-square.fa-fw.mr-3
        span.menu-collapsed="Facebook"
    if user.is_admin
      a.bg-dark.list-group-item.list-group-item-action(href='#submenuSuper', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/adminpro/supertools/emails")===0 ? "true" : "false")
        .d-flex.w-100.justify-content-start.align-items-center
          span.icon-wrench.fa-fw.mr-3
          span.menu-collapsed="SUPER Tools"
      #submenuSuper.collapse.sidebar-submenu(class=currentUrl.indexOf("/adminpro/supertools")===0 ? " show" : "")
        a.bg-dark.list-group-item(href='#subsubmenuSuper1', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/adminpro/supertools/emails")===0 ? "true" : "false")
          .d-flex.w-100.justify-content-start.align-items-center
            span.icon-envelope.fa-fw.mr-3
            span.menu-collapsed Emails
        // Submenu content
        #subsubmenuSuper1.collapse.sidebar-subsubmenu(class=currentUrl.indexOf("/adminpro/supertools/emails")===0 ? " show" : "")
          - var obj = {link:"/emails", title:"Emails"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/emails/updateSendy", title:"Update Sendy"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
        a.bg-dark.list-group-item(href='#subsubmenuSuper2', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/adminpro/supertools/addresses")===0 ? "true" : "false")
          .d-flex.w-100.justify-content-start.align-items-center
            span.icon-map-marker.fa-fw.mr-3
            span.menu-collapsed Addresses 
        // Submenu content
        #subsubmenuSuper2.collapse.sidebar-subsubmenu(class=currentUrl.indexOf("/adminpro/supertools/addresses")===0 ? " show" : "")
          - var obj = {link:"/addresses/venuesdbcheck", title:"Venues DB Check"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/addresses/venuesdbimport", title:"Venues DB Import"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/addresses/venuesgetgeometry", title:"Venues Get Geom"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/addresses/venuessetgeometry", title:"Venues Set Geom"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/addresses/usersdbcheck", title:"Users DB Check"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/addresses/showall", title:"Show All"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/addresses/updatedb", title:"Update DB"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/addresses/getgeometry", title:"Get Geom"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/addresses/setgeometry", title:"Get Geom"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
        a.bg-dark.list-group-item(href='#subsubmenuSuper4', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/adminpro/supertools/files")===0 ? "true" : "false")
          .d-flex.w-100.justify-content-start.align-items-center
            span.icon-archive.fa-fw.mr-3
            span.menu-collapsed Files
        // Submenu content
        #subsubmenuSuper4.collapse.sidebar-subsubmenu(class=currentUrl.indexOf("/adminpro/supertools/files")===0 ? " show" : "")
          - var obj = {link:"/files/userimages", title:"User Images"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/userformatsgenerator", title:"User Formats Generator"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/userfilestodelete_formats?api=1", title:"User Images Formats to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/usersfilestodelete_images?api=1", title:"User Images to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title

          - var obj = {link:"/files/performanceimages", title:"Performance Images"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/performanceformatsgenerator", title:"Performance Formats Generator"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/performancefilestodelete_formats?api=1", title:"Performance Images Formats to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/performancefilestodelete_images?api=1", title:"Performance Images to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title

          - var obj = {link:"/files/eventimages", title:"Event Images"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/eventformatsgenerator", title:"Event Formats Generator"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/eventfilestodelete_formats?api=1", title:"Event Images Formats to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/eventfilestodelete_images?api=1", title:"Event Images to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title

          - var obj = {link:"/files/newsimages", title:"News Images"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/newsformatsgenerator", title:"news Formats Generator"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/newsfilestodelete_formats?api=1", title:"news Images Formats to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/newsfilestodelete_images?api=1", title:"news Images to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title

          - var obj = {link:"/files/videofiles", title:"Video Files"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/videoformatsgenerator", title:"Video Formats Generator"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/videofilestodelete_videos?api=1", title:"Video Files to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/videofilestodelete_formats?api=1", title:"Video Formats to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/videofilestodelete_previews?api=1", title:"Video Previews to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/videofilestodelete_originals?api=1", title:"Video Originals to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/videocleaner", title:"Video Files Cleaner"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title

          - var obj = {link:"/files/galleryimages", title:"Gallery Images"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/gallerygenerator", title:"Gallery Generator"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/galleryimagestodelete", title:"Gallery Images to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title

          - var obj = {link:"/files/footagefiles", title:"Footage Files"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/footagerenamer", title:"Footage Renamer"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/footageformatsgenerator", title:"Footage Formats Generator"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/footagefilestodelete_videos?api=1", title:"Footage Files to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/footagefilestodelete_formats?api=1", title:"Footage Formats to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/footagefilestodelete_previews?api=1", title:"Footage Previews to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/files/footagefilestodelete_originals?api=1", title:"Footage Originals to delete"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
        a.bg-dark.list-group-item(href='#subsubmenuSuper5', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/adminpro/supertools/wpimport")===0 ? "true" : "false")
          .d-flex.w-100.justify-content-start.align-items-center
            span.icon-download.fa-fw.mr-3
            span.menu-collapsed WP Import
        // Submenu content
        #subsubmenuSuper5.collapse.sidebar-subsubmenu(class=currentUrl.indexOf("/adminpro/supertools/wpimport")===0 ? " show" : "")
          - var obj = {link:"/wpimport/news", title:"News"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/wpimport/events", title:"Events"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
          - var obj = {link:"/wpimport/organizations", title:"Organizations"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
        
        a.bg-dark.list-group-item(href='#subsubmenuSuper6', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/adminpro/supertools/categories")===0 ? "true" : "false")
          .d-flex.w-100.justify-content-start.align-items-center
            span.icon-tags.fa-fw.mr-3
            span.menu-collapsed Categories
        // Submenu content
        #subsubmenuSuper6.collapse.sidebar-subsubmenu(class=currentUrl.indexOf("/adminpro/supertools/categories")===0 ? " show" : "")
          - var obj = {link:"/categories/dbcheck", title:"Categories DB Check"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title

        // Menu content
        a.bg-dark.list-group-item(href='#subsubmenuSuper7', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/adminpro/supertools/categories")===0 ? "true" : "false")
          .d-flex.w-100.justify-content-start.align-items-center
            span.icon-tags.fa-fw.mr-3
            span.menu-collapsed Statistics
        // Submenu content
        #subsubmenuSuper7.collapse.sidebar-subsubmenu(class=currentUrl.indexOf("/adminpro/supertools/categories")===0 ? " show" : "")
          - var obj = {link:"/stats/usersstatsupdate", title:"Users Update"}
          a.list-group-item.list-group-item-action.text-white(href='/adminpro/supertools'+obj.link, class=currentUrl.indexOf("/adminpro/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
        
        // Menu content
        a.list-group-item(href='/adminpro/supertools/localesgen', class=currentUrl.indexOf("/adminpro/supertools/localesgen")==0 ? "bg-secondary" : "bg-dark")
          .d-flex.w-100.justify-content-start.align-items-center
            span.icon-flag.fa-fw.mr-3
            span.menu-collapsed Locales

    a.bg-dark.list-group-item.list-group-item-action(href='/admin/profile/'+user._id+'/public')
      .d-flex.w-100.justify-content-start.align-items-center
        span.icon-cog.mr-3
        span.menu-collapsed="Control Panel"

    a.bg-dark.list-group-item(href='#', data-toggle='sidebar-collapse')
      .d-flex.w-100.justify-content-start.align-items-center
        span.icon-arrow-alt-circle-left.fa-fw.mr-3
        span.menu-collapsed Collapse
            
