extends ../../layout_admin
block topmenu
  include topmenu
block content
  if map
    include map
  else 
    include submenu
      .btn-group.mr-2
        button.btn.btn-sm.btn-outline-secondary(type='button', data-toggle='modal', data-target='#modalLinkPartner', data-owner=owner)="ADD FROM AVNODE"
        button.btn.btn-sm.btn-outline-secondary(type='button', data-toggle='modal', data-target='#modalAddPartner', data-id=owner)="ADD NEW"
    script.
      var event = "#{event}"
    form.form-inline.d-print-none.mb-2.border-top.pt-2
      each item, index in partnerships
        .form-check-inline
          input.form-check-input(type='checkbox', disabled=(item.users.length ? "disabled" : undefined), checked=(item.users.length ? "checked" : hide.indexOf(item.category._id.toString())!==-1 ? "checked" : undefined) value=item.category._id, name="hide[]", id=item.category._id)
          label.form-check-label(for=item.category._id)!=item.category.name
      button.btn.btn-primary.form-control.mr-2.btn-sm(type='submit')="UPDATE VIEW"

    table.table.table-fixed.partners
      thead
        tr
          th
            h5="Not assigned"
          each item, index in partnerships
            if item.users.length || hide.indexOf(item.category._id.toString())!==-1
              th
                h5!=item.category.name
                a.btn.btn-primary.btn-sm.sorter.float-right.pt-0.pb-0(data-target="sortable"+(index+1), href="#")="SORT"
      tbody
        tr
          td
            div(style="max-height: 100vh;overflow-y: scroll;")
              ul.list-group.connectedSortable(id="sortable0")
                each item in notassigned
                  li.list-group-item
                    !=item.stagename
                    input(type="hidden", name="users", value=item._id)
          - var conta = 1
          each item, index in partnerships
            if item.users.length || hide.indexOf(item.category._id.toString())!==-1
              td
                div(style="max-height: 100vh;overflow-y: scroll;")
                  form(id="form"+conta)
                    input(type="hidden", name="category", value=item.category._id)
                    ul.list-group.connectedSortable(id="sortable"+conta)
                      - conta++
                      each uuu, index in item.users
                        li.list-group-item
                          !=uuu.stagename
                          input(type="hidden", name="users", value=uuu._id)
  // Modal Add Partner
  #modalAddPartner.modal.admindevmodal.fade(tabindex='-1', role='dialog', aria-labelledby='modalAddPartnerLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form
          input(type='hidden', name="partner_owner", value=owner)
          //input(type='hidden', name="delegate", value=user.name)
          .modal-header
            h5#modalAddPartnerLabel.modal-title=global.__("Add partner")
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .alert.d-none
            .form-group
              label(for='formPartnerAddBrand')=global.__("Brand")
              input#formPartnerAddBrand.form-control(type='text', name="stagename", placeholder='')
            .form-group
              label(for='formPartnerAddWeb')=global.__("Web channels")
                !=" "
                small=global.__("one per line")
              textarea#formPartnerAddWeb.form-control(name="web")
            .form-group
              label(for='formPartnerAddSocial')=global.__("Social channels")
                !=" "
                small=global.__("one per line")
              textarea#formPartnerAddSocial.form-control(name="social")

          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal')=global.__("Close")
            button.btn.btn-primary(type='submit')=global.__("Save")
  
  // Modal Link Partner
  #modalLinkPartner.modal.admindevmodal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLinkPartnerLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form
          input(type='hidden', name="partner_owner", value=owner)
          //input(type='hidden', name="delegate", value=user.name)
          input(type='hidden', name="id")
          .modal-header
            h5#modalAddPartnerLabel.modal-title=global.__("Add partner")
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .alert.d-none
            .form-group
              label(for='formPartnerLinkName')=global.__("Brand")
              input#formPartnerLinkName.form-control(type='text', name="brand", placeholder='')

          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal')=global.__("Close")
            button.btn.btn-primary(type='submit')=global.__("Save")

