extends ../layout_admin
block content
  div(class=printable ? "printable" : undefined)
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3
      h1.h2=__("Mailer")
      //.btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
        .mr-2.mb-3
          button.btn.btn-primary.mr-3(type='button', data-toggle='modal', data-target='#modalLinkPartner', data-owner=owner)="ADD FROM AVNODE"
          button.btn.btn-primary(type='button', data-toggle='modal', data-target='#modalAddPartner', data-id=owner)="ADD NEW"
  form(method="post").form-horizontal#myform
    table.table.table-fixed
      thead
        tr
          th.table-firstcolumn-ID="ID"
          th=global.__("Organization")
          th=global.__("Event")
          th=global.__("User")
          th=global.__("Subject")
          th=global.__("Messages to send")
          th=global.__("Messages sent")
          th=global.__("Actions")
      tbody
        if data.length
          each item, index in data
            if item.organization && item.organization.stagename
              tr
                td.table-firstcolumn-ID=index+1
                td
                  b!=item.organization.stagename
                td!=(item.event ? item.event.title : "No event filter")
                td!=item.user.stagename
                td!=item.subject
                td!=(item.messages_tosend ? item.messages_tosend.length : 0).toString()
                td!=(item.messages_sent ? item.messages_sent.length : 0).toString()
                td
                  button.btn.btn-sm.btn-primary.send(type="button", data-emailqueue=item._id)!="SEND"