extends ../layout_admin
block content
  .formcontainer(class=printable ? "printable" : undefined)
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2=data.title
      .btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
        a.btn.btn-primary(href=data.is_public ? '/events/'+data.slug : "javascript:alert('"+__("Content have to be public to be seen on the website")+"')")=__("SHOW")
    include partials/menuobj
    h3.labelField.mb-3=__(config.cpanel[get.sez].title)+" "+__(config.cpanel[get.sez].forms[get.form].title)
    form(method="post")
      .row
        .col-md-7
          label.labelField(for='is_freezed')=__("Is freezed")
          !=" "
          a.btn.btn-sm.btn-danger.freeze(href='#' data-id=data._id)=__("RENEW FREEZED DATA")
        .col-md-5
          input.form-check-input(type='checkbox' id='is_freezed' name='is_freezed' value='true' checked=data.is_freezed ? "checked" : undefined)

