extends ../layout_admin
block content
	.row
		.col-md-12
			.row.mt-3
				.col-md-10
					h3.labelField=__("Events")
				.col-md-2
					#dropdownContents
						a.float-right.btn.btn-success(href='#'
              data-labelfield=global.__("Event Name")
              data-title=global.__("Add Event")
              data-param="title"
              data-user=user && user._id ? user._id : undefined
              data-sez="events")=global.__('New Event')
			hr
			.row
				.col-md-12
					table(data-toggle="table", data-show-columns="true", data-search="true")
						thead
							tr
								th=__("Image")
								th(data-sortable="true")=__("Title")
								th(data-sortable="true")=__("Type")
								th(data-sortable="true")=__("Productions")
								th(data-sortable="true")=__("Date")
						tbody
							each event in data.events
								tr
									td
										a(href='/admin/events/'+event._id+'/public')
											img.img-fluid(src=event.imageFormats.small)
									td
										b
											a(href='/admin/events/'+event._id+'/public')
												i.icon-edit
											!=" | "  
											a(href='/'+event.slug+'/')
												i.icon-eye
											!=" | "  
											!=event.title 
											div
												if event.is_public
													i.fas.fa-circle(class=event.is_public ? "text-success" : "text-danger")
												!=" "  
												!=__("Public")
											div
												i.icon-eye
												!=" "  
												!=event.stats.visits
												!=" | "  
												i.icon-heart
												!=" "  
												!=event.stats.likes
									td=event.type && event.type.name ? event.type.name : "MISSING"
									td
										ul
											each member in event.users
												li=member.stagename
									td
										p
											!=new Date(event.createdAt).toLocaleDateString()
											br
											!=new Date(event.updatedAt).toLocaleDateString()
