extends ../layout_admin
block content
  .formcontainer(class=printable ? "printable" : undefined)
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2=data.title
      .btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
        a.btn.btn-primary(href=data.is_public ? '/galleries/'+data.slug : "javascript:alert('"+__("Content have to be public to be seen on the website")+"')")=__("SHOW")
    include partials/menuobj
    //h3.labelField.mb-3=__(config.cpanel[get.sez].title)+" "+__(config.cpanel[get.sez].forms[get.form].title)
    form(method="post")
      .row
        .col-md-7
          .form-group
            label.labelField(for='title')=__("Title")
            input.form-control(type='text' name='title' id='title' placeholder=__("Title") value=data.title)
            if err && Object.keys(err.errors).indexOf('title')!==-1
              .badge.badge-danger=err.errors.title.message
          - var slugtitle = __("Gallery Url")
          - var slugplaceholder = __("Gallery Url")
          - var slughelptext = __("To have your gallery at https://avnode.net/galleries/mybeautyfulgallery, please insert mybeautifulgallery (lower case, no spaces, no special characters)")
          include partials/slug
          
          include partials/is_public
          
          //include partials/addresses


        .col-md-5
          .mb-3
            img.img-fluid(src=data.imageFormats.large alt=data.title)
      #gallery
        .d-flex.justify-content-between.mb-3
          h4 Images
          .text-right
            a.btn.btn-success.btn-inline(href='#rowformmultiupload' data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rowformmultiupload")
              b=__("Add images")
        .collapse.mb-4#rowformmultiupload
          #formmultiupload.row
            .enableBorder.col-lg-6.offset-lg-3
              .embed-responsive.embed-responsive-16by9.mb-0
                .embed-responsive-item
                  .attachment-dropzone(aria-disabled='false' style='position: relative;height:100%')
                    .labelFieldUpload
                      .h1
                        i.icon-arrow-alt-circle-down
                      span=__("Drop file here")
                      div=__("OR")
                      .btn.btn-primary=__("BROWSE")
          hr

        .row#medias
          for item, i in data.medias
            .col-md-4.col-sm-6
              div(style="position: relative;")
                img.img-fluid(src=item.imageFormats.large)
                .btn.btn-secondary(type="button" style="position: absolute; top:10px; left:10px")
                  i.icon-arrows-alt
              .d-flex.justify-content-between.mb-3.mt-1
                  input.mediastr(type="hidden" value=JSON.stringify(item) data-id=i name="mediastr")
                  input.form-control.title(type="text" value=item.title)
                  button.btn.btn-danger.ml-2.remove(type="button")
                    i.icon-trash
      include partials/abouts
      include partials/users
      hr
      button.btn.btn-primary.btn-lg.btn-block(type='submit')=__("Save")
      if user.is_admin
        .mt-2
          a.small.text-danger.deletedett(href='#' data-id=data._id data-sez=get.sez)=__("delete")
