doctype html
html(lang=session.current_lang)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title #{title} - AVnode.net

    meta(name="robots" content="index, follow")
    link(href=canonical rel="canonical")

    link(rel='shortcut icon', href='/icons/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='/icons/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='57x57', href='/icons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/icons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/icons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/icons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/icons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/icons/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/icons/apple-touch-icon-180x180.png')

    link(rel='stylesheet', href='/css/font-awesome/font-awesome.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='/lightgallery/css/lightgallery.min.css')
    link(rel='stylesheet', href='//vjs.zencdn.net/4.12/video-js.css')

    link(rel='stylesheet', href='/css/admin.css')
    link(rel='stylesheet', href='/css/admindev.css')

  body
    #top
    a#to_top(href="#top", title=global.__('Back to the top'))
      span.lnr.lnr-arrow-up-circle
    
    //include partials/search/searchbar
    include ../partials/flash

    block content

    footer
      .text-muted.text-right=global.__('AVnode.net')
    include ../partials/modals/modalGeneral

    if paypal
      script(src="https://www.paypal.com/sdk/js?client-id="+process.env.PAYPAL_CLIENT_ID+"&currency=EUR")

    script(src='/js/combo.min.js')
    script(src="/js/admindev.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="/js/moment-with-locales.min.js")
    script(src="/js/jquery.serializejson.min.js")
    script(src='//vjs.zencdn.net/4.12/video.js')
    script(src='/lightgallery/js/lightgallery.min.js')
    script(src='/lightgallery/js/lg-video.min.js')

    script(src="/js/cookielawinfo.min.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-124799696-1")
    include ../partials/modals/cookielawinfo
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-124799696-1');
