extends ../layout_admin
block content
	.row
		.col-md-12
			.row.mt-3
				.col-md-10
					h3.labelField=__("News")
				.col-md-2
					#dropdownContents
						a.float-right.btn.btn-success(href='#'
              data-labelfield=global.__("News Title")
              data-title=global.__("Add News")
              data-param="title"
              data-user=user && user._id ? user._id : undefined
              data-sez="news")=global.__('New News')
			hr
			.row
				.col-md-12
					table(data-toggle="table", data-show-columns="true", data-search="true")
						thead
							tr
								th=__("Image")
								th(data-sortable="true")=__("Title")
								th(data-sortable="true")=__("Type")
								th(data-sortable="true")=__("Productions")
								th(data-sortable="true")=__("Date")
						tbody
							each neww in data.news
								tr
									td
										a(href='/admin/news/'+neww._id+'/public')
											img.img-fluid(src=neww.imageFormats.small)
									td
										b
											a(href='/admin/news/'+neww._id+'/public')
												i.icon-edit
											!=" | "  
											a(href='/'+neww.slug+'/')
												i.icon-eye
											!=" | "  
											!=neww.title 
											div
												if neww.is_public
													i.icon-circle(class=neww.is_public ? "text-success" : "text-danger")
												!=" "  
												!=__("Public")
											div
												i.icon-eye
												!=" "  
												!=neww.stats.visits
												!=" | "  
												i.icon-heart
												!=" "  
												!=neww.stats.likes
									td=neww.type && neww.type.name ? neww.type.name : "MISSING"
									td
										ul
											each member in neww.users
												li=member.stagename
									td
										p
											!=new Date(neww.createdAt).toLocaleDateString()
											br
											!=new Date(neww.updatedAt).toLocaleDateString()
