extends ../layout_admin
block content
  div(class=printable ? "printable" : undefined)
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2=data.stagename
      .btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
        .mr-2.mb-3
          button.btn.btn-primary.mr-3(type='button', data-toggle='modal', data-target='#modalLinkPartner', data-owner=owner)="ADD FROM AVNODE"
          button.btn.btn-primary(type='button', data-toggle='modal', data-target='#modalAddPartner', data-id=owner)="ADD NEW"
  include partials/menuobj
  if csv
    table.table.table-fixed
      thead
        tr
          th.table-firstcolumn-ID="ID"
          th=global.__("Brand")
          th=global.__("Name")
          th=global.__("Surname")
          th=global.__("Email")
          th=global.__("lang")
          th=global.__("Mobile")
          th=global.__("Skype")
          th=global.__("Facebook")
          th=global.__("Type")
          th=global.__("Is user")
      tbody
          each item, index in data.partners
            if item.partner && item.partner.contacts
              each contact in item.partner.contacts
                tr
                  td.table-firstcolumn-ID=index+1
                  td
                    b!=item.partner.stagename
                  td!=contact.name
                  td!=contact.surname
                  td!=contact.email
                  td!=contact.lang
                  td!=contact.mobile
                  td!=contact.skype
                  td!=contact.facebook
                  td!=contact.type
                  td!="NO"
            if item.partner.members && item.partner.members.length
              each contact in item.partner.members
                tr
                  td=index+1
                  td
                    b!=item.partner.stagename
                  td!=contact.name
                  td!=contact.surname
                  td!=contact.email
                  td!=contact.lang
                  td!=contact.mobile ? contact.mobile.map(item => {return item.url}).join("<br />\n") : ""
                  td!=contact.skype ? contact.skype.map(item => {return item.url}).join("<br />\n") : ""
                  td!=contact.social ? contact.social.filter(item => item.url.indexOf("facebook")!==-1).map(item => {return item.url}).join("<br />\n") : ""
                  td!=contact.type
                  td!="YES"
                  //if item.partnerships && item.partnerships.length
                      - item.partnerships.sort((a,b) => (a.title > b.title) ? 1 : ((b.title > a.title) ? -1 : 0));

                      each partnership in item.partnerships
                        .text-nowrap!=partnership.title
                    td
                      if item.web
                        each web in item.web
                          div!=web.url
                      if item.social
                        each web in item.social
                          div!=web.url
                    td
                        div!=contact.name+" "+contact.surname+" "+contact.email+" "+contact.lang
  else 
    #toolbar
      //.btn-group.mr-2.mb-3
        button.btn.btn-outline-secondary(type="button" onclick="$('#table').bootstrapTable('filterBy', {})")!=__("ALL")
        button.btn.btn-outline-secondary(type="button" onclick="$('#table').bootstrapTable('filterBy', {is_active: ['true']})")!=__("ACTIVE")
        button.btn.btn-outline-secondary(type="button" onclick="$('#table').bootstrapTable('filterBy', {is_active: ['false']})")!=__("NOT ACTIVE")
        button.btn.btn-outline-secondary(type="button" onclick="$('#table').bootstrapTable('filterBy', {is_event: ['true']})")!=__("EVENT")
        button.btn.btn-outline-secondary(type="button" onclick="$('#table').bootstrapTable('filterBy', {is_event: ['false']})")!=__("NOT EVENT")
        button.btn.btn-outline-secondary(type="button" onclick="$('#table').bootstrapTable('filterBy', {is_selecta: ['true']})")!=__("SELECTA")
        button.btn.btn-outline-secondary(type="button" onclick="$('#table').bootstrapTable('filterBy', {is_selecta: ['false']})")!=__("NOT SELECTA")
      - console.log(query)
      form
        .form-inline.mb-2
          .form-check.mb-1.mr-3
            input#is_active.form-check-input(type='checkbox' value="1" name="is_active" checked=query.is_active ? "checked" : undefined)
            label.form-check-label.small(for='is_active')=__("ACTIVE")
          .form-check.mb-1.mr-3
            input#is_selecta.form-check-input(type='checkbox' value="1" name="is_selecta" checked=query.is_selecta ? "checked" : undefined)
            label.form-check-label.small(for='is_selecta')=__("SELECTA")
          .form-check.mb-1.mr-3
            input#is_event.form-check-input(type='checkbox' value="1" name="is_event" checked=query.is_event ? "checked" : undefined)
            label.form-check-label.small(for='is_event')=__("EVENT")
          //- if (!query.categories) query.categories = partners_categories.map(c => {return c._id})
        .form-inline.mb-2
          .form-check.mb-1.mr-3
            input.anykind.form-check-input(type="checkbox" name="anykind" id="anykind" value="1" checked=query.anykind && !query.categories ? "checked" : undefined)
            label.form-check-label.small(for="anykind")
              b=__("ANY KIND")
          .form-check.mb-1.mr-3
            input.nokind.form-check-input(type="checkbox" name="nokind" id="nokind" value="1" checked=query.nokind && !query.categories ? "checked" : undefined)
            label.form-check-label.small(for="nokind")
              b=__("NO KIND")
          each category in partners_categories
            .form-check.mb-1.mr-3
              input.categories_filter.form-check-input(type="checkbox" name="categories[]" id="category"+category._id value=category._id checked=query.categories && query.categories.indexOf(category._id)!==-1 ? "checked" : undefined)
              label.form-check-label.small(for="category"+category._id)=category.name
        .form-inline.mb-2
          button.mb-2.btn.btn-primary.btn-sm(type="submit")=__("FILTER")
    table#table(data-toggle="table", data-show-columns="true", data-search="true", data-toolbar="#toolbar")
      thead
        tr
          th="ID"
          th=global.__("Brand")
          th=global.__("Status")
          th=global.__("Types")
          th=global.__("Contacts")
          th=global.__("Members")
      tbody
          - console.log(query.is_active=="1")
          - console.log(query.is_event=="1")
          - data.partners = data.partners.filter(partner => partner.is_active == (query.is_active=="1"));
          - data.partners = data.partners.filter(partner => partner.is_event == (query.is_event=="1"));
          - data.partners = data.partners.filter(partner => partner.is_selecta == (query.is_selecta=="1"));
          //-each q in query.categories
          - if (query.categories) 
            - data.partners = data.partners.filter(partner => query.categories.some(r => partner.categories.map(item => {return item._id.toString()}).includes(r) ));
          - if (query.nokind) 
            - data.partners = data.partners.filter(partner => !partner.categories.length);
          each item, index in data.partners
            if item.partner
              tr(id=item.partner._id)
                td=index+1
                //td=query.categories.some(r => item.categories.map(i => {return i._id.toString()}).includes(r) )
                td
                  a(href="/admin/crews/"+item.partner._id+"/public", target="_blank", title=global.__("edit"))
                    span(data-toggle="tooltip", data-placement="top", title=global.__("edit"))
                      i.icon-edit
                  !=" | "
                  a.unlink(href="#", data-owner=owner, data-partner=item.partner._id, title=global.__("Unlink"))
                    span(data-toggle="tooltip", data-placement="top", title=global.__("Unlink"))
                      i.icon-unlink
                  if item.partner.members && item.partner.members.length
                    !=" | "
                    a(href="/"+item.partner.slug, target="_blank", title=global.__("View"))
                      span(data-toggle="tooltip", data-placement="top", title=global.__("View"))
                        i.icon-eye
                  !=" | "
                  b!=item.partner.stagename
                  if !item.partner.members || !item.partner.members.length
                    !=" "
                    .badge.badge-danger!="EXTERNAL"
                td
                  .text-nowrap
                    .form-check
                      input.edit_partners_partner.form-check-input.is_active(type="checkbox" id="is_active"+item.partner._id value="true" checked=item.is_active ? "checked" : undefined data-partner=item.partner._id data-owner=data._id data-name="is_active")
                      label.form-check-label(for="is_active"+item.partner._id)
                        b=__("Active")
                    .form-check
                      input.edit_partners_partner.form-check-input.is_event(type="checkbox" id="is_event"+item.partner._id value="true" checked=item.is_event ? "checked" : undefined data-partner=item.partner._id data-owner=data._id data-name="is_event")
                      label.form-check-label(for="is_event"+item.partner._id)
                        b=__("Event")
                    .form-check
                      input.edit_partners_partner.form-check-input.is_selecta(type="checkbox" id="is_selecta"+item.partner._id value="true" checked=item.is_selecta ? "checked" : undefined data-partner=item.partner._id data-owner=data._id data-name="is_selecta")
                      label.form-check-label(for="is_selecta"+item.partner._id)
                        b=__("Selecta")
                td
                  each category in partners_categories
                    .text-nowrap
                      .form-check
                        input.edit_partners_categories.form-check-input(type="checkbox" id="category"+category._id+item.partner._id value="true" checked=item.categories && item.categories.map(cats => {return cats._id.toString()}).indexOf(category._id)!==-1 ? "checked" : undefined data-category=category._id data-partner=item.partner._id data-owner=data._id)
                        label.form-check-label(for="category"+category._id+item.partner._id)
                          small=category.name

                td
                  h5
                    !="Contacts"
                    !=" "
                    // Button trigger modal
                    button.btn.btn-sm.btn-primary(type='button', data-toggle='modal', data-target='#modalAddContact', data-id=item.partner._id, data-stagename=item.partner.stagename)="ADD"
                  .contacts
                    if item.partner && item.partner.organizationData.contacts
                      each contact, index in item.partner.organizationData.contacts
                        div
                          a(href="#" data-toggle='modal', data-target='#modalAddContact', data-id=item.partner._id, data-stagename=item.partner.stagename, data-item=JSON.stringify(contact), data-index=index)
                            span(data-toggle="tooltip", data-placement="top", title="Edit")
                              i.icon-edit
                          !=" "
                          a.text-danger.deleteContact(href="#" data-id=item.partner._id, data-stagename=item.partner.stagename, data-index=index)
                            span(data-toggle="tooltip", data-placement="top", title="Delete")
                              i.icon-trash
                          !=" | "
                          if contact.lang
                            !=contact.lang
                          else
                            .badge.badge-danger!="MISSING"
                          !=" | "
                          a(href="mailto:"+contact.email, target="_blank")
                            !=contact.name+" "+contact.surname
                            =" <"+contact.email+">"
                td
                  if item.partner.members && item.partner.members.length
                    h5="Members"
                    ol
                      each contact in item.partner.members
                        li
                          if contact.emails
                              each email in contact.emails
                                div
                                  a(href="#" data-toggle='modal', data-target='#modalAddContact', data-id=item.partner._id, data-stagename=item.partner.stagename, data-item=JSON.stringify({title: contact.gender=="M" ? "Mr" : "Miss", name: contact.name, surname:contact.surname, lang:contact.lang, email:email.email }))
                                    span(data-toggle="tooltip", data-placement="top", title="Copy to contacts")
                                      i.icon-arrow-alt-circle-left
                                  !=" | "
                                  a(href="/"+contact.slug, target="_blank", title=global.__("View"))
                                    span(data-toggle="tooltip", data-placement="top", title=global.__("View"))
                                      i.icon-eye
                                  !=" | "
                                  a(href="mailto:"+contact.email, target="_blank")
                                    !=contact.name+" "+contact.surname
                                    =" <"+email.email+">"
                                  !=" "
                          else 
                            !=contact.stagename
                            !=" "
                            .badge.badge-danger!="MISSING"


  // Modal Add Partner
  #modalAddPartner.modal.admindevmodal.fade(tabindex='-1', role='dialog', aria-labelledby='modalAddPartnerLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form
          input(type='text', name="partner_owner", value=data._id)
          //input(type='hidden', name="delegate", value=user.name)
          .modal-header
            h5#modalAddPartnerLabel.modal-title=global.__("Add partner")
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .alert.d-none
            .form-group
              label(for='formPartnerAddBrand')=global.__("Brand")
              input#formPartnerAddBrand.form-control(type='text', name="stagename", placeholder='')
            .form-group
              label(for='formPartnerAddWeb')=global.__("Web channels")
                !=" "
                small=global.__("one per line")
              textarea#formPartnerAddWeb.form-control(name="web")
            .form-group
              label(for='formPartnerAddSocial')=global.__("Social channels")
                !=" "
                small=global.__("one per line")
              textarea#formPartnerAddSocial.form-control(name="social")

          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal')=global.__("Close")
            button.btn.btn-primary(type='submit')=global.__("Save")

  // Modal Link Partner
  #modalLinkPartner.modal.admindevmodal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLinkPartnerLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form
          input(type='hidden', name="partner_owner", value=data._id)
          input(type='hidden', name="delegate", value=user.name)
          input(type='hidden', name="id")
          .modal-header
            h5#modalAddPartnerLabel.modal-title=global.__("Add partner")
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .alert.d-none
            .form-group
              label(for='formPartnerLinkName')=global.__("Brand")
              input#formPartnerLinkName.form-control(type='text', name="brand", placeholder='')

          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal')=global.__("Close")
            button.btn.btn-primary(type='submit')=global.__("Save")

  // Modal Add Contact
  #modalAddContact.modal.admindevmodal.fade(tabindex='-1', role='dialog', aria-labelledby='modalAddContactLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form
          .modal-header
            h5#modalAddPartnerLabel.modal-title=global.__("Add contact")
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .container-fluid
              .row
                .col-md-2
                  .form-group
                    input.modal-id(type='hidden', name="crew")
                    input.modal-index(type='hidden', name="index")
                    input.modal-stagename(type='hidden', name="stagename")
                    label(for='formContactAddTitle')=global.__("Title")
                    input#formContactAddName.form-control(type='text', name="title", placeholder='')
                .col-md-5
                  .form-group
                    label(for='formContactAddName')=global.__("Name")
                    input#formContactAddName.form-control(type='text', name="name", placeholder='')
                .col-md-5
                  .form-group
                    label(for='formContactAddSurname')=global.__("Surname")
                    input#formContactAddSurname.form-control(type='text', name="surname", placeholder='')
              .row
                .col-md-6
                  .form-group
                    label(for='formContactAddEmail')=global.__("Email")
                    input#formContactAddEmail.form-control(type='text', name="email", placeholder='name@example.com')
                .col-md-6
                  .form-group
                    label(for='formContactAddLanguage')=global.__("Language")
                    select#formContactAddLanguage.form-control(name="lang")
                      option(value="it")="it"
                      option(value="en")="en"
              .row
                .col-md-6
                  .form-group
                    label(for='formContactAddRole')=global.__("Role")
                    input#formContactAddRole.form-control(type='text', name="role", placeholder='')
                .col-md-6
                  .form-group
                    label(for='formContactAddMobile')=global.__("Mobile")
                    input#formContactAddMobile.form-control(type='text', name="mobile_phone", placeholder='')
              .row
                .col-md-6
                  .form-group
                    label=global.__("Type")
                    .form-check
                      input#formContactAddType1.form-check-input(type='checkbox', value='Contact', name="type", placeholder='')
                      label.form-check-label(for='formContactAddType1')=global.__("Contact")
                    .form-check
                      input#formContactAddType2.form-check-input(type='checkbox', value='Legal representative', name="type", placeholder='')
                      label.form-check-label(for='formContactAddType2')=global.__("Legal representative")
              .row
                .col-md-6
                  .form-group
                    label(for='formContactAddFacebook')="Facebook"
                    input#formContactAddFacebook.form-control(type='text', name="facebook", placeholder='')
                .col-md-6
                  .form-group
                    label(for='formContactAddSkype')="Skype"
                    input#formContactAddSkype.form-control(type='text', name="skype", placeholder='Skype')

          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal')=global.__("Close")
            button.btn.btn-primary(type='submit')=global.__("Save")

