extends ../layout_admin
block content
  div(class=printable ? "printable" : undefined)
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2=data.stagename
      .btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
        a.btn.btn-primary(href='/events/'+data.slug)=__("SHOW")
    //-include partials/menuobj
     .d-flex.justify-content-between.flex-wrap.flex-md-nowrap
      h3.labelField.mb-3=__(config.cpanel[get.sez].title)
  b!="Your organizations"
  if data.crews.length
    ol
      each item, index in data.crews
        li
          a(href="/admin/partners/"+item._id+"/contacts")!=item.stagename
