extends ../layout_admin
block content
	.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
		h1.h2=data.title
		.btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
			a.btn.btn-primary(href=data.is_public ? '/performances/'+data.slug : "javascript:alert('"+__("Content have to be public to be seen on the website")+"')")=__("SHOW")
	include partials/menuobj
	.row.mt-3
		.col-md-7
			h3.labelField.mb-3=__(config.cpanel[get.sez].title)+" "+__(config.cpanel[get.sez].forms[get.form].title)
		.col-md-5
			.input-group.autocomplete_gallery
				input.form-control(type='text' autocomplete='nope' placeholder=__("Gallery Title") value='')
				.input-group-append
					button.mb-2.btn.btn-success.disabled(type='button' data-objid=data._id data-obj=get.sez)
						i.icon-plus
						!=" "
						b=__("Add Gallery")
			.alert.alert-danger.autocomplete_gallery_err.d-none(role="alert")
			#dropdownContents
				.text-right
					a.float-right.btn.btn-success(href='#'
						data-labelfield=global.__("Gallery Name")
						data-title=global.__("Add Gallery")
						data-param="title"
						data-user=user && user._id ? user._id : undefined
						data-id=data._id
						data-sez="performances"
						data-newsez="galleries"
						)=global.__('New Gallery')
	hr
	.row
		.col-md-12
			table(data-toggle="table", data-id=data._id, data-model="Performance", data-link="galleries", data-show-columns="true", data-search="true", data-reorderable-rows="true")
				thead
					tr
						th.d-none="ID"
						th=__("Image")
						th(data-sortable="true")=__("Title")
						th(data-sortable="true")=__("Images")
						th(data-sortable="true")=__("Productions")
						th(data-sortable="true")=__("Date")
						th(data-sortable="true")=__("Links")
				tbody
					each gallery in data.galleries
						tr(id="link"+gallery._id)
							td.d-none=gallery._id
							td(style="position: relative")
								.btn.btn-secondary(type="button" style="position: absolute; top:10px; left:10px")
									i.icon-arrows-alt
								a(href='/admin/galleries/'+gallery._id+'/public')
									img.img-fluid(src=gallery.imageFormats.small)
							td
								b
									if user.is_admin && gallery._id
										a.text-danger.unlink-admin(href='#' data-link-id=gallery._id data-id=data._id data-type="performances" data-link="gallery")
											i.icon-unlink
										!=" | "  
									a(href='/admin/galleries/'+gallery._id+'/public')
										i.icon-edit
									!=" | "  
									a(href=gallery.is_public ? '/galleries/'+gallery.slug : "javascript:alert('"+__("Content have to be public to be seen on the website")+"')")
										i.icon-eye
									!=" | "  
									!=gallery.title 
								div
									i.icon-circle(class=gallery.is_public ? "text-success" : "text-danger")
									!=" "  
									!=__("Public")
								div
									i.icon-eye
									!=" "  
									!=gallery.stats.visits
									!=" | "  
									i.icon-heart
									!=" "  
									!=gallery.stats.likes
							td=gallery.stats.img
							td
								ul
									each member in gallery.users
										li=member.stagename
							td
								p
									!=new Date(gallery.createdAt).toLocaleDateString()
									br
									!=new Date(gallery.updatedAt).toLocaleDateString()
							td
								div
									b!=__("Events")+":"
								if gallery.events && gallery.events.length
									ul
										each event in gallery.events
											li=event.title
								else
									!="NO EVENT"
								div
									b!=__("Performances")+":"
								if gallery.performances && gallery.performances.length
									ul
										each performance in gallery.performances
											li=performance.title
								else
									!="NO PERFORMANCE"
