extends ../layout_admin
block content
	.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
		h1.h2=data.title
		.btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
			a.btn.btn-primary(href=data.is_public ? '/performances/'+data.slug : "javascript:alert('"+__("Content have to be public to be seen on the website")+"')")=__("SHOW")
	include partials/menuobj
	.row.mt-3
		.col-md-7
			h3.labelField.mb-3=__(config.cpanel[get.sez].title)+" "+__(config.cpanel[get.sez].forms[get.form].title)
		.col-md-5
			.input-group.autocomplete_video
				input.form-control(type='text' autocomplete='nope' placeholder=__("Video Title") value='')
				.input-group-append
					button.mb-2.btn.btn-success.disabled(type='button' data-objid=data._id data-obj=get.sez)
						i.icon-plus
						!=" "
						b=__("Add Video")
			.alert.alert-danger.autocomplete_gallery_err.d-none(role="alert")
			#dropdownContents
				.text-right
					a.float-right.btn.btn-success(href='#'
						data-labelfield=global.__("Video title")
						data-title=global.__("Add Video")
						data-param="title"
						data-user=user && user._id ? user._id : undefined
						data-id=data._id
						data-sez="performances"
						data-newsez="videos"
						)=global.__('New Video')
	hr
	.row
		.col-md-12
			table(data-toggle="table", data-id=data._id, data-model="Performance", data-link="videos", data-show-columns="true", data-search="true", data-reorderable-rows="true")
				thead
					tr
						th.d-none="ID"
						th=__("Image")
						th(data-sortable="true")=__("Title")
						th(data-sortable="true")=__("Type")
						th(data-sortable="true")=__("Productions")
						th(data-sortable="true")=__("Date")
						th(data-sortable="true")=__("Links")
				tbody
					each video in data.videos
						tr(id="link"+video._id)
							td.d-none=video._id
							td(style="position: relative")
								.btn.btn-secondary(type="button" style="position: absolute; top:10px; left:10px")
									i.icon-arrows-alt
								a(href='/admin/videos/'+video._id+'/public')
									img.img-fluid(src=video.imageFormats.small)
							td
								b
									if user.is_admin && video._id
										a.text-danger.unlink-admin(href='#' data-link-id=video._id data-id=data._id data-type="performances" data-link="video")
											i.icon-unlink
										!=" | "  
									a(href='/admin/videos/'+video._id+'/public')
										i.icon-edit
									!=" | "  
									a(href=video.is_public ? '/videos/'+video.slug : "javascript:alert('"+__("Content have to be public to be seen on the website")+"')")
										i.icon-eye
									!=" | "  
									!=video.title 
									div
										i.icon-circle(class=video.is_public ? "text-success" : "text-danger")
										!=" "  
										!=__("Public")
									div
										i.icon-eye
										!=" "  
										!=video.stats.visits
										!=" | "  
										i.icon-heart
										!=" "  
										!=video.stats.likes
							td=(video.categories && video.categories.length ? video.categories.map(item => {return item.name}).join(", ") : "MISSING")
							td
								ul
									each member in video.users
										li=member.stagename
							td
								p
									!=new Date(video.createdAt).toLocaleDateString()
									br
									!=new Date(video.updatedAt).toLocaleDateString()
							td
								div
									b!=__("Events")+":"
								if video.events && video.events.length
									ul
										each event in video.events
											li=event.title
								else
									!="NO EVENT"
								div
									b!=__("Performances")+":"
								if video.performances && video.performances.length
									ul
										each performance in video.performances
											li=performance.title
								else
									!="NO PERFORMANCE"
