extends ../layout_admin
block content
  .formcontainer(class=printable ? "printable" : undefined)
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2=data.title
      .btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
        a.btn.btn-primary(href=data.is_public ? '/performances/'+data.slug : "javascript:alert('"+__("Content have to be public to be seen on the website")+"')")=__("SHOW")
    include partials/menuobj
    h3.labelField.mb-3=__(config.cpanel[get.sez].title)+" "+__(config.cpanel[get.sez].forms[get.form].title)
    form(method="post")
      .row
        .col-md-7
          .form-group
            label.labelField(for='title')=__("Title")
            input.form-control(type='text' name='title' id='title' placeholder=__("Title") value=data.title)
            if err && Object.keys(err.errors).indexOf('title')!==-1
              .badge.badge-danger=err.errors.title.message
          - var slugtitle = __("Performance Url")
          - var slugplaceholder = __("Performance Url")
          - var slughelptext = __("To have your performance at https://avnode.net/performances/mybeautyfulperformance, please insert mybeautyfulperformance (lower case, no spaces, no special characters)")
          include partials/slug
          
          include partials/is_public
          


        .col-md-5
          include partials/image
      include partials/abouts
      include partials/performance_categories
      include partials/users
      hr
      .form-inline.mb-3
        label.labelField(for='duration')=__("Duration")
        input.form-control.mr-3.ml-3(type='text' name='duration' id='duration' placeholder=__("Duration") value=data.duration aria-describedby="durationHelpInline")
        #durationHelpInline=__("minutes")
        if err && Object.keys(err.errors).indexOf('duration')!==-1
          .badge.badge-danger=err.errors.duration.message
      include partials/tech_arts
      include partials/tech_reqs

      hr
      button.btn.btn-primary.btn-lg.btn-block(type='submit')=__("Save")
      if user.is_admin
        .mt-2
          a.small.text-danger.deletedett(href='#' data-id=data._id data-sez=get.sez)=__("delete")
