extends ../layout_admin
block content
  .formcontainer(class=printable ? "printable" : undefined)
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2=data.stagename
      .btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
        a.btn.btn-primary(href=data.is_public ? '/'+data.slug : "javascript:alert('"+__("Content have to be public to be seen on the website")+"')")=__("SHOW")
    include partials/menuobj
    h3.labelField.mb-3=__(config.cpanel[get.sez].title)+" "+__(config.cpanel[get.sez].forms[get.form].title)
    form(method="post")
      .row
        .col-md-8
          .form-group
            label.labelField=__("Old Password")
            input.form-control(type='password' name='oldpassword' autocomplete='new-password' placeholder=__("Old Password"))
            if err && Object.keys(err.errors).indexOf('oldpassword')!==-1
              .badge.badge-danger=err.errors.oldpassword.message
          hr
          .form-group
            label.labelField=__("New Password")
            input.form-control(type='password' name='newpassword' autocomplete='new-password' placeholder=__("New Password"))
            if err && Object.keys(err.errors).indexOf('newpassword')!==-1
              .badge.badge-danger=err.errors.newpassword.message
            if err && Object.keys(err.errors).indexOf('password')!==-1
              .badge.badge-danger=err.errors.password.message
          .form-group
            label.labelField=__("Confirm Password")
            input.form-control(type='password' name='newpassword_confirm' autocomplete='new-password' placeholder=__("Confirm Password"))
            if err && Object.keys(err.errors).indexOf('newpassword_confirm')!==-1
              .badge.badge-danger=err.errors.newpassword_confirm.message
          hr
          button.btn.btn-primary.btn-lg.btn-block(type='submit')=__("Save")
