extends ../layout_admin
block content
  .formcontainer(class=printable ? "printable" : undefined)
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2=data.stagename
      .btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
        a.btn.btn-primary(href=data.is_public ? '/'+data.slug : "javascript:alert('"+__("Content have to be public to be seen on the website")+"')")=__("SHOW")
    include partials/menuobj
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h3.labelField.mb-3=__(config.cpanel[get.sez].title)+" "+__(config.cpanel[get.sez].forms[get.form].title)
      .btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
        button.mb-2.btn.btn-success.fblogin(type='button' data-objid=data._id data-obj=get.sez)
          b=__("FB Login")
      select.getgroups.form-control.my-1.mr-sm-2.d-none.disabled(style="width:230px")
        option(selected='')=__("Refresh groups from...")
        option(value='me')=__("Your personal profile")
    .row
      .col-md-12
        table.profilegroups(data-toggle="table", data-show-columns="true", data-search="true")
          thead
            tr
              th(data-sortable="true" data-field="name")=__("Group")
              th(data-sortable="true" data-field="id" data-formatter="ActionFormatter")=__("Url")
              th(data-sortable="true" data-field="profile")=__("Profile")
          tbody
            //-each group in response.data
              tr(data-index='0')
                td Amici di Filettino
                td
                  a(href='https://www.facebook.com/groups/31631428097/' target='_blank') https://fb.com/31631428097
                td Your personal profile


    script.
      function ActionFormatter(index, row) {
        console.log("index");
        console.log(index);
        console.log(row);
        return "<a href=\"https://www.facebook.com/groups/"+row.id+"/\" target=\"_blank\">https://fb.com/"+row.id+"</a>";
      } 
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '457341845506141',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v10.0'
        });
      };
    script(async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js")


    //-hr
     button.btn.btn-primary.btn-lg.btn-block(type='submit')=__("Save")