extends ../layout_admin

block content
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2="Subscriptions"
  .pr-sm-3.pl-sm-3.pb-3.mb-3(style="color:#000")
    .pb-2.mb-3.border-bottom
      .row
        .col-md-5
          b=global.__('CALL/EVENT')
        .col-md-3
          b=global.__('PERFORMANCE')
        .col-md-2
          b=global.__('STATUS')
        .col-md-2
          b=global.__('ACTIONS')
    if data.length
      each item, index in data
        if item.performance
          .border-bottom.mb-3(id='sub'+item._id)                  
            .row.pb-3(id='heading'+index)
              .col-md-5
                span.mr-2!=(index+1)
                button.mr-2.btn.btn-primary.btn-sm.btn-inline(type='button', data-toggle='collapse', data-target='#collapse'+index, aria-expanded='false', aria-controls='collapse'+index)=global.__('MORE')
                span
                  if item.call && item.event.organizationsettings.call.calls && item.event.organizationsettings.call.calls[item.call]
                    !=item.event.organizationsettings.call.calls[item.call].title
                    !=" "
                    !=global.__('by')
                    !=" "
                  a(href="/events/"+item.event.slug, target="_blank")=item.event.title
              .col-md-3
                  a(href="/performances/"+item.performance.slug, target="_blank")=item.performance.title

              .col-md-2
                //!=item.status._id
                if item.status._id=="5c38c57d9d426a9522c15ba5"
                  .badge.badge-info=item.status.name
                if item.status._id=="5be8708afc3961000000019e"
                  .badge.badge-warning=item.status.name
                if item.status._id=="5be8708afc39610000000013"
                  .badge.badge-success.mr-1=item.status.name
                  if (item.schedule && item.schedule.length && item.schedule[0].starttime)
                    .badge.badge-success=global.__('scheduled')
                  else
                    .badge.badge-warning=global.__('To be scheduled')

              .col-md-2
                if item.status._id=="5c38c57d9d426a9522c15ba5"
                  .badge.badge-info.mb-2=global.__('Wait for the evaluation')
                if item.status._id=="5be8708afc3961000000019e"
                  .badge.badge-info.mb-2=global.__('Waiting your confirm')
                  a.mr-2.mb-2.btn.btn-success.btn-sm.btn-inline(href='#collapse'+index, data-toggle='collapse', aria-expanded='true', aria-controls='collapse'+index)=global.__('Confirm')
                if item.status._id!="5be8708afc39610000000013"
                  button.mr-2.btn.btn-danger.btn-sm.btn-inline.cancel-sub-profile(type='button', data-id=item._id)=global.__('Cancel your proposal')
            .collapse(id='collapse'+index)
              table.table
                tr
                  th(scope="row")
                    .text-right
                      b=global.__('Call')
                  td
                    if item.call && item.event.organizationsettings.call.calls && item.event.organizationsettings.call.calls[item.call]
                      h4=item.event.organizationsettings.call.calls[item.call].title
                    else 
                      h4=item.event.title
                    //p=global.__("Start date")+": "+item.event.organizationsettings.call.calls[item.call].start_date_formatted+" | "+global.__("End date")+": "+item.event.organizationsettings.call.calls[item.call].end_date+" | "+global.__("Email")+": "+item.event.organizationsettings.call.calls[item.call].email
                      - var admitted = []
                      - for(var b=0;b<item.event.organizationsettings.call.calls[item.call].admitted.length;b++)
                        - admitted.push(item.event.organizationsettings.call.calls[item.call].admitted[b])
                      - var topics = []
                      - for(var b=0;b<item.event.organizationsettings.call.calls[item.call].topics.length;b++)
                        - topics.push(item.event.organizationsettings.call.calls[item.call].topics[b].name)
                      p=global.__("Admitted projects") + ": "
                      ul
                        each cat in admitted
                          li=cat.name
                      p=global.__("Topics") + ": " + topics.join(", ")
                      p=item.event.organizationsettings.call.calls[item.call].excerpt

                tr
                  th(scope="row")
                    .text-right
                      b=global.__('Topics')
                  td
                    p=item.topics.join(", ")
                tr
                  th(scope="row")
                    .text-right
                      b=global.__('Proposal Name')
                  td
                    h5=item.performance.title
                tr
                  th(scope="row")
                    .text-right
                      if item.performance.users.lenght>1
                        b=global.__('Authors')
                      else
                        b=global.__('Author')
                  td
                    ul.mb-0
                      each performer in item.performance.users
                        li=performer.stagename
                tr
                  th(scope="row")
                    .text-right
                      b=global.__('Reference')
                  td
                    if user.mobile && user.mobile.length
                      !=user.name+" "+user.surname
                tr
                  th(scope="row")
                    .text-right
                      b=global.__('Reference Email')
                  td
                    if user.mobile && user.mobile.length
                      !=user.email
                tr
                  th(scope="row")
                    .text-right
                      b=global.__('Reference Mobile')
                  td
                    if user.mobile && user.mobile.length
                      !=user.mobile.map(function(item) {return item.url}).join(", ")
                tr
                  th(scope="row")
                    .text-right
                      if item.subscriptions.lenght>1
                        b=global.__('Authors') + " " + global.__('availability')
                      else
                        b=global.__('Author') + " " + global.__('availability')
                  td
                    - var subscribers = []
                    each subscription in item.subscriptions
                      if subscription.subscriber_id && subscribers.indexOf(subscription.subscriber_id)==-1
                        - subscribers.push(subscription.subscriber_id)
                        li
                          b=subscription.subscriber_id.stagename
                          ul
                            each day in subscription.days
                              - var d = new Date(day)
                              - var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                              - var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                              li= days[d.getDay()] + " " + d.getDate() + " " + months[d.getMonth()] + " " + d.getFullYear()
                tr
                  th(scope="row")
                    .text-right
                      b=global.__('Packages')
                  td
                    table.table(style="background:none;")
                      - var total = 0;
                      - var subscribers = []
                      - var itemdescriptions = []
                      - itemdescriptions[index] = global.__('Subscription to') + " " + item.event.title 
                      - //itemdescriptions[index]+= " call " + item.event.organizationsettings.call.calls[item.call].title
                      - itemdescriptions[index]+= " " + global.__('with') + " " + item.performance.title
                      - //itemdescriptions[index]+= "\\n" + global.__('Peoples:')
                      each subscription in item.subscriptions
                        if subscription.subscriber_id && subscribers.indexOf(subscription.subscriber_id)==-1
                          - subscribers.push(subscription.subscriber_id)
                          - var subscriber_total = 0;
                          tr
                            td(colspan="3",style="border-top:0;")
                              h4.mb-0=subscription.subscriber_id.stagename
                          if subscription.freezed
                            tr
                              td(colspan="3")
                                b!=global.__("This person is already in with another act and already choose his packages")
                          else
                            - itemdescriptions[index]+= " "+subscription.subscriber_id.stagename+""
                            each package in subscription.packages
                              tr
                                - if (package.daily)
                                  - total+=package.price*subscription.days.length
                                  - subscriber_total+=package.price*subscription.days.length
                                - else 
                                  - total+=package.price
                                  - subscriber_total+=package.price
                                td
                                  - //itemdescriptions[index]+= "\\n"+package.name
                                  //+"\\n"+package.description
                                  h5!=package.name + (package.requested ? " ("+global.__("requested")+")" : "")
                                  div!=package.description
                                  - if (package.allow_options)
                                    - //itemdescriptions[index]+= "\\n"+package.options_name+": "+package.option
                                    p=package.options_name+": "+package.option
                                td
                                  .text-right
                                    if package.personal && package.daily
                                      div=global.__("per person/per day")
                                    else if package.personal 
                                      div=global.__("per person")
                                    else if package.daily 
                                      div=global.__("per day")
                                td
                                  .text-right="€ "+package.price
                              if package.daily
                                tr
                                  td(style="border-top:0;")
                                    if subscription.days.length == 1
                                      !=subscription.days.length + " " + global.__('day')
                                    else
                                      !=subscription.days.length + " " + global.__('days')
                                  td(style="border-top:0;")
                                    .text-right
                                      !=global.__("Total")
                                  td(style="border-top:0;")
                                    .text-right
                                      !="€ "+(package.price*subscription.days.length)
                            tr
                              td(colspan="2")
                                b=global.__('Total amount for')+" "+subscription.subscriber_id.stagename
                              td
                                .text-right
                                  b="€ "+subscriber_total
                      - var itemdescription = itemdescriptions[index].length > 126 ? itemdescriptions[index].substring(0,123)+"..." : itemdescriptions[index]

                      tr(id='pay'+index)
                        td(colspan="2", style="border-top:0;")
                          if item.status._id=="5c38c57d9d426a9522c15ba5"
                            !=global.__("Amount to pay if the submission will be approved")
                          if item.status._id=="5be8708afc3961000000019e"
                            !=global.__("Amount to pay to confirm you participation")
                          if item.status._id=="5be8708afc39610000000013"
                            !=global.__("Amount paid")
                        td(style="border-top:0;")
                          .text-right="€ "+total
                          if item.status._id=="5be8708afc3961000000019e" && total>0
                            div(id='paybutton'+index)
                            script.
                              paypal.Buttons({
                                createOrder: function(data, actions) {
                                  return actions.order.create({
                                    "intent": "CAPTURE",
                                    "application_context": {
                                      "brand_name": "#{item.event.title}",
                                      "shipping_preference": "NO_SHIPPING"
                                    },

                                    "purchase_units": [
                                      {
                                        "reference_id": "#{item._id}",
                                        "description": "#{itemdescription}",
                                        "amount": {
                                          "currency": "EURO",
                                          "value": "#{total}"
                                        }
                                      }
                                    ]
                                  });
                                },
                                onApprove: function(data, actions) {
                                  return actions.order.capture().then(function(details) {
                                    
                                    return fetch('/admin/api/subscriptionupdate', {
                                      method: 'post',
                                      headers: {
                                        'Content-Type': 'application/json'
                                      },
                                      body: JSON.stringify({
                                        orderID: data.orderID,
                                        id: "#{item._id}",
                                        status: "5be8708afc39610000000013"
                                      })
                                    })
                                    .then(alert('Transaction completed by ' + details.payer.name.given_name))
                                    .then(location.reload());
                                  });
                                }
                              }).render('#paybutton#{index}');




