extends ../layout

block content
  .container
    .row
      .col-md-6.offset-md-3
        .pb-5
          form(method='post', action="/password/reset")
            input(type='hidden', name='token', value=token)
            .form-group
              label(for='password')=global.__('New Password')
              input.form-control(type='password', name='password', id='password', placeholder=global.__('New Password'), required)
              small=global.__("Password minimum length is 8 characters and have to contain at least 1 number, 1 lower case and 1 uppercase characters")
            .form-group
              label(for='retypePassword')=global.__('Confirm Password')
              input.form-control(type='password', name='retypePassword', id='retypePassword', placeholder=global.__('Confirm Password'), required)
            .form-group
              button.btn.btn-primary.btn-success(type='submit')=global.__('Save & Continue')
                i.icon-angle-right.fa-fw
