.event_item_wrapper  
  .event_item_info_wrapper
    a(href="/events/"+item.slug, title=item.title)
      h4.event_item_title=item.title
    ul.event_item_date_and_locality.list-inline
      li.list-inline-item.event_item_date=item.boxDate
      li.list-inline-item.event_item_locality_paese=item.boxVenue  
    span.open_call_home!=global.__('Open call')      