.footage_item_wrapper
  if item && item.imageFormats && item.imageFormats.large
    a(href="/footage/"+item.slug+"/", title=item.title)
      img.card-img-top.img-fluid(
        src=item.imageFormats.small
        alt=item.title
      )
  .footage_item_info_wrapper
    a(href="/footage/"+item.slug+"/", title=item.title)
      h4.footage_item_title=item.title
    if item.tags
      ul.list-inline.category_footage_item
        each tag in item.tags
          li.list-inline-item=tag.tag              
    
      //if item.users
      .users_footage_item_wrapper
        .flex_left
          div
            p.users_footage_item_views=item.stats.visits+" "+global.__("views")
        .flex_right
          .users_footage_item_likes
            span.color2.lnr.lnr-heart
            br
            span=item.stats.likes+" "+global.__("likes")          
