- if (!basepath) basepath = "/galleries/"+data.slug
.video_item_wrapper
  if item.imageFormats
    a(href=basepath+"/img/"+item.slug+"/", title=item.title)
      img.card-img-top.img-fluid(
        src=item.imageFormats.small
        alt=item.title
      )
  .video_item_info_wrapper
    a(href=basepath+"/img/"+item.slug+"/", title=item.title)
      h4.video_item_title=item.title
    if item.users
      .users_video_item_wrapper
        each user in item.users
          div
            img(class=user.imageFormats.small.substring(user.imageFormats.small.lastIndexOf(".")+1), src=user.imageFormats.small, alt=user.stagename)
          div
            p.users_video_item_name=user.stagename
            p.users_video_item_views=item.stats && item.stats.visits ? item.stats.visits : 0+" "+global.__("views")
        .users_video_item_likes
          span.color2.lnr.lnr-heart
          br
          span=item.stats && item.stats.likes ? item.stats.likes : 0+" "+global.__("likes")