.performer_item_wrapper
  if item.imageFormats
    a(href="/"+item.slug+"/", stagename=item.stagename, title=item.stagename)
      img.card-img-top.img-fluid(
        class=item.imageFormats.small.substring(item.imageFormats.small.lastIndexOf(".")+1)
        src=item.imageFormats.small
        alt=item.stagename
      )
  .performer_item_info_wrapper
    a(href="/"+item.slug+"/", stagename=item.stagename, title=item.stagename)
      h4.performer_item_title=item.stagename
    ul.list-inline.performer_infos_list
      //if item.stats && item.stats.performances      
          li!="<span>"+item.stats.performances+"</span> "+global.__('Performances')
        if item.stats && item.stats.events      
          li!="<span>"+item.stats.events+"</span> "+global.__('Events')
        if item.stats && item.stats.news      
          li!="<span>"+item.stats.news+"</span> "+global.__('News')
      if item.stats && item.stats["av-performance"]      
        li!="<span>"+item.stats["av-performance"]+"</span> "+global.__('AV Performances')
      if item.stats && item.stats["mapping"]      
        li!="<span>"+item.stats["mapping"]+"</span> "+global.__('Mappings')
      if item.stats && item.stats["vj-set"]      
        li!="<span>"+item.stats["vj-set"]+"</span> "+global.__('VJ Sets')
      if item.stats && item.stats["video-installation"]      
        li!="<span>"+item.stats["video-installation"]+"</span> "+global.__('AV Installations')
      if item.stats && item.stats["workshop"]      
        li!="<span>"+item.stats["workshop"]+"</span> "+global.__('Workshops')
      if item.stats && item.stats["lecture"]      
        li!="<span>"+item.stats["lecture"]+"</span> "+global.__('Lectures')
      if item.stats && item.stats["project-showcase"]      
        li!="<span>"+item.stats["project-showcase"]+"</span> "+global.__('Project showcases')
      if item.stats && item.stats["lights-installation"]      
        li!="<span>"+item.stats["lights-installation"]+"</span> "+global.__('Lights Installations')
      if item.stats && item.stats["dj-set"]      
        li!="<span>"+item.stats["dj-set"]+"</span> "+global.__('DJ Sets')
      if item.stats && item.stats.videos      
        li!="<span>"+item.stats.videos+"</span> "+global.__('Videos')
      if item.stats && item.stats.galleries      
        li!="<span>"+item.stats.galleries+"</span> "+global.__('Galleries')
      if item.stats && item.stats.footage      
        li!="<span>"+item.stats.footage+"</span> "+global.__('Footage')
      if item.stats && item.stats.playlists      
        li!="<span>"+item.stats.playlists+"</span> "+global.__('Playlists')
