.performance_item_wrapper
    .row
        .col-sm-6
            if item.imageFormats
                a(href="/performances/"+item.slug+"/", title=item.title)
                    img.card-img-top.img-fluid(
                        src=item.imageFormats.small
                        alt=item.title
                        width="400"
                        height="225"
                    )
        .col-sm-6
  
            .performance_item_info_wrapper.mt-3.mt-md-0
                a(href="/performances/"+item.slug+"/", title=item.title)
                    h4=item.title
                if item.categories
                    ul.list-inline.category_performance_item
                        each category in item.categories
                            li.list-inline-item=category.name
                if item.users
                    .performance_users_item_wrapper.mb-2
                        .flex_left      
                            if (item.users.length > 1)
                                div
                                    img.img-fluid(src="/images/icon_authors.svg", width="50", height="50", alt=global.__("Multiple performers"))
                                div
                                    p.users_performance_item_name=item.users.length+" "+global.__("performers")
                                    p.users_performance_item_views=item.stats.visits+" "+global.__("views")
                            else              
                                each user in item.users
                                    div
                                        img(class=user.imageFormats.small.substring(user.imageFormats.small.lastIndexOf(".")+1), src=user.imageFormats.small, alt=user.stagename, width="50", height="50")
                                    div
                                        p.users_performance_item_name=user.stagename
                                        p.users_performance_item_views=item.stats.visits+" "+global.__("views")
                        .flex_right      
                            .users_performance_item_likes
                                span.color2.icon-heart
                                br
                                span.text-nowrap=item.stats.likes+" "+global.__("likes")                
                p.performance_about!=item.description