.performance_item_wrapper
  if item.imageFormats
    a(href="/"+item.slug, stagename=item.stagename)
      img.card-img-top.img-fluid(
        src=item.imageFormats.large
        alt=item.stagename
      )
  .performance_item_info_wrapper
    a(href="/"+item.slug, stagename=item.stagename)
      h4.performance_item_title=item.stagename
    if item.categories
      ul.list-inline.category_performance_item
        each category, index in item.stats
          li.list-inline-item=index+": "+category
