- if (!basepath) basepath = ""
.video_item_wrapper
  if item.media && !item.media.preview && item.media.iframe
    div(style="position:relative")
      div(style="position:relative")
        !=item.media.iframe
      a(href=basepath+"/videos/"+item.slug+"/", title=item.title, style="position: absolute; width: 100%;height: 100%;display: block;top: 0;")
  else if item.imageFormats
    a(href=basepath+"/videos/"+item.slug+"/", title=item.title)
      img.card-img-top.img-fluid(
        src=item.imageFormats.small
        alt=item.title
      )
  .video_item_info_wrapper
    a(href=basepath+"/videos/"+item.slug+"/", title=item.title)
      h4.video_item_title=item.title
    .category_video_item
      .row
        .col-sm-6
          if item.categories
            ul.list-inline.mb-2
              each category in item.categories
                li.list-inline-item=category.name
        .col-sm-6
          if item.media && item.media.durationHR
            .text-right.mb-2=item.media.durationHR

    if item.users
      .users_video_item_wrapper
        .flex_left      
          if (item.users.length > 1)
            div
              img.img-fluid(src="/images/more_users.svg")
            div
              p.users_video_item_name=item.users.length+" "+global.__("authors")
              p.users_video_item_views=item.stats.visits+" "+global.__("views")
          else              
            each user in item.users
              div
                img(class=user.imageFormats.small.substring(user.imageFormats.small.lastIndexOf(".")+1), src=user.imageFormats.small, alt=user.stagename)
              div
                p.users_video_item_name=user.stagename
                p.users_video_item_views=item.stats.visits+" "+global.__("views")
        .flex_right      
          .users_performance_item_likes
            span.color2.lnr.lnr-heart
            br
            span.text-nowrap=item.stats.likes+" "+global.__("likes")