if messages.errors
  .container.mt-3
    .alert.alert-danger
      h4=global.__("ERROR")
      for error in messages.errors
        if error instanceof Object
          - console.log(error)
          if (typeof error.msg === 'string' || error.msg instanceof String)
            - //error.msg = JSON.parse(error.msg)
            div!=error.msg
        if Object.keys(error.msg).length
          ul.mb-0
            for item in error.msg
              for err in item
                if err instanceof Object && err.length
                  for err2 in err
                    if err2.message
                      li!=err2.message
                else
                  if err.message
                    li!=err.message
        else if error.msg.message
          div!=error.msg.message
        else
          div!=error.msg

if messages.info
  .container.mt-3
    .alert.alert-info
      for info in messages.info
        div!=info.msg
if messages.success
  .container.mt-3
    .alert.alert-success
      for success in messages.success
        div!=success.msg
