ul.navbar-nav.mr-auto
  li.nav-item
    a.nav-link(href='/performers/')=global.__('Performers')
  li.nav-item
    a.nav-link(href='/performances/')=global.__('Performances')
  li.nav-item
    a.nav-link(href='/learnings/')=global.__('Learnings')
  li.nav-item
    a.nav-link(href='/organizations/')=global.__('Organizations')
  li.nav-item
    a.nav-link(href='/events/')=global.__('Events')
  //li.nav-item
    a.nav-link(href='/footage/')=global.__('Footage')
  //li.nav-item
    a.nav-link(href='/playlists/')=global.__('Playlists')
  li.nav-item
    a.nav-link(href='/videos/')=global.__('Videos')
  li.nav-item
    a.nav-link(href='/news/')=global.__('News')

