ul.list-inline.share_like_list
    li.list-inline-item
        a(href="javascript:window.open('https://www.addtoany.com/share_save?linkurl='+encodeURIComponent(document.URL), 'Share Dialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,width=650,height=450,top='+(screen.height/2-450/2)+',left='+(screen.width/2-650/2));")
            .share_button.button_share_like
                img(src="/images/icon_share.svg")        
            .label_like_button_wrapper
                span.label_like_button="share"
    - var payload = data.img ? "{\"section\":\""+section+"\",\"id\":\""+data._id+"\",\"img_index\":\""+data.img.index+"\",\"img_slug\":\""+data.img.slug+"\"}" : "{\"section\":\""+section+"\",\"id\":\""+data._id+"\"}" 
    li.list-inline-item
        button#liker.btn.btn-primary.button_share_like(type="button" data-endpoint="/likes/" data-method="GET" data-payload=payload style=data.liked ? "opacity: .65;" : undefined)
            .share_button
                img(src=data.liked ? "/images/icon_like_full.svg" : "/images/icon_like.svg")
            .label_like_button_wrapper
                span.label_like_button=data.liked ? "Unlike" : "Like"        