extends ../layout

block teaser
  if tvshow.teaserImage
    .d-flex.justify-content-center.align-items-start
      img.card-img-top.img-fluid(
        src=`${tvshow.teaserImageFormats.large}`
        alt=`${tvshow.name}`
      )

block title
  if title
    .jumbotron.jumbotron-fluid
      .container
        .row
          .col-lg-8
            h1.display-4=title
            p=tvshow.about
          .col-lg-4
            if tvshow.image
              img.card-img-top.img-fluid(
                src=tvshow.imageFormats.medium
                alt=tvshow.title
              )

block content
  .row
    .col-lg-12
      h3=__('Members')
      .card-columns
        //each member in tvshow.members
          .card
            if member.image
              img.card-img-top.img-fluid(
                src=member.imageFormats.medium
                alt=member.name
              )
            .card-block
              h4.card-title
                =member.stagename
              a.btn.btn-primary(href=member.publicUrl)=__('More')
