extends ../layout_oembed

block content
  .oembed
      if data.media && data.media.file
        .toclone
          table
            tr
              td
                .users_video_item_wrapper
                  .flex
                      img(class=data.users[0].imageFormats.small.substring(data.users[0].imageFormats.small.lastIndexOf(".")+1), src=data.users[0].imageFormats.small, alt=data.users[0].stagename)
                  .flex
                    h1
                      a(href="https://avnode.net/videos/"+data.slug+"/")=data.title
                    .users_performance_item_name
                      !=__("Author")+": "
                      a.mr-3(href="/"+data.users[0].slug+"/")=data.users[0].stagename
                      if data.users[0].addressesFormatted && data.users[0].addressesFormatted.length
                        !=" | "
                        span.users_performance_item_country!=data.users[0].addressesFormatted.join(", ")
              td(style="width:50px")
                ul.share_like_list
                  li
                    a(href="javascript:myModal.open();")
                      .share_button
                          img(src="/images/embed_icon.svg")        
                      .label_like_button_wrapper
                          span.label_like_button="embed"
                  li
                    a(href="javascript:window.open('https://www.addtoany.com/share_save?linkurl='+encodeURIComponent(document.URL), 'Share Dialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,width=650,height=450,top='+(screen.height/2-450/2)+',left='+(screen.width/2-650/2));")
                      .share_button
                          img(src="/images/share_icon.svg")        
                      .label_like_button_wrapper
                          span.label_like_button="share"
                  - var payload = data.img ? "{\"section\":\""+section+"\",\"id\":\""+data._id+"\",\"img_index\":\""+data.img.index+"\",\"img_slug\":\""+data.img.slug+"\"}" : "{\"section\":\""+section+"\",\"id\":\""+data._id+"\"}" 
                  li
                    button#liker.button_share_like(type="button" data-endpoint="/likes/" data-method="GET" data-payload=payload style=data.liked ? "opacity: .65;" : undefined)
                      .share_button
                          img(src=data.liked ? "/images/like_full_icon.svg" : "/images/like_icon.svg")
                      .label_like_button_wrapper
                          span.label_like_button=data.liked ? "Unlike" : "Like"        
        video#my-video.video-js.vjs-big-play-centered(disablePictureInPicture width='100%', height='100%', poster=data.imageFormats.large)
          source(src=process.env.WAREHOUSE+data.media.file, type='video/mp4')
          //source(src='MY_VIDEO.webm', type='video/webm')
          p.vjs-no-js
            !=global.__("To view this video please enable JavaScript, and consider upgrading to a web browser that supports")
            a(href='http://videojs.com/html5-video-support/', target='_blank')=!"HTML5 video"
      if data.media && data.media.iframe
        !=data.media.iframe
