extends ../layout

block teaser

block title
  if data.title
    .container
      .row.performer_title
        .col-lg-9
          h1.main_title=data.title
            if editable
              !="  "
              a.badge.badge-danger(href="/admin/videos/"+data._id+"/public")=global.__("EDIT")
          if data.stats
            .performance_stat_container
              .performance_stat_wrapper
                ul
                  if data.stats.visits
                    li=data.stats.visits + ' ' + global.__('Views')
                  li
                    span.likes_count=data.stats.likes ? data.stats.likes : 0
                    !=' ' + global.__('Likes')
                  if data.stats.downloads
                    li=data.stats.downloads + ' ' + global.__('Downloads')
        .col-lg-3.share_like_list_column
          include ../partials/share_like

block content
  .container
    .row
      .col-md-8
        if data.media && data.media.file
          .embed-responsive.embed-responsive-16by9
            video.embed-responsive-item#my-video.video-js(controls='', preload='auto', width='640', height='264', poster=data.imageFormats.large, data-setup='{"aspectRatio":"16:9", "fluid": true}')
              source(src=process.env.WAREHOUSE+data.media.file, type='video/mp4')
              //source(src='MY_VIDEO.webm', type='video/webm')
              p.vjs-no-js
                !=global.__("To view this video please enable JavaScript, and consider upgrading to a web browser that")
                a(href='http://videojs.com/html5-video-support/', target='_blank')=!global.__("supports HTML5 video")

      .col-md-4.data_footage_video
        .data_footage_video_wrapper
          h3=__("Data")
          if data.media && data.media.file
            ul
              li=global.__('File name')+": "
                b=data.media.file.substring(data.media.file.lastIndexOf("/")+1)
              li=global.__('File size')+": "
                b=( data.media.filesize / Math.pow(1024, Math.floor( Math.log(data.media.filesize) / Math.log(1024) )) ).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][Math.floor( Math.log(data.media.filesize) / Math.log(1024) )]
              li=global.__('File duration')+": "
                b=data.media.duration
              li=global.__('File type')+": "
                b=ext
        if data.tags
          .data_footage_video_wrapper
            h3=__("Tags")
            ul.list-inline.category_performance_item
              each tag in data.tags
                li.list-inline-item=tag.tag
        if data.about
          .data_footage_video_wrapper
            h3=__("About")
            .pt-2.pb-2!=data.about
        .data_footage_video_wrapper
          h3=__("Author")
          each user in data.users
            .users_video_item_wrapper
              .media
                a.mr-3(href="/"+user.slug+"/")
                  img(class=user.imageFormats.small.substring(user.imageFormats.small.lastIndexOf(".")+1), src=user.imageFormats.small, alt=user.stagename)
                .media-body
                  p.users_performance_item_name
                    a.mr-3(href="/"+user.slug+"/")=user.stagename
                  if user.addressesFormatted && user.addressesFormatted.length
                    p.users_performance_item_country!=user.addressesFormatted.join(", ")


      
    if data.events && data.events.length 
      h2.mt-5.main_title.indented_title.color1=__("Events")
      .row.mb-5
        each item in data.events
          .col-md-4
            include ../partials/boxEvent
    if data.performances && data.performances.length 
      h2.mt-5.main_title.indented_title.color1=__("Performances")
      .row.mb-5
        each item in data.performances
          .col-md-4
            include ../partials/boxPerformance

