extends ../../layout
block content 
  br
  ul.nav.nav-pills.mb-3.mt-1
    li.nav-item
      a.nav-link.active.mr-1(href=currentUrl)="ALL"
    li.nav-item
      a.nav-link.active.mr-1(href=currentUrl+'?q=OK')="OK"
    li.nav-item
      a.nav-link.active.mr-1(href=currentUrl+'?q=CHECK')="CHECK"
    li.nav-item
      a.nav-link.active.mr-1(href=currentUrl+'?q=ZERO_RESULTS')="ZERO_RESULTS"
    li.nav-item
      a.nav-link.active.mr-1(href=currentUrl+'?q=INVALID_REQUEST')="INVALID_REQUEST"
    li.nav-item
      .nav-link='Results: '+data.length+' records'
  table.table
    tr
      td N°
      td country
      td locality
      td status
      td formatted_address
      td lng;lat
    if data
      each add, index in data
        tr
          td=index
          td
            if !add.country 
              span.badge.badge-info="MISSING COUNTRY"
            else
              span.country=add.country+" "
              if !add.status 
                span.badge.badge-warning TO GET
              else if add.country == add.country_new
                span.badge.badge-success OK
              else if !add.country_new
                a(href="#", onclick='ajax(this.parentElement,"'+add.country+'","'+add.locality+'","country","REMOVE");return false;').badge.badge-danger="REMOVE"
              else if add.country_new && add.country!=add.country_new
                a(href="#", onclick='ajax(this.parentElement,"'+add.country+'","'+add.locality+'","country","CHANGE","'+add.country+'","'+add.country_new+'");return false;').badge.badge-danger="CHANGE TO: "+add.country_new
                !=" "
                a(href="#", onclick='ajax(this.parentElement,"'+add.country+'","'+add.locality+'","country","REMOVE");return false;').badge.badge-danger="REMOVE"
              else
                span.badge.badge-danger="BIG PROBLEMS"
          td
            if !add.locality 
              span.badge.badge-info="MISSING LOCALITY"
            else
              span.locality=add.locality+" "
              if !add.status 
                span.badge.badge-warning TO GET
              else if add.locality == add.locality_new
                span.badge.badge-success OK
              else if !add.locality_new
                a(href="#", onclick='ajax(this.parentElement,"'+add.country+'","'+add.locality+'","locality","REMOVE");return false;').badge.badge-danger="REMOVE"
              else if add.locality_new && add.locality!=add.locality_new
                a(href="#", onclick='ajax(this.parentElement,"'+add.country+'","'+add.locality+'","locality","CHANGE","'+add.locality+'","'+add.locality_new+'");return false;').badge.badge-danger="CHANGE TO: "+add.locality_new
                !=" "
                a(href="#", onclick='ajax(this.parentElement,"'+add.country+'","'+add.locality+'","locality","REMOVE");return false;').badge.badge-danger="REMOVE"
              else
                span.badge.badge-danger="BIG PROBLEMS"
          td=add.status
          td=(add.formatted_address ? add.formatted_address : add.localityOld.join(', '))
          td=(add.geometry && add.geometry.lng && add.geometry.lat ? add.geometry.lng+";"+add.geometry.lat : "EMPTY")
  script.
    function ajax(elem, country, locality, field, action, old, neww) {
      $.ajax({
        method: "GET",
        url: "/admin/api/removeAddress",
        data: { db: "users", country: country, locality: locality, field:field, action:action, old:old, new:neww }
      })
      .done(function( msg ) {
      });
    }
