if data.advanced
	.text-right
		each item in data.advanced.menu
			if item.days || item.types
				.btn-group.ml-3.mb-3
					a.btn.btn-primary(href="/events/"+data.slug+"/"+item.slug+"/")=item.name
					a.btn.btn-primary.dropdown-toggle.dropdown-toggle-split(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						span.sr-only=__("Program menu")
					.dropdown-menu
						each item2 in item.days
							a.dropdown-item(href="/events/"+data.slug+"/program/day/"+item2.slug+"/")=item2.name
						each item2 in item.types
							a.dropdown-item(href="/events/"+data.slug+"/program/type/"+item2.slug+"/")=item2.name
			else
				a.mb-3.btn.btn-primary.ml-3(href="/events/"+data.slug+"/"+item.slug+"/")=item.name
