extends ../layout
block title
  if data.imageFormats
    .container
      .event_main_image_wrapper
        img.img-fluid.event_main_image(src=data.imageFormats.large, alt=data.title)
        img.expand_image_event(src="/images/expand_image_event.svg")

  
  .wrapper_header_evento
    .container
      .row
        .col-lg-12
          header.header_event
            .row
              .col-lg-9
                h1.main_title=data.title
                  if editable
                    !="  "
                    a.badge.badge-danger(href="/admin/events/"+data._id+"/public")=global.__("EDIT")
                if data.stats
                  .performance_stat_container
                    .performance_stat_wrapper
                      ul
                        if data.stats.visits
                          li=data.stats.visits + ' ' + global.__('Views')
                        li
                          span.likes_count=data.stats.likes ? data.stats.likes : 0
                          !=' ' + global.__('Likes')                      
              .col-lg-3.mt-md-4
                include ../partials/share_like
            p.subtitle=data.subtitle && data.subtitle!= "Text is missing" ? data.subtitle : data.boxDate
            .row
              .col-lg-9
                if data.boxVenue
                  p.boxVenue!=data.boxVenue
                  p
                    a(data-toggle='collapse', href="javascript:void(0);", data-target='#fullSchedule', role='button', aria-expanded='false', aria-controls='fullSchedule')=global.__("Full schedule")
                  #fullSchedule.collapse
                    ul
                      each fullSchedule in data.fullSchedule
                        li!=fullSchedule
              .col-lg-3
                if data.type
                  p.text-right
                    i.icon-cube
                    =" "
                    !=data.type.name
            include eventSubmenu

      include ../partials/eventWebSocial

block content
  if data.galleries.length  
    section
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=global.__('Galleries')+" <small>(<span>"+data.galleries.length+"</span>)</small>"  
              .row
                each item in data.galleries
                  .col-lg-4.col-md-6.list_item
                    include ../partials/boxGallery
