extends ../layout
block title
  if data.imageFormats
    .container
      .event_main_image_wrapper
        img.img-fluid.event_main_image(src=data.imageFormats.large, alt=data.title)
        img.expand_image_event(src="/images/expand_image_event.svg")

  
  .wrapper_header_evento
    .container
      .row
        .col-lg-12
          header.header_event
            .row
              .col-lg-9
                h1.main_title=data.title
                  if editable
                    !="  "
                    a.badge.badge-danger(href="/admin/events/"+data._id+"/public")=global.__("EDIT")
                if data.stats
                  .performance_stat_container
                    .performance_stat_wrapper
                      ul
                        if data.stats.visits
                          li=data.stats.visits + ' ' + global.__('Views')
                        li
                          span.likes_count=data.stats.likes ? data.stats.likes : 0
                          !=' ' + global.__('Likes')                      
              .col-lg-3.share_like_list_column
                include ../partials/share_like
            p.subtitle=data.subtitle && data.subtitle!= "Text is missing" ? data.subtitle : data.boxDate
            .row
              .col-lg-9
                if data.boxVenue
                  p.boxVenue=data.boxVenue
                  p
                    a(data-toggle='collapse', href="javascript:void(0);", data-target='#fullSchedule', role='button', aria-expanded='false', aria-controls='fullSchedule')=global.__("Full schedule")
                  #fullSchedule.collapse
                    ul
                      each fullSchedule in data.fullSchedule
                        li=fullSchedule
              .col-lg-3
                if data.type
                  p.text-right
                    i.icon-cube
                    =" "
                    !=data.type.name
            if data.advanced
              .text-right.mb-3
                each item in data.advanced.menu
                  if item.days || item.types
                    .btn-group.ml-3
                      a.btn.btn-primary(href="/events/"+data.slug+"/"+item.slug+"/")=item.name
                      a.btn.btn-primary.dropdown-toggle.dropdown-toggle-split( data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        .sr-only Toggle Dropdown
                      .dropdown-menu
                        each item2 in item.days
                          a.dropdown-item(href="/events/"+data.slug+"/program/day/"+item2.slug+"/")=item2.name
                        each item2 in item.types
                          a.dropdown-item(href="/events/"+data.slug+"/program/type/"+item2.slug+"/")=item2.name
                  else
                    a.btn.btn-primary.ml-3(href="/events/"+data.slug+"/"+item.slug+"/")=item.name

      .row
        .col
          ul.links_list.list-inline
            each item in data.web
              li.list-inline-item.mb-3
                a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                  span.icon-link-light.about_button
            each item in data.social
              if item.url.indexOf('instagram.com/')!=-1
                li.list-inline-item.mb-3
                  - var tooltip = item.url.replace("http://","").replace("https://","").split("/")
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                    i.icon-instagram.about_button
              else if item.url.indexOf('twitter.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-twitter.about_button
              else if item.url.indexOf('facebook.com/')!=-1 || item.url.indexOf('fb.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-facebook.about_button
              else if item.url.indexOf('vimeo.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-vimeo.about_button
              else if item.url.indexOf('youtube.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-youtube.about_button
              else
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    span.icon-link-light.about_button
        if data.participate
          .col            
            p.text-right
              a.participate.btn.btn-primary(href="/events/"+data.slug+"/participate/")=global.__('Participate')
block content
  if data.galleries.length  
    section
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=global.__('Galleries')+" <small>(<span>"+data.galleries.length+"</span>)</small>"  
              .row
                each item in data.galleries
                  .col-lg-4.col-md-6.list_item
                    include ../partials/boxGallery
