extends ../layout

block content
  .card-columns
    each item in data
      .card
        if item.image
          img.card-img-top.img-fluid(
            src=`${item.image.publicUrl}`
            alt=`${item.name} profile image`
          )
        img.card-img-top.img-fluid(
          src=item.cardUrl
          alt=item.name
        )
        .card-block
          h4.card-title
            =item.title
          if item.subtitle
            p.card-subtitle.mb-3.text-muted
              =item.subtitle
          a.btn.btn-primary(href=item.publicUrl)=__('More')
