extends ../layout


//- block teaser
//-   if data.teaserImage
//-     .d-flex.justify-content-center.align-items-start
//-       img.card-img-top.img-fluid(
//-         src=`${data.teaserImageFormats.large}`
//-         alt=`${data.name}`
//-       )

block title
  if data.imageFormats
    .container
      .event_main_image_wrapper
        img.img-fluid.event_main_image(src=data.imageFormats.large, alt=data.title)
        img.expand_image_event(src="/images/expand_image_event.svg")

  
  .wrapper_header_evento
    .container
      .row
        .col-lg-12
          header.header_event
            .row
              .col-lg-9
                h1.main_title=data.title
                  if editable
                    !="  "
                    a.badge.badge-danger(href="/admin/events/"+data._id+"/public")=global.__("EDIT")
                if data.stats
                  .performance_stat_container
                    .performance_stat_wrapper
                      ul
                        if data.stats.visits
                          li=data.stats.visits + ' ' + global.__('Views')
                        li
                          span.likes_count=data.stats.likes ? data.stats.likes : 0
                          !=' ' + global.__('Likes')                      
              .col-lg-3.share_like_list_column
                include ../partials/share_like
            p.subtitle=global.__('Partners')  


block content
  .partners_event_wrapper_bkg
    .container
      section.row.partners_event_wrapper
        .col-lg-8
          h2.main_title.indented_title.color1!=global.__('Production')
        .col-lg-4
          img.img-fluid(src="/images/logo_avnode_symbol_dark.svg")
        .col-sm-12
          .row.partners_list_wrapper
            each partner in data.users
              .col-sm-2
                .partner_box_wrapper
                  a(href="/"+partner.slug+"/", title=partner.stagename)
                    if partner.imageFormats                          
                      img.card-img-top.img-fluid(
                        src=partner.imageFormats.large
                        alt=partner.title
                      )
                  p.partner_stagename
                    a(href="/"+partner.slug+"/", title=partner.stagename)
                      span=partner.stagename

  if data.partners.length
    .partners_event_wrapper_bkg
      .container
        section.row.partners_event_wrapper
          .col-lg-8
            h2.main_title.indented_title.color1!=global.__('Partners')
          .col-lg-4
            img.img-fluid(src="/images/logo_avnode_symbol_dark.svg")
          .col-sm-12
            .row
              each partners_block in data.partners
                .col-sm-12.partners_block
                  h4!=global.__('Partners')+ " / " +partners_block.category.name
                  .basic_divider
                  .row.partners_list_wrapper
                    each partner in partners_block.users
                      if partner.web[0]
                        - var url = partner.web[0].url;
                      else
                        - var url = null;
                      if partner.activity > 0
                        .col-sm-2
                          .partner_box_wrapper
                            a(href="/"+partner.slug+"/", title=partner.stagename)
                              if partner.imageFormats                          
                                img.card-img-top.img-fluid(
                                  src=partner.imageFormats.large
                                  alt=partner.title
                                )
                            p.partner_stagename
                              a(href="/"+partner.slug+"/", title=partner.stagename)
                                span=partner.stagename
                      else
                        if url
                          .col-sm-2
                            .partner_box_wrapper
                              a(href=url, target="_blank", title=partner.stagename)
                                if partner.imageFormats                          
                                  img.card-img-top.img-fluid(
                                    src=partner.imageFormats.large
                                    alt=partner.title
                                  )
                              p.partner_stagename
                                a(href=url, target="_blank", title=partner.stagename)
                                  span=partner.stagename
                        else
                          .col-sm-2
                            .partner_box_wrapper
                              if partner.imageFormats                          
                                img.card-img-top.img-fluid(
                                  src=partner.imageFormats.large
                                  alt=partner.title
                                )
                              p.partner_stagename
                                span=partner.stagename
                      

    
  
