extends ../layout
block title
  if data.imageFormats
    .container
      .event_main_image_wrapper
        img.img-fluid.event_main_image(src=data.imageFormats.large, alt=data.title)
        img.expand_image_event(src="/images/expand_image_event.svg")

  
  .wrapper_header_evento
    .container
      .row
        .col-lg-12
          header.header_event
            .row
              .col-lg-9
                h1.main_title=data.title
                  if editable
                    !="  "
                    a.badge.badge-danger(href="/admin/events/"+data._id+"/public")=global.__("EDIT")
                if data.stats
                  .performance_stat_container
                    .performance_stat_wrapper
                      ul
                        if data.stats.visits
                          li=data.stats.visits + ' ' + global.__('Views')
                        li
                          span.likes_count=data.stats.likes ? data.stats.likes : 0
                          !=' ' + global.__('Likes')                      
              .col-lg-3.mt-md-4
                include ../partials/share_like
            p.subtitle=data.subtitle && data.subtitle!= "Text is missing" ? data.subtitle : data.boxDate
            .row
              .col-lg-9
                if data.boxVenue
                  p.boxVenue=data.boxVenue
                  p
                    a(data-toggle='collapse', href="javascript:void(0);", data-target='#fullSchedule', role='button', aria-expanded='false', aria-controls='fullSchedule')=global.__("Full schedule")
                  #fullSchedule.collapse
                    ul
                      each fullSchedule in data.fullSchedule
                        li=fullSchedule
              .col-lg-3
                if data.type
                  p.text-right
                    i.icon-cube
                    =" "
                    !=data.type.name
            if data.advanced
              .text-right.mb-3
                each item in data.advanced.menu
                  if item.days || item.types
                    .btn-group.ml-3
                      a.btn.btn-primary(href="/events/"+data.slug+"/"+item.slug+"/")=item.name
                      a.btn.btn-primary.dropdown-toggle.dropdown-toggle-split( data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        span.sr-only Toggle Dropdown
                      .dropdown-menu
                        each item2 in item.days
                          a.dropdown-item(href="/events/"+data.slug+"/program/day/"+item2.slug+"/")=item2.name
                        each item2 in item.types
                          a.dropdown-item(href="/events/"+data.slug+"/program/type/"+item2.slug+"/")=item2.name
                  else
                    a.btn.btn-primary.ml-3(href="/events/"+data.slug+"/"+item.slug+"/")=item.name

      .row
        .col
          ul.links_list.list-inline
            each item in data.web
              li.list-inline-item.mb-3
                a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                  i.icon-link-light.about_button
            each item in data.social
              if item.url.indexOf('instagram.com/')!=-1
                li.list-inline-item.mb-3
                  - var tooltip = item.url.replace("http://","").replace("https://","").split("/")
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                    i.icon-instagram.about_button
              else if item.url.indexOf('twitter.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-twitter.about_button
              else if item.url.indexOf('facebook.com/')!=-1 || item.url.indexOf('fb.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-facebook.about_button
              else if item.url.indexOf('vimeo.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-vimeo.about_button
              else if item.url.indexOf('youtube.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-youtube.about_button
              else
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-link-light.about_button
        if data.participate
          .col            
            p.text-right
              a.participate.btn.btn-primary(href="/events/"+data.slug+"/participate/")=global.__('Participate')

block content
  if data.performer
    .text-center.d-md-none
      img.mb-3.img-fluid(
        class=data.imageFormats.large.substring(data.imageFormats.large.lastIndexOf(".")+1)
        src=data.imageFormats.large
        alt=data.stagename
      )
    .container
      .row
        .col-lg-8
          h1.main_title
            if data.performer.is_public
              a(href="/"+data.performer.slug+"/")=data.performer.stagename
            else
              !=data.performer.stagename
            if editable
              !="  "
              a.badge.badge-danger(href="/admin/"+(data.performer.is_crew ? "crews" : "profile")+"/"+data.performer._id+"/public")=global.__("EDIT") 
          if data.performer.addressesFormatted && data.performer.addressesFormatted.length       
            ul.performer_address.list-inline
              each address in data.performer.addressesFormatted
                li.list-inline-item(class=data.performer.addresses.length<5 ? "big" : undefined)!=address
          if data.performer.is_public
            .row
              .col-lg-12
                div.performer_stats_wrapper
                  if data.performer.stats
                    ul.performer_stats_list.performer_stats_list_1.list-inline
                      if data.performer.stats.events
                        li.list-inline-item
                          a(href="/"+data.performer.slug+"/events")!=global.__('Events')+" (<span>"+data.performer.stats.events+"</span>)"
                      if data.performer.stats.performances
                        li.list-inline-item
                          a(href="/"+data.performer.slug+"/performances")!=global.__('Performances')+" (<span>"+data.performer.stats.performances+"</span>)"  
                      if data.performer.stats.partnerships
                        li.list-inline-item
                          a(href="/"+data.performer.slug+"/partnerships")!=global.__('Partnerships')+" (<span>"+data.performer.stats.partnerships+"</span>)"
                      if data.performer.stats.crews
                        li.list-inline-item
                          a(href="/"+data.performer.slug+"/crews")!=global.__('Crews')+" (<span>"+data.performer.stats.crews+"</span>)"    
                      if data.performer.stats.members
                        li.list-inline-item
                          a(href="/"+data.performer.slug+"/members")!=global.__('Members')+" (<span>"+data.performer.stats.members+"</span>)"    
                div.performer_stats_wrapper
                  if data.performer.stats
                    ul.performer_stats_list.performer_stats_list_2.list-inline
                      if data.performer.stats.footage
                        li.list-inline-item
                          a(href="/"+data.performer.slug+"/footage")!=global.__('Footage')+" (<span>"+data.performer.stats.footage+"</span>)"
                      if data.performer.stats.playlists
                        li.list-inline-item
                          a(href="/"+data.performer.slug+"/playlists")!=global.__('Playlists')+" (<span>"+data.performer.stats.playlists+"</span>)"  
                      if data.performer.stats.videos
                        li.list-inline-item
                          a(href="/"+data.performer.slug+"/videos")!=global.__('Videos')+" (<span>"+data.performer.stats.videos+"</span>)"    
                      if data.performer.stats.galleries
                        li.list-inline-item
                          a(href="/"+data.performer.slug+"/galleries")!=global.__('Galleries')+" (<span>"+data.performer.stats.galleries+"</span>)"    
                      if data.performer.stats.news
                        li.list-inline-item
                          a(href="/"+data.performer.slug+"/news")!=global.__('News')+" (<span>"+data.performer.stats.news+"</span>)"
              .col-lg-12
                if (data.performer.web && data.performer.web.length) || (data.performer.social && data.performer.social.length) || (data.performer.publicEmails && data.performer.publicEmails.length)
                  div
                    ul.links_list.list-inline                 
                      each item in data.performer.web
                        li.list-inline-item.mb-3
                          a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                            i.icon-link-light.about_button
                      each item in data.performer.social
                        if item.url.indexOf('instagram.com/')!=-1
                          li.list-inline-item.mb-3
                            - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").split("/")
                            a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                              i.icon-instagram.about_button
                        else if item.url.indexOf('twitter.com/')!=-1
                          li.list-inline-item.mb-3
                            - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").split("/")
                            a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                              i.icon-twitter.about_button
                        else if item.url.indexOf('facebook.com/')!=-1 || item.url.indexOf('fb.com/')!=-1
                          li.list-inline-item.mb-3
                            - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").replace("facebook.com","fb.com").split("/")
                            a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                              i.icon-facebook.about_button
                        else if item.url.indexOf('vimeo.com/')!=-1
                          li.list-inline-item.mb-3
                            - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").split("/")
                            a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                              i.icon-vimeo.about_button
                        else if item.url.indexOf('youtube.com/')!=-1
                          li.list-inline-item.mb-3
                            - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").split("/")
                            a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                              i.icon-youtube.about_button
                        else
                          li.list-inline-item.mb-3
                            - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").split("/")
                            a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                              i.icon-link-light.about_button
                      if data.performer.publicEmails && data.performer.publicEmails.length          
                        each email in data.performer.publicEmails
                          li.list-inline-item.mb-3
                            a(href="mailto:"+email data-toggle="tooltip" data-placement="top" title=global.__("Write an email to")+" "+email)
                              i.far.fa-envelope.about_button
                              

        .col-lg-4
          img.img-fluid.d-none.d-md-block(
            class=data.imageFormats.large.substring(data.imageFormats.large.lastIndexOf(".")+1)
            src=data.imageFormats.large
            alt=data.stagename
          )


    if data.performer.about
      .abouts_wrapper
        .container
          .row
            .col-sm-12
              .about_wrapper
                span#about_collapse.about_collapse.collapse.show!=data.performer.about
                if data.aboutFull && data.aboutFull.length > data.about.length
                  span#about_collapseFull.about_collapse.about_more.collapse!=data.aboutFull
              if data.aboutFull && data.aboutFull.length > data.about.length
                .more_button
                  span.color1.icon-plus-circle.collapsed(data-toggle='collapse', data-target=".about_collapse", href='#about_collapse', role='button', aria-expanded='false', aria-controls='about_collapse about_collapseFull')
    .polygon_divider_bottom
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='transparent' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='#232323' points='0,0 1920,0 1920,100.5 		')    

    
    if data.performer.performances && data.performer.performances.length
      .polygon_divider_top
        svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
          g#layer2
          g#Layer_1
            g
              polygon(fill='#0f8fcf' points='1927.4,99.5 0,99.5 0,-1 		')
              polygon(fill='transparent' points='0,0 1920,0 1920,100.5 		')
      section#performances.performer_performances_wrapper
        .content_wrapper
          .container
            .row
              .col-lg-12
                h2.main_title.indented_title!=global.__('Performances')+" <small>(<span>"+data.performer.stats.performances+"</span>)</small>"  
                .performance_divider.basic_divider
                .owl-carousel.loop.owl-theme
                  each item in data.performer.performances                
                    include ../partials/boxPerformanceScheduledArtist
                .button_more.button_more_grey
                  a(href="/"+data.performer.slug+"/performances", title=data.performer.stagename)
                    span.button_more_label!='+ '+global.__('All the performances')
                    span.button_more_bkg                  
      .polygon_divider_bottom
        svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
          g#layer2
          g#Layer_1
            g
              polygon(fill='transparent' points='1927.4,99.5 0,99.5 0,-1 		')
              polygon(fill='#0f8fcf' points='0,0 1920,0 1920,100.5 		')                  





  if data.advanced.performers
    .performers_event_wrapper_bkg
      .container
        section.row.performers_event_wrapper
          .col-lg-12
            h2.main_title.indented_title.color1!=global.__('Performers')+" <small>("+data.advanced.performers.performersA+")</small>"
            h3.performers_infos
              b=data.advanced.performers.performersA
              !=" "+global.__('performers')+" ("+data.advanced.performers.performersN + " " + global.__('peoples') +") "
              !=global.__('from') + " " + data.advanced.performers.countries.join(', ')+ " " + global.__('playing')+ " ooooo"
              b=data.advanced.performers.actsN
              !=" " + data.advanced.performers.acts.sort().join(', ') + "."      
            .row
              each item, i in data.advanced.performers.performers
                .col-sm-4
                  include ../partials/boxPerformerEvent
    .polygon_divider_bottom
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='transparent' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='#232323' points='0,0 1920,0 1920,100.5 		')
    

