extends ../layout


//- block teaser
//-   if data.teaserImage
//-     .d-flex.justify-content-center.align-items-start
//-       img.card-img-top.img-fluid(
//-         src=`${data.teaserImageFormats.large}`
//-         alt=`${data.name}`
//-       )

block title
  if data.imageFormats
    .container
      .event_main_image_wrapper
        img.img-fluid.event_main_image(src=data.imageFormats.large, alt=data.title)
        img.expand_image_event(src="/images/expand_image_event.svg")

  
  .wrapper_header_evento
    .container
      .row
        .col-lg-12
          header.header_event
            .row
              .col-lg-9
                h1.main_title=data.title
                if data.stats
                  .performance_stat_container
                    .performance_stat_wrapper
                      ul
                        if data.stats.visits
                          li=data.stats.visits + ' ' + global.__('Views')
                        li
                          span.likes_count=data.stats.likes ? data.stats.likes : 0
                          !=' ' + global.__('Likes')                      
              .col-lg-3.share_like_list_column
                include ../partials/share_like
            if data.dateFormatted
              p.subtitle=data.dateFormatted
            if data.subtitle  
              p.subtitle=data.subtitle
            if data.boxDate
              p.boxDate=data.boxDate
            if data.boxVenue
              p.boxVenue=data.boxVenue
          #mappa_evento
            script(src='https://maps.googleapis.com/maps/api/js?key='+process.env.GOOGLEMAPSAPIKEY+'&extension=.js')
            script(src='https://cdn.mapkit.io/v1/infobox.js')
            link(href='https://cdn.mapkit.io/v1/infobox.css', rel='stylesheet')
            script.
              var locations = !{JSON.stringify(data.locations)}
            script(src='/js/mymaps.js')
            #performer_map
  .wrapper_about_partecipate_evento
    .abouts_wrapper(style='background-image: url(/images/logo_avnode_svg_grey.svg)') 
      .container 
        .row
          .col-sm-6
            ul.event_social_list.list-inline
              each item in data.web
                li.list-inline-item
                  a(href=item.url target='_blank')
                    span.lnr.lnr-link.about_button
              each item in data.social
                if item.url.indexOf('twitter')
                  li.list-inline-item
                    a(href=item.url target='_blank')
                      i.fa.fa-twitter.about_button
                else if item.url.indexOf('facebook')
                  li.list-inline-item
                    a(href=item.url target='_blank')
                      i.fa.fa-facebook.about_button
                else if item.url.indexOf('instagram')
                  li.list-inline-item
                    a(href=item.url target='_blank')
                      i.fa.fa-instagram.about_button
                else
                  li.list-inline-item
                    a(href=item.url target='_blank')
                      i.fa.fa-instagram.about_button
          .col-sm-6            
            ul.list-inline
              if data.organizationsettings.call.length
                li.list-inline-item
                  a.partecipate.button(href="#")=global.__('Participate')
              li.list-inline-item
                a(href="javascript:window.open('https://www.addtoany.com/share_save?linkurl='+encodeURIComponent(document.URL), 'Share Dialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,width=650,height=450,top='+(screen.height/2-450/2)+',left='+(screen.width/2-650/2));")
                  .share_button
                    img(src="/images/share_icon.svg")

        if data.abouts      
          .row
            .col-sm-12
                .about_wrapper
                  span#about_collapse.about_collapse.collapse.show!=data.about
                  span#about_collapseFull.about_collapse.about_more.collapse!=data.aboutFull
                .more_button
                  span.color1.lnr.lnr-plus-circle.collapsed(data-toggle='collapse', data-target=".about_collapse", href='#about_collapse', role='button', aria-expanded='false', aria-controls='about_collapse about_collapseFull')
    .polygon_divider_bottom
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='transparent' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='#232323' points='0,0 1920,0 1920,100.5 		')

block content
  if data.programmebydayvenue
    .program_event_wrapper_bkg
      section.row.program_event_wrapper
          .col-lg-12
            .container
              h2.main_title.indented_title.color1!=global.__('Program')
              each day in data.programmebydayvenue
                h3.date_schedule_title=day.date
                .data_program_divider
                each venueroom in day.rooms              
                  h4.program_category_title=venueroom.venue+" // "+venueroom.room                      
                  .owl-carousel.loop.owl-theme
                    if venueroom.performances
                      each item in venueroom.performances
                        include ../partials/boxPerformanceScheduled
          .button_more.button_more_program
            span.button_more_label!=global.__('+ All the program')
            span.button_more_bkg
    .polygon_divider_top
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='#232323' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='transparent' points='0,0 1920,0 1920,100.5 		')
  if data.artists
    .performers_event_wrapper_bkg
      .container
        section.row.performers_event_wrapper
          .col-lg-12
            h2.main_title.indented_title.color1!=global.__('Performers')+" <small>("+data.artists.artistsN+")</small>"
            h3.performers_infos=data.artists.artistsN+" "+global.__('performers')+" ("+data.artists.artistsCount + " " + global.__('artists') +") " + global.__('from') + " " + data.artists.countries.join(', ')+ " " + global.__('playing')+ " " + data.artists.actsN + " " + data.artists.acts.join(', ') + "."      
            .row
              each item in data.artists.artists
                .col-sm-4
                  include ../partials/boxPerformerEvent
    .polygon_divider_bottom
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='transparent' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='#232323' points='0,0 1920,0 1920,100.5 		')
    
  
  - var partners = !data.partners || !data.partners.length ?  [{"category" : {name: "PRODUCTION"}, "users" : data.users}] : data.partners;
  - console.log("partners")
  - console.log(partners)

  .partners_event_wrapper_bkg
    .container
      section.row.partners_event_wrapper
        .col-lg-8
          h2.main_title.indented_title.color1!=global.__('Partners')
        .col-lg-4
          img.img-fluid(src="/images/logo_avnode_symbol_dark.svg")
        .col-sm-12
          .row
            each partners_block in partners
              .col-sm-12.partners_block
                h4!=global.__('Partners')+ " / " +partners_block.category.name
                .basic_divider
                .row.partners_list_wrapper
                  each partner in partners_block.users
                    .col-sm-2
                      .partner_box_wrapper
                        a(href="/"+partner.slug, title=partner.stagename)
                          if partner.imageFormats                          
                            img.card-img-top.img-fluid(
                              src=partner.imageFormats.large
                              alt=partner.title
                            )
                        p.partner_stagename
                          a(href="/"+partner.slug, title=partner.stagename)
                            span=partner.stagename
    
  
  if data.galleries.length || data.videos.length
    .divider_gallery
      svg#Livello_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1300 170' enable-background='new 0 0 1300 170' xml:space='preserve')
        polygon(fill='#282828' points='1300,170 0,170 0,0 649.2,170 1300,0 ')
  if data.galleries.length  
    .gallery_event_wrapper_bkg
      section.event_galleries_wrapper
        .content_wrapper
          .container
            .row
              .col-lg-12
                h2.main_title.indented_title!=global.__('Galleries')+" <small>(<span>"+data.galleries.length+"</span>)</small>"  
                .performance_divider.basic_divider
                .owl-carousel.loop_3items.owl-theme
                  each item in data.galleries                    
                    include ../partials/boxGallery
  if data.videos.length  
    .video_event_wrapper_bkg
      section.event_video_wrapper
        .content_wrapper
          .container
            .row
              .col-lg-12
                h2.main_title.indented_title!=global.__('Videos')+" <small>(<span>"+data.videos.length+"</span>)</small>"  
                .performance_divider.basic_divider
                .owl-carousel.loop_3items.owl-theme
                  each item in data.videos            
                    include ../partials/boxVideo