extends ../layout


//- block teaser
//-   if data.teaserImage
//-     .d-flex.justify-content-center.align-items-start
//-       img.card-img-top.img-fluid(
//-         src=`${data.teaserImageFormats.large}`
//-         alt=`${data.name}`
//-       )

block title
  if data.imageFormats
    .container
      //.event_main_image_wrapper
      img.img-fluid.event_main_image(src=data.imageFormats.large, alt=data.title)
      //img.expand_image_event(src="/images/expand_image_event.svg")

  
  .wrapper_header_evento
    .container
      .row
        .col-lg-12
          header.header_event
            .row.event_title
              .col-lg-9
                h1.main_title=data.title
                  if editable
                    !="  "
                    a.badge.badge-danger(href="/admin/events/"+data._id+"/public")=global.__("EDIT")
                if data.stats
                  .performance_stat_container
                    .performance_stat_wrapper
                      ul
                        if data.stats.visits
                          li=data.stats.visits + ' ' + global.__('Views')
                        li
                          span.likes_count=data.stats.likes ? data.stats.likes : 0
                          !=' ' + global.__('Likes')                      
              .col-lg-3.mt-md-4
                include ../partials/share_like
            p.subtitle=data.subtitle && data.subtitle!= "Text is missing" ? data.subtitle : data.boxDate
            .row
              .col-lg-9
                if data.boxVenue
                  p.boxVenue=data.boxVenue
                  p
                    a(data-toggle='collapse', href="javascript:void(0);", data-target='#fullSchedule', role='button', aria-expanded='false', aria-controls='fullSchedule')=global.__("Full schedule")
                  #fullSchedule.collapse
                    ul
                      each fullSchedule in data.fullSchedule
                        li=fullSchedule
              .col-lg-3
                if data.type
                  p.text-right
                    i.icon-cube
                    =" "
                    !=data.type.name
            include eventSubmenu

      .row
        .col
          ul.links_list.list-inline
            each item in data.web
              li.list-inline-item.mb-3
                a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                  span.icon-link-light.about_button
            each item in data.social
              if item.url.indexOf('instagram.com/')!=-1
                li.list-inline-item.mb-3
                  - var tooltip = item.url.replace("http://","").replace("https://","").split("/")
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                    i.icon-instagram.about_button
              else if item.url.indexOf('twitter.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-twitter.about_button
              else if item.url.indexOf('facebook.com/')!=-1 || item.url.indexOf('fb.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-facebook.about_button
              else if item.url.indexOf('vimeo.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-vimeo.about_button
              else if item.url.indexOf('youtube.com/')!=-1
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    i.icon-youtube.about_button
              else
                li.list-inline-item.mb-3
                  a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://",""))
                    span.icon-link-light.about_button
        if data.participate
          .col            
            p.text-right
              a.participate.btn.btn-primary(href="/events/"+data.slug+"/participate/")=global.__('Participate')
      .row
        .col-lg-12
          #mappa_evento
            script(src='https://maps.googleapis.com/maps/api/js?key='+process.env.GOOGLEMAPSAPIKEY+'&extension=.js')
            script.
              var locations = !{JSON.stringify(data.locations)}
            script(src='/js/combo_mymaps.min.js')
            #performer_map
  .wrapper_about_partecipate_evento
    .abouts_wrapper(style='background-image: url(/images/logo_avnode_grey.svg)') 
      .container 
        if data.about   
          .row
            .col-sm-12
              .about_wrapper
                span#about_collapse.about_collapse.collapse.show!=data.about
                if data.aboutFull && data.aboutFull.length > data.about.length
                  span#about_collapseFull.about_collapse.about_more.collapse!=data.aboutFull
              if data.aboutFull && data.aboutFull.length > data.about.length
                .more_button
                  span.color1.icon-plus-circle.collapsed(data-toggle='collapse', data-target=".about_collapse", role='button', aria-expanded='false', aria-controls='about_collapse about_collapseFull')
    .polygon_divider_bottom
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='transparent' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='#232323' points='0,0 1920,0 1920,100.5 		')

block content
  if data.galleries.length  
    .gallery_event_wrapper_bkg
      section.galleries_wrapper
        .content_wrapper
          .container
            .row
              .col-lg-12
                h2.main_title.indented_title!=global.__('Galleries')+" <small>(<span>"+data.galleries.length+"</span>)</small>"  
                .performance_divider.basic_divider
                .owl-carousel.loop_3items.owl-theme
                  each item in data.galleries
                    include ../partials/boxGallery
  if data.videos.length  
    .video_event_wrapper_bkg
      section.event_video_wrapper
        .content_wrapper
          .container
            .row
              .col-lg-12
                h2.main_title.indented_title!=global.__('Videos')+" <small>(<span>"+data.videos.length+"</span>)</small>"  
                .performance_divider.basic_divider
                .owl-carousel.loop_3items.owl-theme
                  each item in data.videos            
                    include ../partials/boxVideo
                    
  if data.advanced.programmebydayvenue
    .program_event_wrapper_bkg
      section.row.program_event_wrapper
          .col-lg-12
            .container
              h2.main_title.indented_title.color1!=global.__('Program')
              - addtit = false;
              each day, index in data.advanced.programmebydayvenue
                if data.advanced.programmebydayvenue[index+1] && JSON.stringify(data.advanced.programmebydayvenue[index].rooms) == JSON.stringify(data.advanced.programmebydayvenue[index+1].rooms)
                  - if (!addtit) titstart = day.date
                  - addtit = true;
                else
                  h3.date_schedule_title=addtit ? titstart+" // "+day.date : day.date
                  - addtit = false;
                  .data_program_divider
                  each venueroom in day.rooms
                    if venueroom.room       
                      h4.program_category_title=venueroom.venue+" // "+venueroom.room                      
                    .owl-carousel.loop.owl-theme
                      if venueroom.performances
                        each item in venueroom.performances
                          include ../partials/boxPerformanceScheduled
  if data.advanced.programmenotscheduled
    .program_event_wrapper_bkg
      section.row.program_event_wrapper
          .col-lg-12
            .container
              h2.main_title.indented_title.color1!=global.__('Performances') + (data.advanced.programmebydayvenue ?  " " + global.__('to be scheduled') : "")
              .owl-carousel.loop.owl-theme
                each item in data.advanced.programmenotscheduled
                  if item
                    include ../partials/boxPerformance
                  else 
                    .badge.badge-danger
                      pre=item


    .polygon_divider_top
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='#232323' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='transparent' points='0,0 1920,0 1920,100.5 		')
  if data.advanced.performers
    .performers_event_wrapper_bkg
      .container
        section.row.performers_event_wrapper
          .col-lg-12
            h2.main_title.indented_title.color1!=global.__('Performers')+" <small>("+data.advanced.performers.performersA+")</small>"
            h3.performers_infos
              b=data.advanced.performers.performersA
              !=" "+global.__('performers')+" ("+data.advanced.performers.performersN + " " + global.__('peoples') +") "
              !=global.__('from') + " " + data.advanced.performers.countries.sort().join(', ')+ " " + global.__('playing')+ " "
              b=data.advanced.performers.actsN
              !=" " + data.advanced.performers.acts.sort().join(', ') + "."      
            .row
              each item, i in data.advanced.performers.performers
                .col-lg-4.col-md-6
                  include ../partials/boxPerformerEvent
    .polygon_divider_bottom
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='transparent' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='#232323' points='0,0 1920,0 1920,100.5 		')
    

  //if data.galleries.length || data.videos.length
    .divider_gallery
      svg#Livello_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1300 170' enable-background='new 0 0 1300 170' xml:space='preserve')
        polygon(fill='#282828' points='1300,170 0,170 0,0 649.2,170 1300,0 ')


  .partners_event_wrapper_bkg
    .container
      section.row.partners_event_wrapper
        .col-lg-8
          h2.main_title.indented_title.color1!=global.__('Production')
        .col-lg-4
          img.img-fluid(src="/images/logo_avnode_symbol_dark.svg", width="300", height="143", alt="AVnode logo")
        .col-sm-12
          .row.partners_list_wrapper
            each partner in data.users
              .col-sm-2
                .partner_box_wrapper
                  a(href="/"+partner.slug+"/", title=partner.stagename)
                    if partner.imageFormats                          
                      img.card-img-top.img-fluid(
                        class=partner.imageFormats.small.substring(partner.imageFormats.small.lastIndexOf(".")+1)
                        src=partner.imageFormats.small
                        alt=partner.stagename
                      )
                  p.partner_stagename
                    a(href="/"+partner.slug+"/", title=partner.stagename)
                      span=partner.stagename

  if data.partners.length
    .partners_event_wrapper_bkg
      .container
        section.row.partners_event_wrapper
          .col-lg-8
            h2.main_title.indented_title.color1!=global.__('Partners')
          .col-lg-4
            img.img-fluid(src="/images/logo_avnode_symbol_dark.svg", width="300", height="143", alt="AVnode logo")
          .col-sm-12
            .row
              each partners_block in data.partners
                .col-sm-12.partners_block
                  h4!=global.__('Partners')+ " / " +partners_block.category.name
                  .basic_divider
                  .row.partners_list_wrapper
                    each partner in partners_block.users
                      if partner.web[0]
                        - var url = partner.web[0].url;
                      else
                        - var url = null;
                      if partner.activity > 0
                        .col-sm-2
                          .partner_box_wrapper
                            a(href="/"+partner.slug+"/", title=partner.stagename)
                              if partner.imageFormats                          
                                img.card-img-top.img-fluid(
                                  class=partner.imageFormats.small.substring(partner.imageFormats.small.lastIndexOf(".")+1)
                                  src=partner.imageFormats.small
                                  alt=partner.stagename
                                )
                            p.partner_stagename
                              a(href="/"+partner.slug+"/", title=partner.stagename)
                                span=partner.stagename
                      else
                        if url
                          .col-sm-2
                            .partner_box_wrapper
                              a(href=url, target="_blank", title=partner.stagename)
                                if partner.imageFormats                          
                                  img.card-img-top.img-fluid(
                                    class=partner.imageFormats.small.substring(partner.imageFormats.small.lastIndexOf(".")+1)
                                    src=partner.imageFormats.small
                                    alt=partner.stagename
                                  )
                              p.partner_stagename
                                a(href=url, target="_blank", title=partner.stagename)
                                  span=partner.stagename
                        else
                          .col-sm-2
                            .partner_box_wrapper
                              if partner.imageFormats                          
                                img.card-img-top.img-fluid(
                                  class=partner.imageFormats.small.substring(partner.imageFormats.small.lastIndexOf(".")+1)
                                  src=partner.imageFormats.small
                                  alt=partner.stagename
                                )
                              p.partner_stagename
                                span=partner.stagename
                      

    
  
