extends ../layout


//- block teaser
//-   if data.teaserImage
//-     .d-flex.justify-content-center.align-items-start
//-       img.card-img-top.img-fluid(
//-         src=`${data.teaserImageFormats.large}`
//-         alt=`${data.name}`
//-       )

block title
  if data.imageFormats
    .container
      .event_main_image_wrapper
        img.img-fluid.event_main_image(src=data.imageFormats.large, alt=data.title)
        img.expand_image_event(src="/images/expand_image_event.svg")

  
  .wrapper_header_evento
    .container
      .row
        .col-lg-12
          header.header_event
            if data.title
              h1.main_title=data.title
            if data.dateFormatted
              p.subtitle=data.dateFormatted
            if data.subtitle  
              p.subtitle=data.subtitle
            if data.boxDate
              p.boxDate=data.boxDate
            if data.boxVenue
              p.boxVenue=data.boxVenue
          #mappa_evento.miss
            h1="Mappa"
            p="mancano lat/long della venue"
  .wrapper_about_partecipate_evento
    .abouts_wrapper(style='background-image: url(/images/logo_avnode_svg_grey.svg)') 
      .container 
        .row
          .col-sm-6
            ul.event_social_list.list-inline.miss
              li.list-inline-item
                a(href='#')
                  span.lnr.lnr-link.about_button
              li.list-inline-item
                a(href='#')
                  i.fa.fa-twitter.about_button
              li.list-inline-item
                a(href='#')
                  i.fa.fa-facebook.about_button
              li.list-inline-item
                a(href='#')
                  i.fa.fa-instagram.about_button                                    
          .col-sm-6            
            ul.list-inline
              li.list-inline-item
                a.miss.partecipate.button(href="#")=global.__('Partecipate')
              li.list-inline-item
                a(href='#')
                  .share_button
                    img(src="/images/share_icon.svg")

        if data.abouts      
            .row
              .col-sm-12
                  .about_wrapper
                    !=data.about
                    br
                    span#about_collapse.about_more.collapse="Qua ci devi piazzare il more Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid nunc honeste dicit? Hic nihil fuit, quod quaereremus. Ille enim occurrentia nescio quae comminiscebatur; Totum autem id externum est, et quod externum, id in casu est. Hic quoque suus est de summoque bono dissentiens dici vere Peripateticus non potest. Duo Reges: constructio interrete. Quid enim possumus hoc agere divinius? Hanc ergo intuens debet institutum illud quasi signum absolvere. Haec quo modo conveniant, non sane intellego. Qui autem esse poteris, nisi te amor ipse ceperit? Qua ci devi piazzare il more Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid nunc honeste dicit? Hic nihil fuit, quod quaereremus. Ille enim occurrentia nescio quae comminiscebatur; Totum autem id externum est, et quod externum, id in casu est. Hic quoque suus est de summoque bono dissentiens dici vere Peripateticus non potest. Duo Reges: constructio interrete. Quid enim possumus hoc agere divinius? Hanc ergo intuens debet institutum illud quasi signum absolvere. Haec quo modo conveniant, non sane intellego. Qui autem esse poteris, nisi te amor ipse ceperit? Qua ci devi piazzare il more Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid nunc honeste dicit? Hic nihil fuit, quod quaereremus. Ille enim occurrentia nescio quae comminiscebatur; Totum autem id externum est, et quod externum, id in casu est. Hic quoque suus est de summoque bono dissentiens dici vere Peripateticus non potest. Duo Reges: constructio interrete. Quid enim possumus hoc agere divinius? Hanc ergo intuens debet institutum illud quasi signum absolvere. Haec quo modo conveniant, non sane intellego. Qui autem esse poteris, nisi te amor ipse ceperit?"        
                  .more_button
                    span.color1.lnr.lnr-plus-circle.collapsed(data-toggle='collapse', href='#about_collapse', role='button', aria-expanded='false', aria-controls='about_collapse')
      

block content
  .container
    section.row.program_event_wrapper
      .col-lg-12
        h2.main_title.indented_title.color1!=global.__('Program')+" <small>(<span class='miss'>99</span>)</small>"
        .row.carousel
          each item in data.program
            .col-sm-4
              ="test"
      //.text-right
        a.btn.btn-secondary(href=data.publicUrl+"/events/")=global.__('View all')        
  
      //if data.performances.length > 0
        h3=global.__('Performances')
        .card-columns
          each performance in data.performances
            .card
              if performance.image
                img.card-img-top.img-fluid(
                  src=performance.imageFormats.medium
                  alt=performance.title
                )
              .card-block
                h6.text-muted.card-title=global.__('Performance')
                h5.card-subtitle.mb-3=performance.stagename
                a.btn.btn-primary(href=performance.publicUrl)=global.__('More')

      //if data.performances.length > 0
        if data.performances[0].performers.length > 0
          h4=global.__('Performers')
          .card-columns
            each performance in data.performances
              each performer in performance.performers
                .card
                  if performer.image
                    img.card-img-top.img-fluid(
                      src=performer.imageFormats.medium
                      alt=performer.name
                    )
                  .card-block
                    h6.text-muted.card-title=global.__('Performer')
                    h5.card-subtitle.mb-3=performer.stagename
                    a.btn.btn-primary(href=performer.publicUrl)=global.__('More')

    //.col-lg-4
      if data.venues.length > 0
        h5=global.__('Venues')
        hr

        each venue in data.venues
          .card
            iframe.card-img-top.img-fluid(
              src=`https://www.google.com/maps/embed/v1/place?key=AIzaSyCOMLSxSmylntKBKxgy6WN5n7FYzvsgR8Q&q=${venue.address.formatted_address}`
              width="100%"
              height="250"
              frameborder="0"
              style="border:0"
              allowfullscreen
            )
            .card-block
              h6.text-muted.card-title=global.__('Venue')
              h5.card-subtitle.mb-3=venue.address.placename + ' : ' + venue.address.formatted_address
              a.btn.btn-primary(target="_blank", href='https://maps.google.com?q=' + encodeURIComponent(venue.address.formatted_address))=global.__('directions')


      if data.organizers.length > 0
        br
        h5=global.__('Organizers')
        hr
        each user in data.organizers
          .card
            if user.image
              img.card-img-top.img-fluid(
                src=user.imageFormats.medium
                alt=user.name
              )
            .card-block
              h6.text-muted.card-title=user.stagename
              h5.card-subtitle.mb-3=user.name
              a.btn.btn-primary(href=user.publicUrl)=global.__('More')

      if data.organizing_crews.length > 0
        br
        h5=global.__('Organizing Crews')
        hr
        each crew in data.organizing_crews
          .card
            if crew.image
              img.card-img-top.img-fluid(
                src=crew.imageFormats.medium
                alt=crew.name
              )
            .card-block
              h5.card-subtitle.mb-3=crew.name
              a.btn.btn-primary(href=crew.publicUrl)=global.__('More')
