extends ../layout

block teaser
  if data.teaserImage
    .d-flex.justify-content-center.align-items-start
      img.card-img-top.img-fluid(
        src=`${data.teaserImageFormats.large}`
        alt=`${data.name}`
      )

block title
  if data.title
    .jumbotron.jumbotron-fluid
      .container
        .row
          .col-lg-8
            h1.display-4=data.title
            p=data.about
          .col-lg-4
            if data.image
              img.card-img-top.img-fluid(
                src=data.imageFormats.medium
                alt=data.title
              )

block content
  video#my-video.video-js(controls='', preload='auto', width='640', height='264', poster=data.imageFormats.large, data-setup='{aspectRatio:"16:9", fluid: true}')
    source(src=process.env.WAREHOUSE+data.media.file, type='video/mp4')
    //source(src='MY_VIDEO.webm', type='video/webm')
    p.vjs-no-js
      !=global.__("To view this video please enable JavaScript, and consider upgrading to a web browser that")
      a(href='http://videojs.com/html5-video-support/', target='_blank')=!global.__("supports HTML5 video")

  object(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', width='550', height='400', align='middle',  type="application/x-shockwave-flash", data='/_fp/flxerPlayer.swf?cnt='+path+'?xml=1')
    param(name='movie', value='/_fp/flxerPlayer.swf?cnt='+path+'?xml=1')
    embed(width='550', height='400', align='middle',  src='/_fp/flxerPlayer.swf?cnt='+path+'?xml=1')
    a(href='http://www.adobe.com/go/getflash')
      img(src='http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif', alt='Get Adobe Flash player')
 
  .row
    .col-lg-12
      h3=global.__('Members')
      .card-columns
        //each member in data.members
          .card
            if member.image
              img.card-img-top.img-fluid(
                src=member.imageFormats.medium
                alt=member.name
              )
            .card-block
              h4.card-title
                =member.stagename
              a.btn.btn-primary(href=member.publicUrl)=global.__('More')
