extends ../layout

block teaser

block title
  if data.title
    .container
      .row.performer_title
        .col-lg-9
          h1.main_title=data.title
            if editable
              !="  "
              a.badge.badge-danger(href="/admin/footage/"+data._id+"/public")=global.__("EDIT")
          if data.stats
            .performance_stat_container
              .performance_stat_wrapper
                ul
                  if data.stats.visits
                    li=data.stats.visits + ' ' + global.__('Views')
                  li
                    span.likes_count=data.stats.likes ? data.stats.likes : 0
                    !=' ' + global.__('Likes')  
                  if data.stats.downloads
                    li=data.stats.downloads + ' ' + global.__('Downloads')
        .col-lg-3.share_like_list_column
          include ../partials/share_like


block content
  .container
    .row
      .col-md-8
        if data.media && data.media.file
          .embed-responsive.embed-responsive-16by9
            - var ext = data.media.file.substring(data.media.file.lastIndexOf(".")+1)
            if ext==="swf"
              object.embed-responsive-item(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', width='550', height='400', align='middle',  type="application/x-shockwave-flash", data='/_fp/flxerPlayer.swf?cnt='+path+'?xml=1')
                param(name='movie', value='/_fp/flxerPlayer.swf?cnt='+path+'?xml=1')
                embed(width='550', height='400', align='middle',  src='/_fp/flxerPlayer.swf?cnt='+path+'?xml=1')
                a(href='http://www.adobe.com/go/getflash')
                  img(src='http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif', alt='Get Adobe Flash player')
            else
              video.embed-responsive-item#my-video.video-js.vjs-big-play-centered(controls='', preload='auto', width='640', height='264', poster=data.imageFormats.large, data-setup='{aspectRatio:"16:9", fluid: true}')
                source(src=process.env.WAREHOUSE+data.media.file, type='video/mp4')
                //source(src='MY_VIDEO.webm', type='video/webm')
                p.vjs-no-js
                  !=global.__("To view this video please enable JavaScript, and consider upgrading to a web browser that supports")
                  a(href='http://videojs.com/html5-video-support/', target='_blank')=!"HTML5 video"
          .row.mt-3.buttons_footage
            .col-md-6
              button.btn.btn-primary.btn-lg.btn-block.download=global.__('Download') 
            .col-md-6
              button.btn.btn-primary.btn-lg.btn-block.download=global.__('Add to Playlist') 


      .col-md-4.data_footage_video
        .data_footage_video_wrapper
          h3=__("Data")
          if data.media && data.media.file
            ul
              li=global.__('File name')+": "
                b=data.media.file.substring(data.media.file.lastIndexOf("/")+1)
              li=global.__('File size')+": "
                b=data.media.filesizeHR
              li=global.__('File duration')+": "
                b=data.media.duration
              li=global.__('File type')+": "
                b=ext
        if data.tags
          .data_footage_video_wrapper
            h3=__("Tags")
            ul.list-inline.category_performance_item
              each tag in data.tags
                li.list-inline-item=tag.tag
        if data.about
          .data_footage_video_wrapper
            h3=__("About")
            .pt-2.pb-2!=data.about
        .data_footage_video_wrapper
          h3=__("Author")
          each user in data.users
            .user_performance_wrapper
              div.user_perfomance_image
                img(class=user.imageFormats.small.substring(user.imageFormats.small.lastIndexOf(".")+1), src=user.imageFormats.small, alt=user.stagename)
              div.user_perfomance_country_city
                p.users_performance_item_name=user.stagename
                if user.addressesFormatted && user.addressesFormatted.length
                  p.users_performance_item_country!=user.addressesFormatted.join(", ")