extends ../layout

block teaser
  if data.teaserImage
    .d-flex.justify-content-center.align-items-start
      img.card-img-top.img-fluid(
        src=`${data.teaserImageFormats.large}`
        alt=`${data.name}`
      )

block title
  if data.title
    .container
      .row.performer_title
        .col-lg-9
          h1.main_title=data.title
          if data.stats
            .performance_stat_container
              .performance_stat_wrapper
                ul
                  if data.stats.visits
                    li=data.stats.visits + ' ' + global.__('Views')
                  li
                    span.likes_count=data.stats.likes ? data.stats.likes : 0
                    !=' ' + global.__('Likes')                      
        .col-lg-3.share_like_list_column
          include ../partials/share_like

block content
  .container
    .row
      .col-lg-8
        p!=data.about
      .col-lg-4
        if data.image
          .mb-3
            img.card-img-top.img-fluid(
              src=data.imageFormats.medium
              alt=data.title
            )
        if data.web
          .mb-3
            each url in data.web
              a(href=url.url)=url.url
        if data.social
          .mb-3
            each url in data.social
              a(href=url.url)=url.url

