.modal.admindevmodal.fade#msg_modal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered
    .modal-content
      .modal-header
        h5#exampleModalCenterTitle.modal-title=global.__("Alert")
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        p!=global.__("AVnode.net is now in Beta Version, feel free to test it but read the following alerts:")
        ul
          li=global.__("Control panel is still under development, some features are still not fully working")
        p!=global.__("Please send any bug and suggestion to:")+" "
          a(href="mailto:bugreports@avnode.net") bugreports@avnode.net
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal')=global.__("Cancel")
        button.btn.btn-primary.modal-confirm(type='button', data-dismiss='modal')=global.__("I have read, continue")
//.modal.admindevmodal.fade#msg_modal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered
    .modal-content
      .modal-header
        h5#exampleModalCenterTitle.modal-title=global.__("Alert")
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        p!=global.__("AVnode.net is now at Alpha Version, feel free to test it but read the following alerts:")
        ul
          li=global.__("The database will be resetted more than once in the alpha phase, you could loose some data you insert")
          li=global.__("Control panel is still under development, some features are still not fully working")
        p!=global.__("Please send any suggestion to:")+" "
          a(href="mailto:info@avnode.net") info@avnode.net
      .modal-footer
        button.btn.btn-primary(type='button', data-dismiss='modal')=global.__("I have read, continue")
