#sidebar-container.sidebar-expanded.d-none.d-md-block
  // !=currentUrl +(currentUrl.indexOf("/admindev/supertools/files")===0)
  // d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu'
  // Bootstrap List Group
  ul.list-group
    // Separator with title
    li.list-group-item.sidebar-separator-title.d-flex.align-items-center.menu-collapsed
      small TOOLS
    // /END Separator
    // Menu with submenu
    a.bg-dark.list-group-item.list-group-item-action.flex-column.align-items-start(href='#submenu1', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/admindev/supertools/emails")===0 ? "true" : "false")
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-envelope-o.fa-fw.mr-3
        span.menu-collapsed Emails
    // Submenu content
    #submenu1.collapse.sidebar-submenu(class=currentUrl.indexOf("/admindev/supertools/emails")===0 ? " show" : "")
      - var obj = {link:"/emails", title:"emails"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/emails/updateSendy", title:"updateSendy"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
    a.bg-dark.list-group-item.list-group-item-action.flex-column.align-items-start(href='#submenu2', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/admindev/supertools/addresses")===0 ? "true" : "false")
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-map-marker.fa-fw.mr-3
        span.menu-collapsed Addresses 
    // Submenu content
    #submenu2.collapse.sidebar-submenu(class=currentUrl.indexOf("/admindev/supertools/addresses")===0 ? " show" : "")
      - var obj = {link:"/addresses/venuesdbcheck", title:"venuesdbcheck"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/addresses/venuesdbimport", title:"venuesdbimport"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/addresses/venuesgetgeometry", title:"venuesgetgeometry"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/addresses/venuessetgeometry", title:"venuessetgeometry"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/addresses/usersdbcheck", title:"usersdbcheck"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/addresses/showall", title:"showall"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/addresses/updatedb", title:"updatedb"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/addresses/getgeometry", title:"getgeometry"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/addresses/setgeometry", title:""}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
    a.bg-dark.list-group-item.list-group-item-action.flex-column.align-items-start(href='#submenu4', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/admindev/supertools/files")===0 ? "true" : "false")
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-archive.fa-fw.mr-3
        span.menu-collapsed Files
    // Submenu content
    #submenu4.collapse.sidebar-submenu(class=currentUrl.indexOf("/admindev/supertools/files")===0 ? " show" : "")
      - var obj = {link:"/files/userimages", title:"userimages"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/userformatsgenerator", title:"userformatsgenerator"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/performanceimages", title:"performanceimages"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/performanceformatsgenerator", title:"performanceformatsgenerator"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/eventimages", title:"eventimages"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/eventformatsgenerator", title:"eventformatsgenerator"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/newsimages", title:"newsimages"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/newsformatsgenerator", title:"newsformatsgenerator"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/footagefiles", title:"footagefiles"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/footagerenamer", title:"footagerenamer"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/footageformatsgenerator", title:"footageformatsgenerator"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/videofiles", title:"videofiles"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/videoformatsgenerator", title:"videoformatsgenerator"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/galleryimages", title:"Gallery Images"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/files/gallerygenerator", title:"Gallery Generator"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
    a.bg-dark.list-group-item.list-group-item-action.flex-column.align-items-start(href='#submenu5', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/admindev/supertools/wpimport")===0 ? "true" : "false")
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-download.fa-fw.mr-3
        span.menu-collapsed WP Import
    // Submenu content
    #submenu5.collapse.sidebar-submenu(class=currentUrl.indexOf("/admindev/supertools/wpimport")===0 ? " show" : "")
      - var obj = {link:"/wpimport/news", title:"news"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
      - var obj = {link:"/wpimport/events", title:"events"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
    a.bg-dark.list-group-item.list-group-item-action.flex-column.align-items-start(href='#submenu6', data-toggle='collapse', aria-expanded=currentUrl.indexOf("/admindev/supertools/categories")===0 ? "true" : "false")
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-tags.fa-fw.mr-3
        span.menu-collapsed Categories
    // Submenu content
    #submenu6.collapse.sidebar-submenu(class=currentUrl.indexOf("/admindev/supertools/categories")===0 ? " show" : "")
      - var obj = {link:"/categories/dbcheck", title:"categoriesdbcheck"}
      a.list-group-item.list-group-item-action.text-white(href='/admindev/supertools'+obj.link, class=currentUrl.indexOf("/admindev/supertools"+obj.link)==0 ? "active" : "bg-dark")=obj.title
    a.bg-dark.list-group-item.list-group-item-action.flex-column.align-items-start(href='#', data-toggle='sidebar-colapse', style="padding-top:.5rem")
      .d-flex.w-100.justify-content-start.align-items-center
        span#collapse-icon.fa.fa-arrow-circle-o-left.fa-fw.mr-3
        span#collapse-text.menu-collapsed Collapse
        
