extends ../layout_emails
block content
  table(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width: 600px;')
    // COPY
    tbody
      tr
        td(bgcolor='#ffffff', align='left', style='padding: 20px 30px 40px 30px; color: #666666; font-family: Lato, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;')
          p(style='margin: 0;')=block_1
      // COPY
      tr
        td(bgcolor='#ffffff', align='left', style='padding: 0px 30px 0px 30px; color: #666666; font-family: Lato, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;')
          p(style='margin: 0;')=block_2
      // BULLETPROOF BUTTON
      tr
        td(bgcolor='#ffffff', align='left')
          table(width='100%', border='0', cellspacing='0', cellpadding='0')
            tbody
              tr
                td(bgcolor='#ffffff', align='center', style='padding: 20px 30px 60px 30px;')
                  table(border='0', cellspacing='0', cellpadding='0')
                    tbody
                      tr
                        td(align='center', style='border-radius: 3px;', bgcolor='#148dd4')
                          a(href=link, target='_blank', style='font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #148dd4; display: inline-block;')=button
      // COPY
      tr
        td(bgcolor='#ffffff', align='left', style='padding: 20px 30px 20px 30px; color: #666666; font-family: Lato, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;')
          p(style='margin: 0;')
            a(href=link, target='_blank', style='color: #148dd4;')=link
      // COPY
      tr
        td(bgcolor='#ffffff', align='left', style='padding: 0px 30px 20px 30px; color: #666666; font-family: Lato, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;')
          p(style='margin: 0;')=block_3
      // COPY
      tr
        td(bgcolor='#ffffff', align='left', style='padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #666666; font-family: Lato, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;')
          p(style='margin: 0;')!=html_sign ? html_sign : "The AVnode.net Team"
