.container
  .row
    .col-lg-7
      h1.main_title
        a(href="/"+data.slug+"/")=data.stagename
        if editable
          !="  "
          a.badge.badge-danger(href="/admin/"+(data.is_crew ? "crews" : "profile")+"/"+data._id+"/public")=global.__("EDIT") 
      if data.addressesFormatted && data.addressesFormatted.length       
        ul.performer_address.list-inline
          each address in data.addressesFormatted
            li.list-inline-item(class=data.addresses.length<5 ? "big" : undefined)!=address
      .row
        .col-lg-12
          div.performer_stats_wrapper
            if data.stats
              ul.performer_stats_list.performer_stats_list_1.list-inline
                if data.stats.events
                  li.list-inline-item
                    a(href="/"+data.slug+"/events")!=global.__('Events')+" (<span>"+data.stats.events+"</span>)"
                if data.stats.performances
                  li.list-inline-item
                    a(href="/"+data.slug+"/performances")!=global.__('Performances')+" (<span>"+data.stats.performances+"</span>)"  
                if data.stats.partnerships
                  li.list-inline-item
                    a(href="/"+data.slug+"/partnerships")!=global.__('Partnerships')+" (<span>"+data.stats.partnerships+"</span>)"
                if data.stats.crews
                  li.list-inline-item
                    a(href="/"+data.slug+"/crews")!=global.__('Crews')+" (<span>"+data.stats.crews+"</span>)"    
                if data.stats.members
                  li.list-inline-item
                    a(href="/"+data.slug+"/members")!=global.__('Members')+" (<span>"+data.stats.members+"</span>)"    
          div.performer_stats_wrapper
            if data.stats
              ul.performer_stats_list.performer_stats_list_2.list-inline
                if data.stats.footage
                  li.list-inline-item
                    a(href="/"+data.slug+"/footage")!=global.__('Footage')+" (<span>"+data.stats.footage+"</span>)"
                if data.stats.playlists
                  li.list-inline-item
                    a(href="/"+data.slug+"/playlists")!=global.__('Playlists')+" (<span>"+data.stats.playlists+"</span>)"  
                if data.stats.videos
                  li.list-inline-item
                    a(href="/"+data.slug+"/videos")!=global.__('Videos')+" (<span>"+data.stats.videos+"</span>)"    
                if data.stats.galleries
                  li.list-inline-item
                    a(href="/"+data.slug+"/galleries")!=global.__('Galleries')+" (<span>"+data.stats.galleries+"</span>)"    
                if data.stats.news
                  li.list-inline-item
                    a(href="/"+data.slug+"/news")!=global.__('News')+" (<span>"+data.stats.news+"</span>)"
        .col-lg-12
          if (data.web && data.web.length) || (data.social && data.social.length) || (data.publicEmails && data.publicEmails.length)
            div.performer_links_wrapper
              ul.performer_links_list.performer_links_list_2.list-inline                 
                each item in data.web
                  li.list-inline-item.mb-3
                    a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=item.url.replace("http://","").replace("https://","").split("/")[0])
                      span.lnr.lnr-link.about_button
                each item in data.social
                  if item.url.indexOf('instagram.com/')!=-1
                    li.list-inline-item.mb-3
                      - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").split("/")
                      a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                        i.fa.fa-instagram.about_button
                  else if item.url.indexOf('twitter.com/')!=-1
                    li.list-inline-item.mb-3
                      - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").split("/")
                      a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                        i.fa.fa-twitter.about_button
                  else if item.url.indexOf('facebook.com/')!=-1 || item.url.indexOf('fb.com/')!=-1
                    li.list-inline-item.mb-3
                      - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").replace("facebook.com","fb.com").split("/")
                      a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                        i.fa.fa-facebook.about_button
                  else if item.url.indexOf('vimeo.com/')!=-1
                    li.list-inline-item.mb-3
                      - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").split("/")
                      a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                        i.fa.fa-vimeo.about_button
                  else if item.url.indexOf('youtube.com/')!=-1
                    li.list-inline-item.mb-3
                      - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").split("/")
                      a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                        i.fa.fa-youtube.about_button
                  else
                    li.list-inline-item.mb-3
                      - var tooltip = item.url.replace("http://","").replace("https://","").replace("www.","").split("/")
                      a(href=item.url target="_blank" data-toggle="tooltip" data-placement="top" title=tooltip[0]+"/"+tooltip[1])
                        span.lnr.lnr-link.about_button
                if data.publicEmails && data.publicEmails.length          
                  each email in data.publicEmails
                    li.list-inline-item.mb-3
                      a(href="mailto:"+email data-toggle="tooltip" data-placement="top" title=global.__("Write an email to")+" "+email)
                        span.lnr.lnr-envelope
                        

    .col-lg-5
      .row
        .col-sm-6
          .performer_image_wrapper
            //.performer_image_bkg(style="background-image: url('"+data.imageFormats.large+"');")
            img.rounded-circle.img-fluid(
              src=data.imageFormats.large
              alt=data.stagename
              )
        .col-sm-6
          img.img-fluid(src="/images/logo_avnode_svg.svg")

