extends ../layout
block teaser
  //if data.teaserImageFormats.large
    .d-flex.justify-content-center.align-items-start
      img.img-fluid(
        src=data.teaserImageFormats.large
        alt=data.stagename
      )

block title
  .performer_header_wrapper
    include header

  .container
    .row
      .col-sm-12
        .performer_map_wrapper         
          script(src='https://maps.googleapis.com/maps/api/js?key='+process.env.GOOGLEMAPSAPIKEY+'&extension=.js')
          script(src='https://cdn.mapkit.io/v1/infobox.js')
          link(href='https://cdn.mapkit.io/v1/infobox.css', rel='stylesheet')
          script.
            var locations = !{JSON.stringify(data.locations)}
          script(src='/js/mymaps.js')
          #performer_map

    
  if data.abouts
    .abouts_wrapper
      .container
        .row
          .col-sm-12
              .about_wrapper
                !=data.about
                br
                span#about_collapse.about_more.collapse="Qua ci devi piazzare il more Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid nunc honeste dicit? Hic nihil fuit, quod quaereremus. Ille enim occurrentia nescio quae comminiscebatur; Totum autem id externum est, et quod externum, id in casu est. Hic quoque suus est de summoque bono dissentiens dici vere Peripateticus non potest. Duo Reges: constructio interrete. Quid enim possumus hoc agere divinius? Hanc ergo intuens debet institutum illud quasi signum absolvere. Haec quo modo conveniant, non sane intellego. Qui autem esse poteris, nisi te amor ipse ceperit? Qua ci devi piazzare il more Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid nunc honeste dicit? Hic nihil fuit, quod quaereremus. Ille enim occurrentia nescio quae comminiscebatur; Totum autem id externum est, et quod externum, id in casu est. Hic quoque suus est de summoque bono dissentiens dici vere Peripateticus non potest. Duo Reges: constructio interrete. Quid enim possumus hoc agere divinius? Hanc ergo intuens debet institutum illud quasi signum absolvere. Haec quo modo conveniant, non sane intellego. Qui autem esse poteris, nisi te amor ipse ceperit? Qua ci devi piazzare il more Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid nunc honeste dicit? Hic nihil fuit, quod quaereremus. Ille enim occurrentia nescio quae comminiscebatur; Totum autem id externum est, et quod externum, id in casu est. Hic quoque suus est de summoque bono dissentiens dici vere Peripateticus non potest. Duo Reges: constructio interrete. Quid enim possumus hoc agere divinius? Hanc ergo intuens debet institutum illud quasi signum absolvere. Haec quo modo conveniant, non sane intellego. Qui autem esse poteris, nisi te amor ipse ceperit?"        
              .more_button
                span.color1.lnr.lnr-plus-circle.collapsed(data-toggle='collapse', href='#about_collapse', role='button', aria-expanded='false', aria-controls='about_collapse')
    

block content
  .container
    section.row.performer_events_wrapper
      .col-lg-12
        h2.main_title.indented_title.color1!=__('Events')+" <small>(<span>"+data.stats.events+"</span>)</small>"
        .row.carousel
          each item in data.events
            .col-sm-4
              include ../partials/boxEvent
        //.text-right
          a.btn.btn-secondary(href=data.publicUrl+"/events/")=__('View all')        
          
  
  if data.performances.length
    section.performer_performances_wrapper
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=__('Performances')+" <small>(<span>"+data.stats.performances+"</span>)</small>"  
              .performance_divider.basic_divider
              .row.carousel
                each item in data.performances
                  .col-sm-4
                    include ../partials/boxPerformance

  if data.crews.length
    section.performer_crew_wrapper
      .container
        .row
          .col-lg-12
            h2.main_title.indented_title!=__('Crews')+" <small>(<span>"+data.stats.crews+"</span>)</small>"  
            .performance_divider.basic_divider
            .row
              .col-sm-6
                .row
                  each item in data.crews
                    .col-sm-12
                      include ../partials/boxPerformer
              .col-sm-6
                img.img-fluid(src="/images/logo_avnode_symbol.svg")

  if data.footage.length || data.videos.length || data.playlists.length
    section.performer_videos_wrapper
      .content_wrapper
        .container
          if data.footage.length
            .row.performer_footage.bottom60
              .col-lg-12
                h2.main_title.indented_title!=__('Footage')+" <small>(<span>"+data.stats.footage+"</span>)</small>"  
                .row.carousel
                  each item in data.footage            
                    .col-sm-4
                      include ../partials/boxFootage  

          if data.videos.length
            .row.performer_video
              .col-lg-12
                h2.main_title.indented_title!=__('Videos')+" <small>(<span>"+data.stats.videos+"</span>)</small>"  
                .row.carousel.bottom60
                  each item in data.videos            
                    .col-sm-4
                      include ../partials/boxVideo

          if data.playlists.length
            .row.performer_playlist
              .col-lg-12
                h2.main_title.indented_title!=__('Playlist')+" <small>(<span>"+data.stats.playlists+"</span>)</small>"  
                .row.carousel.bottom60
                  each item in data.playlists
                    .col-sm-4
                      include ../partials/boxPlaylist
  
  if data.galleries.length
    section.performer_galleries_wrapper
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=__('Galleries')+" <small>(<span>"+data.stats.galleries+"</span>)</small>"  
              .performance_divider.basic_divider
              .row.carousel
                each item in data.galleries
                  .col-sm-4
                    include ../partials/boxGallery

  if data.news.length
    section.performer_news_wrapper
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=__('News')
              .row.carousel_news
                - var conta = 0
                - for (var a = 0; a<data.news.length;a++)
                  if a/2 === parseInt(a/2)
                    .col-sm-6
                      - item = data.news[a]
                      include ../partials/boxNews
                      if data.news[a+1]
                        - item = data.news[a+1]
                        include ../partials/boxNews
