extends ../layout
block teaser
  //if data.teaserImageFormats.large
    .d-flex.justify-content-center.align-items-start
      img.img-fluid(
        src=data.teaserImageFormats.large
        alt=data.stagename
      )

block title
  .performer_header_wrapper
    include header

  .container
    .row
      .col-sm-12
        .performer_map_wrapper         
          script(src='https://maps.googleapis.com/maps/api/js?key='+process.env.GOOGLEMAPSAPIKEY+'&extension=.js')
          script(src='https://cdn.mapkit.io/v1/infobox.js')
          link(href='https://cdn.mapkit.io/v1/infobox.css', rel='stylesheet')
          script.
            var locations = !{JSON.stringify(data.locations)}
          script(src='/js/mymaps.js')
          #performer_map

    
  if data.abouts
    .abouts_wrapper
      .container
        .row
          .col-sm-12
            .about_wrapper
              span#about_collapse.about_collapse.collapse.show!=data.about
              if data.aboutFull.length > data.about.length
                span#about_collapseFull.about_collapse.about_more.collapse!=data.aboutFull
            if data.aboutFull.length > data.about.length
              .more_button
                span.color1.lnr.lnr-plus-circle.collapsed(data-toggle='collapse', data-target=".about_collapse", href='#about_collapse', role='button', aria-expanded='false', aria-controls='about_collapse about_collapseFull')
  .polygon_divider_bottom
    svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
      g#layer2
      g#Layer_1
        g
          polygon(fill='transparent' points='1927.4,99.5 0,99.5 0,-1 		')
          polygon(fill='#232323' points='0,0 1920,0 1920,100.5 		')    

block content
  .container
    if data.events.length
      section#events.row.performer_events_wrapper
        .col-lg-12
          h2.main_title.indented_title.color1!=global.__('Events')+" <small>(<span>"+data.stats.events+"</span>)</small>"
          .owl-carousel.loop.owl-theme
            each item in data.events
              include ../partials/boxEvent
          .button_more.button_more_program
            a(href="/"+data.slug+"/events", title=data.stagename)
              span.button_more_label!=global.__('+ All the events')
              span.button_more_bkg
          
  
    if data.partnerships.length
      section#partnerships.row.performer_partnerships_wrapper
        .col-lg-12
          h2.main_title.indented_title.color1!=global.__('Partnerships')+" <small>(<span>"+data.stats.partnerships+"</span>)</small>"
          .owl-carousel.loop.owl-theme
            each item in data.partnerships
              include ../partials/boxEvent
          .button_more.button_more_program
            a(href="/"+data.slug+"/partnerships", title=data.stagename)
              span.button_more_label!=global.__('+ All the partnerships')
              span.button_more_bkg
          
  
  if data.performances.length
    .polygon_divider_top
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='#0f8fcf' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='transparent' points='0,0 1920,0 1920,100.5 		')
    section#performances.performer_performances_wrapper
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=global.__('Performances')+" <small>(<span>"+data.stats.performances+"</span>)</small>"  
              .performance_divider.basic_divider
              .owl-carousel.loop.owl-theme
                each item in data.performances                
                  include ../partials/boxPerformance
              .button_more.button_more_grey
                a(href="/"+data.slug+"/performances", title=data.stagename)
                  span.button_more_label!=global.__('+ All the performances')
                  span.button_more_bkg                  
    .polygon_divider_bottom
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='transparent' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='#0f8fcf' points='0,0 1920,0 1920,100.5 		')                  

  if data.crews.length
    section#crews.performer_crew_wrapper
      .container
        .row
          .col-lg-12
            h2.main_title.indented_title!=global.__('Crews')+" <small>(<span>"+data.stats.crews+"</span>)</small>"  
            .performance_divider.basic_divider
            .row
              .col-sm-6
                .row
                  each item in data.crews
                    .col-sm-12
                      include ../partials/boxPerformer
              .col-sm-6
                img.img-fluid(src="/images/logo_avnode_symbol.svg")

  if data.members.length
    section#members.performer_crew_wrapper
      .container
        .row
          .col-lg-12
            h2.main_title.indented_title!=global.__('Members')+" <small>(<span>"+data.stats.members+"</span>)</small>"  
            .performance_divider.basic_divider
            .row
              .col-sm-6
                .row
                  each item in data.members
                    .col-sm-12
                      include ../partials/boxPerformer
              .col-sm-6
                img.img-fluid(src="/images/logo_avnode_symbol.svg")

  if data.footage.length || data.videos.length || data.playlists.length
    .polygon_divider_top
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='#0f8fcf' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='transparent' points='0,0 1920,0 1920,100.5 		')  
    section.performer_videos_wrapper
      .content_wrapper
        .container
          if data.footage.length
            #footage.row.performer_footage.bottom60
              .col-lg-12
                h2.main_title.indented_title!=global.__('Footage')+" <small>(<span>"+data.stats.footage+"</span>)</small>"  
                .owl-carousel.loop.owl-theme
                  each item in data.footage            
                    include ../partials/boxFootage 
                .button_more.button_more_grey
                  a(href="/"+data.slug+"/footage", title=data.stagename)
                    span.button_more_label!=global.__('+ All the footages')
                    span.button_more_bkg                     

          if data.videos.length
            #videos.row.performer_video
              .col-lg-12
                h2.main_title.indented_title!=global.__('Videos')+" <small>(<span>"+data.stats.videos+"</span>)</small>"  
                .owl-carousel.loop.owl-theme.bottom60
                  each item in data.videos            
                    include ../partials/boxVideo
                .button_more.button_more_grey
                  a(href="/"+data.slug+"/videos", title=data.stagename)
                    span.button_more_label!=global.__('+ All the videos')
                    span.button_more_bkg                    

          if data.playlists.length
            #playlists.row.performer_playlist
              .col-lg-12
                h2.main_title.indented_title!=global.__('Playlist')+" <small>(<span>"+data.stats.playlists+"</span>)</small>"  
                .owl-carousel.loop.owl-theme.bottom60
                  each item in data.playlists
                    include ../partials/boxPlaylist
                .button_more.button_more_grey
                  a(href="/"+data.slug+"/playlists", title=data.stagename)
                    span.button_more_label!=global.__('+ All the playlists')
                    span.button_more_bkg


  
  if data.galleries.length    
    section#galleries.performer_galleries_wrapper
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=global.__('Galleries')+" <small>(<span>"+data.stats.galleries+"</span>)</small>"  
              .performance_divider.basic_divider
              .owl-carousel.loop_3items.owl-theme
                each item in data.galleries
                  include ../partials/boxGallery  
              .button_more.button_more_program
                a(href="/"+data.slug+"/galleries", title=data.stagename)
                  span.button_more_label!=global.__('+ All the galleries')
                  span.button_more_bkg                        

  if data.news.length
    section#news.performer_news_wrapper
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=global.__('News')
              .owl-carousel.loop_2.owl-theme
                - var conta = 0
                - for (var a = 0; a<data.news.length;a++)
                  if a/2 === parseInt(a/2)
                    .item
                      - item = data.news[a]
                      include ../partials/boxNews
                      if data.news[a+1]
                        - item = data.news[a+1]
                        include ../partials/boxNews
              .button_more.button_more_program
                a(href="/"+data.slug+"/news", title=data.stagename)
                  span.button_more_label!=global.__('+ All the news')
                  span.button_more_bkg                        
