extends ../layout
block teaser
  //if data.teaserImageFormats.large
    .d-flex.justify-content-center.align-items-start
      img.img-fluid(
        src=data.teaserImageFormats.large
        alt=data.stagename
      )

block title
  .performer_header_wrapper
    include header

  .container
    .row
      .col-sm-12
        .performer_map_wrapper
          .miss="lat and lng coordinates for each place"
          script(src='https://maps.googleapis.com/maps/api/js?key=&extension=.js')
          script(src='https://cdn.mapkit.io/v1/infobox.js')
          link(href='https://cdn.mapkit.io/v1/infobox.css', rel='stylesheet')
          script.
            
            google.maps.event.addDomListener(window, 'load', init);
            var map, markersArray = [];            
            function init() {
              var mapOptions = {
                center: new google.maps.LatLng(44.949249617825004,12.246409686719744),
                zoom: 5,
                gestureHandling: 'auto',
                fullscreenControl: false,
                zoomControl: true,
                disableDoubleClickZoom: true,
                mapTypeControl: true,
                mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                },
                scaleControl: true,
                scrollwheel: true,
                streetViewControl: true,
                draggable : true,
                clickableIcons: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: [
                        {
                        "featureType": "all",
                        "elementType": "labels.text.fill",
                        "stylers": [
                        {
                        "saturation": 36
                        },
                        {
                        "color": "#000000"
                        },
                        {
                        "lightness": 40
                        }
                        ]
                        },
                        {
                        "featureType": "all",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                        {
                        "visibility": "on"
                        },
                        {
                        "color": "#000000"
                        },
                        {
                        "lightness": 16
                        }
                        ]
                        },
                        {
                        "featureType": "all",
                        "elementType": "labels.icon",
                        "stylers": [
                        {
                        "visibility": "off"
                        }
                        ]
                        },
                        {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [
                        {
                        "color": "#000000"
                        },
                        {
                        "lightness": 20
                        }
                        ]
                        },
                        {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                        {
                        "color": "#000000"
                        },
                        {
                        "lightness": 17
                        },
                        {
                        "weight": 1.2
                        }
                        ]
                        },
                        {
                        "featureType": "administrative.country",
                        "elementType": "labels.text.fill",
                        "stylers": [
                        {
                        "color": "#ffffff"
                        }
                        ]
                        },
                        {
                        "featureType": "administrative.country",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                        {
                        "color": "#ff0000"
                        },
                        {
                        "visibility": "off"
                        }
                        ]
                        },
                        {
                        "featureType": "administrative.province",
                        "elementType": "labels.text.fill",
                        "stylers": [
                        {
                        "color": "#ff0000"
                        }
                        ]
                        },
                        {
                        "featureType": "administrative.province",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                        {
                        "visibility": "off"
                        }
                        ]
                        },
                        {
                        "featureType": "administrative.locality",
                        "elementType": "labels.text.fill",
                        "stylers": [
                        {
                        "visibility": "on"
                        },
                        {
                        "color": "#ffffff"
                        },
                        {
                        "weight": "0.01"
                        }
                        ]
                        },
                        {
                        "featureType": "administrative.locality",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                        {
                        "visibility": "off"
                        }
                        ]
                        },
                        {
                        "featureType": "administrative.neighborhood",
                        "elementType": "labels.text.fill",
                        "stylers": [
                        {
                        "visibility": "on"
                        },
                        {
                        "color": "#ffffff"
                        }
                        ]
                        },
                        {
                        "featureType": "administrative.neighborhood",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                        {
                        "visibility": "off"
                        }
                        ]
                        },
                        {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [
                        {
                        "color": "#000000"
                        },
                        {
                        "lightness": 20
                        }
                        ]
                        },
                        {
                        "featureType": "landscape",
                        "elementType": "geometry.fill",
                        "stylers": [
                        {
                        "color": "#000000"
                        }
                        ]
                        },
                        {
                        "featureType": "landscape.man_made",
                        "elementType": "labels.text.fill",
                        "stylers": [
                        {
                        "visibility": "on"
                        },
                        {
                        "color": "#808080"
                        }
                        ]
                        },
                        {
                        "featureType": "landscape.man_made",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                        {
                        "visibility": "off"
                        }
                        ]
                        },
                        {
                        "featureType": "landscape.natural",
                        "elementType": "geometry.fill",
                        "stylers": [
                        {
                        "color": "#000000"
                        }
                        ]
                        },
                        {
                        "featureType": "landscape.natural.landcover",
                        "elementType": "geometry",
                        "stylers": [
                        {
                        "visibility": "on"
                        }
                        ]
                        },
                        {
                        "featureType": "landscape.natural.landcover",
                        "elementType": "geometry.fill",
                        "stylers": [
                        {
                        "color": "#000000"
                        }
                        ]
                        },
                        {
                        "featureType": "landscape.natural.terrain",
                        "elementType": "geometry",
                        "stylers": [
                        {
                        "visibility": "on"
                        }
                        ]
                        },
                        {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                        {
                        "color": "#000000"
                        },
                        {
                        "lightness": 21
                        }
                        ]
                        },
                        {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                        {
                        "color": "#ffffff"
                        },
                        {
                        "lightness": 17
                        }
                        ]
                        },
                        {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                        {
                        "color": "#000000"
                        },
                        {
                        "lightness": 29
                        },
                        {
                        "weight": "0.01"
                        }
                        ]
                        },
                        {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                        {
                        "color": "#000000"
                        },
                        {
                        "lightness": 18
                        }
                        ]
                        },
                        {
                        "featureType": "road.arterial",
                        "elementType": "geometry.fill",
                        "stylers": [
                        {
                        "visibility": "on"
                        },
                        {
                        "color": "#808080"
                        }
                        ]
                        },
                        {
                        "featureType": "road.arterial",
                        "elementType": "geometry.stroke",
                        "stylers": [
                        {
                        "hue": "#ff0000"
                        }
                        ]
                        },
                        {
                        "featureType": "road.arterial",
                        "elementType": "labels.text.fill",
                        "stylers": [
                        {
                        "color": "#ffffff"
                        }
                        ]
                        },
                        {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [
                        {
                        "color": "#000000"
                        },
                        {
                        "lightness": 16
                        }
                        ]
                        },
                        {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                        {
                        "color": "#000000"
                        },
                        {
                        "lightness": 19
                        }
                        ]
                        },
                        {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                        {
                        "lightness": 17
                        },
                        {
                        "color": "#303030"
                        }
                        ]
                        }
                        ]
    
              }
              var bounds = new google.maps.LatLngBounds();
              var mapElement = document.getElementById('performer_map');
              var map = new google.maps.Map(mapElement, mapOptions);
              var locations = [
              {"lat":41.90278349999999,
              "lng":12.496365500000024,
              "marker":{"url":"/images/avnode_marker.svg",
                "scaledSize":{"width":46,"height":78,"f":"px","b":"px"},
                "origin":{"x":0,"y":0},"anchor":{"x":23,"y":78}},
              },
              {"lat":52.3702157,
              "lng":4.895167899999933,
              "marker":{"url":"/images/avnode_marker.svg",
                "scaledSize":{"width":46,"height":78,"f":"px","b":"px"},
                "origin":{"x":0,"y":0},"anchor":{"x":23,"y":78}},
              }];
              for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                  icon: locations[i].marker,
                  position: new google.maps.LatLng(locations[i].lat, locations[i].lng),
                  map: map,                
                  });
                markersArray.push(marker);
                
                bounds.extend(marker.position);              
              }
                google.maps.event.addListener(map, 'zoom_changed', function() {
                  zoomChangeBoundsListener = 
                      google.maps.event.addListener(map, 'bounds_changed', function(event) {
                          if (this.getZoom() > 15 && this.initialZoom == true) {                            
                              this.setZoom(7);
                              this.initialZoom = false;
                          }
                      google.maps.event.removeListener(zoomChangeBoundsListener);
                  });
              });
              map.initialZoom = true;          
              map.fitBounds(bounds);

            }

          #performer_map

    
  if data.abouts
    .abouts_wrapper
      .container
        .row
          .col-sm-12
              .about_wrapper
                !=data.about        
              .more_button
                span.color1.lnr.lnr-plus-circle
    .abouts_divider

block content
  .container
    section.row.performer_events_wrapper
      .col-lg-12
        h2.main_title.indented_title.color1!=__('Events')+" <small>(<span>"+data.stats.events+"</span>)</small>"
        .row.carousel
          each item in data.events
            .col-sm-4
              include ../partials/boxEvent
        //.text-right
          a.btn.btn-secondary(href=data.publicUrl+"/events/")=__('View all')        
          
  
  if data.performances.length
    section.performer_performances_wrapper
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=__('Performances')+" <small>(<span>"+data.stats.performances+"</span>)</small>"  
              .performance_divider.basic_divider
              .row.carousel
                each item in data.performances
                  .col-sm-4
                    include ../partials/boxPerformance

  if data.crews.length
    section.performer_crew_wrapper
      .container
        .row
          .col-lg-12
            h2.main_title.indented_title!=__('Crews')+" <small>(<span>"+data.stats.crews+"</span>)</small>"  
            .performance_divider.basic_divider
            .row
              .col-sm-6
                .row
                  each item in data.crews
                    .col-sm-12
                      include ../partials/boxPerformer
              .col-sm-6
                img.img-fluid(src="/images/logo_avnode_symbol.svg")

  if data.footage.length || data.videos.length || data.playlists.length
    section.performer_videos_wrapper
      .content_wrapper
        .container
          if data.footage.length
            .row.performer_footage
              .col-lg-12
                h2.main_title.indented_title!=__('Footage')+" <small>(<span>"+data.stats.footage+"</span>)</small>"  
                .row.carousel
                  each item in data.footage            
                    .col-sm-4
                      include ../partials/boxFootage  

          if data.videos.length
            .row.performer_video
              .col-lg-12
                h2.main_title.indented_title!=__('Videos')+" <small>(<span class='miss'>"+data.stats.video+"</span>)</small>"  
                .row
                  each item in data.videos            
                    .col-sm-4
                      include ../partials/boxVideo

          if data.playlists.length
            .row.performer_playlist
              .col-lg-12
                h2.main_title.indented_title!=__('Playlist')+" <small>(<span>"+data.stats.playlists+"</span>)</small>"  
                .row.carousel
                  each item in data.playlists
                    .col-sm-4
                      include ../partials/boxPlaylist
  
  if data.galleries.length
    section.performer_galleries_wrapper
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=__('Galleries')+" <small>(<span>"+data.stats.galleries+"</span>)</small>"  
              .performance_divider.basic_divider
              .row.carousel
                each item in data.galleries
                  .col-sm-4
                    include ../partials/boxGallery

  if data.news.length
    section.performer_galleries_wrapper
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=__('News')+" <small>(<span>"+data.stats.news+"</span>)</small>"  
              .performance_divider.basic_divider
              .row.carousel
                each item in data.news
                  .col-sm-4
                    include ../partials/boxNews