extends ../layout
block teaser
  //if data.teaserImageFormats.large
    .d-flex.justify-content-center.align-items-start
      img.img-fluid(
        src=data.teaserImageFormats.large
        alt=data.stagename
      )

block title
  .performer_header_wrapper
    .container
      .row
        .col-lg-7
          h1.main_title=data.stagename          
          ul.performer_address.list-inline
            each address in data.addresses
              li.list-inline-item=address.locality + ", " + address.country
          div.performer_stats_wrapper
            ul.performer_stats_list.performer_stats_list_1.list-inline
              if data.stats.events
                li.list-inline-item!=__('Events')+" (<span>"+data.stats.events+"</span>)"
              if data.stats.performances
                li.list-inline-item!=__('Performances')+" (<span>"+data.stats.performances+"</span>)"  
              if data.stats.crews
                li.list-inline-item!=__('Crews')+" (<span>"+data.stats.crews+"</span>)"    
            ul.performer_stats_list.performer_stats_list_2.list-inline
              if data.stats.footage
                li.list-inline-item!=__('Footage')+" (<span>"+data.stats.footage+"</span>)"
              if data.stats.playlists
                li.list-inline-item!=__('Playlists')+" (<span>"+data.stats.playlists+"</span>)"  
              if data.stats.videos
                li.list-inline-item!=__('Videos')+" (<span>"+data.stats.videos+"</span>)"    
              if data.stats.galleries
                li.list-inline-item!=__('Galleries')+" (<span>"+data.stats.galleries+"</span>)"    
        .col-lg-5
          .row
            .col-sm-6
              .performer_image_wrapper
                //.performer_image_bkg(style="background-image: url('"+data.imageFormats.large+"');")
                img.rounded-circle.img-fluid(
                  src=data.imageFormats.medium
                  alt=data.stagename
                  )
            .col-sm-6
              img.img-fluid(src="/images/logo_avnode_svg.svg")

  .container
    .row
      .col-sm-12
        .performer_map_wrapper
          h2="auto centred Google map: a marker for each performer's address"
    
  if data.abouts
    .abouts_wrapper
      .container
        .row
          .col-sm-12
              .about_wrapper
                !=data.about        
              .more_button
                span.color1.lnr.lnr-plus-circle
    .abouts_divider

block content
  .container
    section.row.performer_events_wrapper
      .col-lg-12
        h2.main_title.indented_title.color1!=__('Events')+" <small>(<span>"+data.stats.events+"</span>)</small>"
        .row
          each item in data.events
            .col-sm-4
              include ../partials/boxEvent
        //.text-right
          a.btn.btn-secondary(href=data.publicUrl+"/events/")=__('View all')
  
  section.performer_performances_wrapper
    .content_wrapper
      .container
        .row
          .col-lg-12
            h2.main_title.indented_title!=__('Performances')+" <small>(<span>"+data.stats.performances+"</span>)</small>"  
            .performance_divider.basic_divider
            .row
              each item in data.performances
                .col-sm-4
                  include ../partials/boxPerformance
  section.performer_crew_wrapper
    .container
      .row
        .col-lg-12
          h2.main_title.indented_title!=__('Crews')+" <small>(<span>"+data.stats.crews+"</span>)</small>"  
          .performance_divider.basic_divider
          .row
            .col-sm-6
              .row
                each item in data.crews
                  .col-sm-12
                    include ../partials/boxPerformer
            .col-sm-6
              img.img-fluid(src="/images/logo_avnode_symbol.svg")

            
  br
  br
  .row
    .col-lg-12
      h3=__('Videos')
      .card-deck
        each item in data.videos
          .col-sm-4
            include ../partials/boxVideo
  br
  br
  .row
    .col-lg-12
      h3=__('Footage')
      .card-deck
        each item in data.footage
          .col-sm-4
            include ../partials/boxFootage
  br
  br
  .row
    .col-lg-12
      h3=__('Playlists')
      .card-deck
        each item in data.playlists
          .col-sm-4
            include ../partials/boxPlaylist
  br
  br
  .row
    .col-lg-12
      h3=__('Galleries')
      .card-deck
        each item in data.galleries
          .col-sm-4
            include ../partials/boxGallery
