.form-group
	label.labelField=__("City, country")
	#addresses
		- if (!data.addresses || !data.addresses.length || !data.addresses[0]) {
		-  data.addresses = []
		-  data.addresses[0] = {formatted_address:"", geometry: {}};
		- }
		each address, i in data.addresses
			.mb-3
				.input-group
					input.form-control.location-search-input(type='text' autocomplete='nope' role='combobox' aria-autocomplete='list' aria-expanded='false' placeholder='City, country' value=address.formatted_address)
					input.lat(type='hidden' name='addresses['+i+'][geometry][lat]' value=address.geometry && address.geometry.lat ? address.geometry.lat : "")
					input.lng(type='hidden' name='addresses['+i+'][geometry][lng]' value=address.geometry.lng && address.geometry.lng ? address.geometry.lng : "")
					input.locality(type='hidden' name='addresses['+i+'][locality]' value=address.locality)
					input.country(type='hidden' name='addresses['+i+'][country]' value=address.country)
					input.formatted_address(type='hidden' name='addresses['+i+'][formatted_address]' value=address.formatted_address)
					.input-group-append
						button.btn.btn-danger.remove_simple(type='button' data-list="addresses" disabled=(data.addresses.length ? "disabled" : undefined))
							i.icon-trash
	button.mb-2.btn.btn-success.btn-sm.duplicator(type='button' data-list="addresses")
		i.icon-plus
		!=" "
		b=__("ADD CITY")
