.form-group
	label.labelField=__("Street, City, country")
	#addresses_private
		- if (!data.addresses_private || !data.addresses_private.length || !data.addresses_private[0]) {
		-  data.addresses_private = []
		-  data.addresses_private.push({formatted_address:"", geometry: {}});
		- }
		each address, i in data.addresses_private
			.mb-3
				.input-group
					input.form-control.address-search-input(type='text' autocomplete='nope' role='combobox' aria-autocomplete='list' aria-expanded='false' placeholder=__('Street, City, country') value=address.formatted_address)
					input.lat(type='hidden' name='addresses_private['+i+'][geometry][lat]' value=address.geometry.lat)
					input.lng(type='hidden' name='addresses_private['+i+'][geometry][lng]' value=address.geometry.lng)
					input.locality(type='hidden' name='addresses_private['+i+'][locality]' value=address.locality)
					input.country(type='hidden' name='addresses_private['+i+'][country]' value=address.country)
					input.formatted_address(type='hidden' name='addresses_private['+i+'][formatted_address]' value=address.formatted_address)
					input.postal_code(type='hidden' name='addresses_private['+i+'][postal_code]' value=address.postal_code)
					input.route(type='hidden' name='addresses_private['+i+'][route]' value=address.route)
					input.street_number(type='hidden' name='addresses_private['+i+'][street_number]' value=address.street_number)
					.input-group-append
						button.btn.btn-danger.remove_simple(type='button' data-list="addresses_private" disabled=(data.addresses_private.length ? "disabled" : undefined))
							i.icon-trash
	button.mb-2.btn.btn-success.btn-sm.duplicator(type='button' data-list="addresses_private")
		i.icon-plus
		!=" "
		b=__("ADD PRIVATE ADDRESS")
