#image.mb-3
	#image-preview(class=(!data.image || !data.image.file ? "d-none" : undefined))
		img.img-fluid(src=data.imageFormats.large alt=data.stagename ? data.stagename : data.title)
	#formupload(class=(data.image && data.image.file ? "d-none" : undefined) style='max-width:400px')
		.enableBorder
			.embed-responsive.embed-responsive-16by9.mb-0
				.embed-responsive-item
					.attachment-dropzone(aria-disabled='false' style='position: relative;height:100%')
						.labelFieldUpload
							.h1
								i.icon-arrow-alt-circle-down
							span=__("Drop file here")
							div=__("OR")
							.btn.btn-primary=__("BROWSE")
