.form-group
	label.h4.labelField=__("Members")
	#members
		.alert.d-none
		each member, i in data.members
			.mb-3
				a(href='#' data-id=member._id data-crewid=data._id class=(data.members.length == 1 ? "disabled" : undefined))
					i.fa.fa-trash
				!=" | "
				!=member.stagename
	.row
		.col-md-6.offset-md-3
			.input-group.autocomplete_members
				input.form-control(type='text' autocomplete='off' placeholder='Member' value='')
				.input-group-append
					button.mb-2.btn.btn-success.disabled(type='button' data-crewid=data._id)
						i.fa.fa-plus
						!=" "
						b=__("ADD MEMBER")
