#sidebar-container.sidebar-expanded.d-none.d-md-block
  // !=currentUrl +(currentUrl.indexOf("/adminpro/supertools/files")===0)
  // d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu'
  // Bootstrap List Group
  .list-group
    // Separator with title
    .list-group-item.sidebar-separator-title.d-flex
      small.menu-collapsed=__("Control panel")
    - var exclude = ["/admin/footage", "/admin/playlists", "/admin/subscriptions"]
    each menuitem in config.adminMenu
      if user.is_admin || exclude.indexOf(menuitem.href) === -1
        a.list-group-item.list-group-item-action(href=menuitem.href.replace("/admin/profile", "/admin/profile/"+user._id) class=currentUrl.indexOf(menuitem.href.replace("/admin/profile", "/admin/profile/"+user._id))!==-1 ? "active bg-secondary" : "bg-dark")
          span.mr-3(class=menuitem.icon)
          span.menu-collapsed=menuitem.label.defaultMessage
    if user.is_pro
      a.list-group-item.list-group-item-action.bg-dark(href="/adminpro")
        span.mr-3(class="icon-cog")
        span.menu-collapsed="Advanced Tools"
    a.list-group-item.bg-dark(href='#', data-toggle='sidebar-collapse')
      .d-flex.w-100.justify-content-start.align-items-center
        span.icon-arrow-alt-circle-left.fa-fw.mr-3
        span.menu-collapsed=__("Collapse")
