nav.navbar.navbar_extended_template.navbar-toggleable-md.navbar-fixed-top.navbar-inverse.bg-inverse.navbar-expand-lg 
  button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbar-collapse_admin")
    span.lnr.lnr-menu.toggle_icon
  a.navbar-brand(href='/', title="AVnode.net")
    img(src='/images/logo_avnode_bar.svg', height='30', class='main_logo' alt='AVnode.net')
  .collapse.navbar-collapse#navbar-collapse_admin
    ul.navbar-nav.mr-auto
      li.nav-item.mt-2.mb-2.d-block.d-lg-none
        b="Control panel"
      each menuitem in config.adminMenu
        li.nav-item.mt-2.mb-2.d-block.d-lg-none(class=currentUrl==menuitem.href ? "active" : undefined)
          a.nav-link(href=menuitem.href.replace("/admin/profile", "/admin/profile/"+user._id))
            span(class=menuitem.icon)
            span=menuitem.label.defaultMessage
      li.nav-item.mt-4.mb-2.d-block.d-lg-none
        a.nav-link(href='/logout')      
          span.fas.fa-sign-out-alt.fa-fw.mr-3
          span=global.__('Log out')
    ul.user_navbar.navbar-nav.d-none.d-sm-block
      if user
        //li.nav-item.dropdown.user_menu.user_menu_logged                  
        li.nav-item.dropdown.user_menu.user_menu_logged
          a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.lnr.lnr-user
          .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
            a.dropdown-item(href='/'+user.slug)                    
              span.pr-2.lnr.lnr-eye
              !=" "+global.__('Profile')
            a.dropdown-item(href='/admin/profile/'+user._id+'/public')                    
              span.pr-2.lnr.lnr-cog
              !=" "+global.__('Control Panel')
            a.dropdown-item(href='/logout')                    
              span.pr-2.lnr.lnr-exit
              !=" "+global.__('Log out')
      else
        li.nav-item.signup_ico
          a.nav-link.disabled(href='#')
            span.pr-2.lnr.lnr-user
        li.nav-item.login
          a.nav-link(href='/login', title=global.__('Login'))
            !=global.__('Login')
        li.nav-item.signup
          a.nav-link(href='/signup', title=global.__('Sign up'))=global.__('Sign up')
