#slug.form-group
	label.labelField(for='slug')=slugtitle
	.input-group
		.input-group-prepend
			span.input-group-text="https://avnode.net/"+(get.sez!="profile" && get.sez!="crews" ? get.sez+"/" : "")
		input.form-control(type='text' name='slug' id='slug' autocomplete="off" aria-describedby="slugHelpInline" placeholder=slugplaceholder value=data.slug)
	small#slugHelpInline.help=slughelptext
	.badge.badge-danger
		if err && Object.keys(err.errors).indexOf('slug')!==-1
			!=err.errors.slug.message
