.form-group
	label.h4.labelField=get.sez=="events" ? __("Production") : __("Authors")
	#users
		.alert.d-none
		each user, i in data.users
			.mb-3
				a(href='#' data-id=user._id data-obj=get.sez data-objid=data._id class=(data.users.length == 1 ? "disabled" : undefined))
					i.icon-trash
				!=" | "
				!=user.stagename
	.row
		.col-md-6.offset-md-3
			.input-group.autocomplete_users
				input.form-control(type='text' autocomplete='nope' placeholder=get.sez=="events" ? __("Organization") : __("Author") value='')
				.input-group-append
					button.mb-2.btn.btn-success.disabled(type='button' data-objid=data._id data-obj=get.sez)
						i.icon-plus
						!=" "
						b=get.sez=="events" ? __("ADD ORGANIZATION") : __("ADD AUTHOR")
