extends ../layout

block content
  .container
    if err
      h3=global.__("Verification Failed")
      p=global.__("Verification was already done or someone subscribed with some of your data.")
    else
      h3=global.__("Verification Success!!!")
      p=global.__("Verification was succesfully, to be listed as performer please login and complete your profile with images and infos.")
      p.text-center
        a.btn.btn-primary.btn-lg(href="/login")=global.__("LOG IN")
