extends ../../layout_admin
block topmenu
  include topmenu
block content
  .row
    .col-sm-12
      table.table.table-fixed.table-fixed-fixed
        thead
          tr
            td.table-firstcolumn-ID="ID"
            td=global.__("Title")
            td=global.__("Production")
            td=global.__("Web")
            td=global.__("Socials")
        tbody
          if data.events.length
            each item, index in data.events
              tr
                td.table-firstcolumn-ID=index+1
                td
                  a(href="/adminpro/events/"+item._id)!=item.title
                td
                  each user in item.users
                    div
                      a(href="/"+user.slug, target="_blank")!=user.stagename
                td
                  each web in item.web
                    div
                      a(href=web.url, target="_blank")!=web.url
                td
                  each social in item.social
                    div
                      a(href=social.url, target="_blank")!=social.url
