extends ../../layout_admin
block topmenu
  include topmenu
block content

  include ./_filters

  form(method="post").form-horizontal#myform
    .well
      // store the userId on the client side in a hidden input field //
      - if (typeof msg !== "undefined" && typeof msg.e !== "undefined" && msg.e.length)
        .alert.alert-error
          h4="There are some errors"
          ul
            - for(a=0;a<msg.e.length;a++)
              li=msg.e[a].m
      - if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length)
        .alert.alert-success
          h4="There are some messages"
          ul
            - for(a=0;a<msg.c.length;a++)
              li=msg.c[a].m
      .row
        .col-sm-6
          p
            label(for='from_name')="From name"
            input(type="text",placeholder="From name", value=typeof(body)!=="undefined" && body.from_name ? body.from_name : 'Gianluca Del Gobbo', name='from_name')#from_name.form-control
          p
            label(for='from_email')="From Email"
            input(type="email",        placeholder="From Email",    name='from_email',     value=typeof(body) !== "undefined" && body.from_email ? body.from_email : 'g.delgobbo@flyer.it')#from_email.form-control
          p
            label(for='user_email')="User Email"
            input(type="email",        placeholder="User Email",    name='user_email',     value=typeof(body) !== "undefined" && body.user_email ? body.user_email : 'g.delgobbo@flyer.it')#user_email.form-control
          p
            label(for='user_password')="User Password"
            input(type="password",  placeholder="User Password",name='user_password',value=typeof(body)!=="undefined" && body.user_password ? body.user_password : '')#user_password.form-control
        .col-sm-6
          p
            label(for='subject_add')="Subject"
            input(type="text",onkeyup="jQuery('#subject_preview').html('[org_name] | '+this.value);jQuery('#subject').val('[org_name] | '+this.value)",placeholder="Subject", value=typeof(body)!=="undefined" && body.subject_add ? body.subject_add : '', name='subject_add')#subject_add.form-control
            b#subject_preview!="[org_name] | "+(typeof(body)!=="undefined" && body.subject_add ? body.subject_add : '')
            input(type="hidden",value=typeof(body)!=="undefined" && body.subject ? body.subject : '[org_name] | ', name='subject')#subject
      .row
        .col-sm-6
          p
            label(for='message_it')="Message IT"
            textarea(rows="20",name="message_it")#message_it.form-control=(typeof(body)!=="undefined" && body.message_it ? body.message_it : 'Ciao [name],\n\n\n[email]')
        .col-sm-6
          p
            label(for='message_en')="Message EN"
            textarea(rows="20",name="message_en")#message_en.form-control=(typeof(body)!=="undefined" && body.message_it ? body.message_en : 'Ciao [name],\n\n\n[email]')
      .mb-3.text-center
        button(type='submit').btn.btn-success="Compose"


    h3="Exclude"
    ol
      each item, index in data.subscriptions
        if item
          li
            .form-check
              input.form-check-input(type='checkbox', name='exclude', id=item.subscription.subscriber_id._id.toString(), value=item.subscription.subscriber_id._id.toString(), checked=body && body.exclude!=undefined && (item.subscription.subscriber_id._id.toString()==body.exclude || body && body.exclude.indexOf(item.subscription.subscriber_id._id.toString())!=-1) ? 'checked' : undefined)
              label.form-check-label(for=item.subscription.subscriber_id._id.toString())=item.subscription.subscriber_id.name +" "+item.subscription.subscriber_id.surname + " aka " + item.subscription.subscriber_id.stagename  
    if tosave
      ol
        each item in tosave.messages_tosend

          li
            p!="From: <b>"+item.from_name+" &lt"+item.from_email+"&gt</b>"
            p
              !="To: "
              b
                !=item.to_html.replace("<", "&lt").replace(">", "&gt")
            - if (item.cc_html)
              p!="CC: <b>"+item.cc_html.map(item => {return item.replace("<", "&lt").replace(">", "&gt")}).join("</b>, <b>")+"</b>"
            p!="Subject: <b>"+item.subject+"</b>"
            p="Message:"
              pre=item.text
      .mt-3.mb-3.text-center
        input(type="hidden",value=0, name='send')#send
        button(type='submit' onclick="$('#send').val('1');").btn.btn-success="Send"
