.actsfilters.mt-2.mb-3
  .actsfilters-header Filters
  form.form-inline(method='get')
    //input.form-control.mr-sm-2(type='hidden', name='eventid', value='967')
      label.mr-sm-3(for='confirm') Confirm from user
      select.form-control.mr-sm-2#confirm(name='confirm')
        option(value='') Any status
        option(value='0000-00-00') none
        option(value='2019-01-11') before today
      
    select.form-control.mr-sm-3(name='call', style='max-width:150px')
      option(value='none') Call
      each call,i in data.event.organizationsettings.call.calls
        option(value=i, selected=get.call==i ? "selected" : undefined)=call.title
    //if get.call !== undefined && get.call !== "none"
    - var packages = [];
    - for(let a=0;a<data.event.organizationsettings.call.calls.length;a++) for(let b=0; b<data.event.organizationsettings.call.calls[a].packages.length;b++)  if (packages.indexOf(data.event.organizationsettings.call.calls[a].packages[b].name)==-1) packages.push(data.event.organizationsettings.call.calls[a].packages[b].name);
    select.form-control.mr-sm-2(name='subscriptions.packages.name', style='max-width:100px')
      option(value='0') Package
      each pack,i in packages
        option(value=pack, selected=get["subscriptions.packages.name"]==pack ? "selected" : undefined)=pack
    small.mr-sm-2(style="white-space: nowrap;display: contents;")
        input.mr-sm-1#not4(type='checkbox', name='notaccommodation', value='1', checked=get.fullinfo ? "checked" : undefinded)
        label.mr-sm-3(for='not4') NOT

    select.form-control.mr-sm-2(name='status', style='max-width:100px')
      option(value='0') Status
      each stat in data.status
        option(value=stat._id, selected=get["status"]==stat._id ? "selected" : undefined)=stat.name
    small.mr-sm-2(style="white-space: nowrap;display: contents;")
      input.mr-sm-1#not0(type='checkbox', name='program.schedule.statusNOT', value='1', checked=get['program.schedule.statusNOT'] ? "checked" : undefinded)
      label.mr-sm-3(for='not0') NOT

    if data.rooms && data.rooms.length
      select.form-control.mr-sm-2(name='performance_category', style='max-width:100px')
        option(value='0') Type
        each cat in data.admitted
          option(value=cat._id, selected=get.performance_category==cat._id ? "selected" : undefinded)=cat.name
      small.mr-sm-2(style="white-space: nowrap;display: contents;")
        input.mr-sm-1#not2(type='checkbox', name='not2', value='1', checked=get.not2 ? "checked" : undefinded)
        label.mr-sm-3(for='not2') NOT

    if data.rooms && data.rooms.length
      select.form-control.mr-sm-2(name='bookings.schedule.venue.room')
        option(value='0') Venue
        each room in data.rooms
          option(value=room, selected=get['bookings.schedule.venue.room']==room ? "selected" : undefinded)=room
      //small.mr-sm-2(style="white-space: nowrap;display: contents;")
        input.mr-sm-1#not3(type='checkbox', name='not3', value='1', checked=get.not3 ? "checked" : undefinded)
        label.mr-sm-3(for='not3') NOT
    
    if data.hotels && data.hotels.length
      select.form-control.mr-sm-2(name='packages.option_selected_hotel')
        option(value='0') Hotels
        each hotel in data.hotels
          option(value=hotel, selected=get['packages.option_selected_hotel']==hotel ? "selected" : undefinded)=hotel

    if data.sortby && data.sortby.length
      select.form-control.mr-sm-3(name='sortby')
        option(value='0') Sort by
          each sortby in data.sortby
            //option(value='day') group by day
            option(value=sortby.value, selected=get.sortby==sortby.value ? "selected" : undefinded)=sortby.key

    //input.mr-sm-2#unlink(type='checkbox', name='unlink', value='1', checked=get.unlink ? "checked" : undefinded)
      label.mr-sm-3(for='unlink') Performance suspect
      br
    input.mr-sm-2#fullinfo(type='checkbox', name='fullinfo', value='1', checked=get.fullinfo ? "checked" : undefinded)
    label.mr-sm-3(for='fullinfo') FULL INFO

    input.form-control.mr-sm-2(type='hidden', name='eventid', value='967')
    input.form-control.mr-sm-2(type='hidden', name='save', value='1')
    input.btn.btn-primary(type='submit', name='submit_search', value='FILTER')