extends ../layout_admin
block content
  .actsfilters.mt-2.mb-3
    .actsfilters-header Filters
    form.form-inline(method='get')
      //input.form-control.mr-sm-2(type='hidden', name='eventid', value='967')
        label.mr-sm-3(for='confirm') Confirm from user
        select.form-control.mr-sm-2#confirm(name='confirm')
          option(value='') Any status
          option(value='0000-00-00') none
          option(value='2019-01-11') before today
        
      select.form-control.mr-sm-3(name='call', style='max-width:150px')
        option(value='none') Call
        each call,i in data.event.organizationsettings.call.calls
          option(value=i, selected=get.call==i ? "selected" : undefined)=call.title
      if get.call !== undefined && get.call !== "none"
        select.form-control.mr-sm-2(name='subscriptions.packages.name', style='max-width:100px')
          option(value='0') Package
          each pack,i in data.event.organizationsettings.call.calls[get.call].packages
            option(value=i, selected=get["subscriptions.packages.name"]==i ? "selected" : undefined)=pack.name

        small.mr-sm-2(style="white-space: nowrap;display: contents;")
          input.mr-sm-1#not4(type='checkbox', name='notaccommodation', value='1', checked=get.fullinfo ? "checked" : undefinded)
          label.mr-sm-3(for='not4') NOT


      select.form-control.mr-sm-2(name='status', style='max-width:100px')
        option(value='0') Status
        each stat in data.status
          option(value=stat._id, selected=get["status"]==stat._id ? "selected" : undefined)=stat.name
      small.mr-sm-2(style="white-space: nowrap;display: contents;")
        input.mr-sm-1#not0(type='checkbox', name='program.schedule.categoriesNOT', value='1', checked=get.fullinfo ? "checked" : undefinded)
        label.mr-sm-3(for='not0') NOT

      select.form-control.mr-sm-2(name='performance_category', style='max-width:100px')
        option(value='0') Type
        each cat in data.admitted
          option(value=cat._id, selected=get.performance_category==cat._id ? "selected" : undefinded)=cat.name

      small.mr-sm-2(style="white-space: nowrap;display: contents;")
        input.mr-sm-1#not2(type='checkbox', name='not2', value='1', checked=get.fullinfo ? "checked" : undefinded)
        label.mr-sm-3(for='not2') NOT

      select.form-control.mr-sm-2(name='schedule.venue.room')
        option(value='0') Room
        each room in data.rooms
          option(value=room)=room

      small.mr-sm-2(style="white-space: nowrap;display: contents;")
        input.mr-sm-1#not3(type='checkbox', name='not3', value='1', checked=get.fullinfo ? "checked" : undefinded)
        label.mr-sm-3(for='not3') NOT
      
      select.form-control.mr-sm-3(name='sortby')
        option(value='0') Sort by
        //option(value='day') group by day
        option(value='sortby_perf_name', selected=get.sortby=="sortby_perf_name" ? "selected" : undefinded) sort by perf name
        option(value='sortby_ref_name', selected=get.sortby=="sortby_ref_name" ? "selected" : undefinded) sort by ref name
        option(value='0', selected=get.sortby=="0" ? "selected" : undefinded) sort by sub date

      input.mr-sm-2#unlink(type='checkbox', name='unlink', value='1', checked=get.unlink ? "checked" : undefinded)
      label.mr-sm-3(for='unlink') Performance suspect
      br
      input.mr-sm-2#fullinfo(type='checkbox', name='fullinfo', value='1', checked=get.fullinfo ? "checked" : undefinded)
      label.mr-sm-3(for='fullinfo') FULL INFO

      input.form-control.mr-sm-2(type='hidden', name='eventid', value='967')
      input.form-control.mr-sm-2(type='hidden', name='save', value='1')
      input.btn.btn-primary(type='submit', name='submit_search', value='FILTER')
  if data.performnce_missing
    pre=data.performnce_missing
  table.table
    thead
      tr
        th="ID"
        th="STATUS"
        th(style="width: 500px;")="ACT"
        th="AUTHORS"
        th="SUBSCRIPTION"
    tbody
      each item, index in data.program
        tr(id='sub'+item._id) 
          td!=(index+1)
          td
            form(action="")
              .border-bottom.pb-1.mb-1
                h4=global.__('STATUS')
                each status in data.status
                  .form-check.text-nowrap
                    input.form-check-input.change-status(id='status'+status._id+item._id, data-id=item._id, data-status=status._id, name='status'+item._id, type='radio', value=status._id, checked=item.status._id.toString()==status._id.toString() ? "checked" : undefined)
                    label.form-check-label(for='status'+status._id+item._id)=status.name
              .border-bottom.pb-1.mb-1
                h4=global.__('SCHEDULE')
                if item.schedule && item.schedule.length
                  each schedule in item.schedule
                    div=schedule.venue.room
                    div=schedule.boxDate+" > "+schedule.endtimeTime
                else
                  .badge.badge-danger=global.__('TO BE SCHEDULED')
              .text-right.pb-1.mb-1
                button.mr-2.btn.btn-danger.btn-sm.btn-inline.cancel-sub(type='button', data-id=item._id)=global.__('Delete')
          td(style="width: 500px;")
            h2!=item.performance.title
              small
                !=" "
                a(href="/admin/performances/"+item.performance._id+"/public", target="_blank")!=global.__("edit")
                !=" | "
                a(href="/performances/"+item.performance.slug, target="_blank")!=global.__("view")
            .row
              if get.fullinfo
                .col-md-6
                  img.img-fluid(src=item.performance.imageFormats.small)
              div(class=get.fullinfo ? "col-md-6" : "col-md-12")
                p
                  !="TYPE: "
                  b=item.performance.type.name
                  br
                  !="DURATION: "
                  b=item.performance.duration
                  br
                  if item.performance.tecnique
                    !="STYLE: "
                    b=item.performance.tecnique.name
                    br
                  if item.performance.genre
                    !="GENRE: "
                    b=item.performance.genre.name
                    br
                  !="CALL: "
                  b!=data.event.organizationsettings.call.calls[item.call].title
                  br
                  !="TOPICS: "
                  if item.topics
                    b!=item.topics.join(", ")
                  else
                    .badge.badge-danger MISSING
                  br
            if get.fullinfo && item.performance.about
              .mt-2!=item.performance.about
          td
            each user in item.performance.users
              .row
                if get.fullinfo
                  .col-md-6
                    img.img-fluid(src=user.imageFormats.small)
                div(class=get.fullinfo ? "col-md-6" : "col-md-12")
                  h3
                    !=user.stagename
                    if user.is_crew
                      !=" "
                      .badge.badge-info CREW
                  if user.addressesFormatted && user.addressesFormatted.length
                    div!=user.addressesFormatted.join(", ")
                  else
                    .badge.badge-danger MISSING ADDRESS
              if get.fullinfo
                .mt-2!=user.about
                if user.web
                  div!=user.web.map((item) => {return '<a href="'+item.url+'">'+item.url+'</a><br />'})
                if user.social
                  div!=user.social.map((item) => {return '<a href="'+item.url+'">'+item.url+'</a><br />'})

              
              //td!=item.performance.users.map((item) => {return item.addressesFormatted}).join("<br />")
                - var addresses = item.performance.users.map((item) => {return item.addresses.map((item) => {return item.country})})
                - var addressesaddresses = Array.from(new Set([].concat.apply([], addresses)))
                p!=addressesaddresses.sort().join(", ")

          td
            p
              b!="CALL: "
              !=data.event.organizationsettings.call.calls[item.call].title
            p
              b!="AVAILABILITY"
              !=" | "
              b
                a.edit-availability(data-program=item._id, href="#")="EDIT"
            if !item.subscriptions || !item.subscriptions.length
              .badge.badge-danger MISSING
            else
              ol
                each subscription in item.subscriptions
                  li
                    b!=subscription.subscriber_id.stagename
                    !=" "+subscription.subscriber_id.name+" "+subscription.subscriber_id.surname
                    if subscription.freezed
                      !=" "
                      .badge.badge-info freezed
                    br
                    if subscription.daysFormatted
                      !=subscription.daysFormatted.join(" | ")
                    br
                    u!="PACKAGES"
                    ul
                      each pack in subscription.packages
                        li!=pack.name
            p
              b!="REFERENCE"
              br
              !=item.reference.name+" "+item.reference.surname
              br
              !='<a href="mailto:'+item.reference.email+'" target="_blank">'+item.reference.email+'</a> <a href="https://mail.google.com/mail/u/0/#search/'+item.reference.email+'" target="_blank">SEARCH MESSAGES</a>'
              br
              !=item.reference.mobile.map((item) => {if (item.url) return item.url+' '+'<a href="https://web.whatsapp.com/send?phone='+item.url.replace("+","").replace(/ /g,"")+'" target="_blank">WP</a>'})

        //if get.fullinfo
          tr
            td!=(index+1)
            td
              img.img-fluid(src=item.performance.imageFormats.small)
              !=item.performance.about
            td(colspan="3")
              each user, i in item.performance.users
            - var addresses = item.performance.users.map((item) => {return item.addresses.map((item) => {return item.country})})
            - var addressesaddresses = Array.from(new Set([].concat.apply([], addresses)))
            td
              if subscription_id
                !=item.subscription_id.reference.name+" "+item.subscription_id.reference.surname
                br
                !='<a href="mailto:'+item.subscription_id.reference.email+'">'+item.subscription_id.reference.email+'</a> <a href="https://mail.google.com/mail/u/0/#search/'+item.subscription_id.reference.email+'">SEARCH MESSAGES</a>'
                br
                !=item.subscription_id.reference.mobile.map((item) => {return item.url+' '+'<a href="https://web.whatsapp.com/send?phone='+item.url.replace("+","").replace(/ /g,"")+'">WP</a>'})
              if item.schedule && item.schedule.date
                pre=item.schedule.boxDate
                p=item.schedule.venue.room
                if item.status
                  each cat in item.status
                    if cat.ancestor.slug == "status"
                      p=cat.name
                //pre=item.schedule

  // Modal Add Partner
  #modalEdit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalAddPartnerLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        form#editSubscription
          .modal-header
            h5#modalAddPartnerLabel.modal-title=global.__("Edit subscription")
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .alert.d-none
            .content

          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal')=global.__("Close")
            button.btn.btn-primary(type='submit')=global.__("Save")
  

  //pre=JSON.stringify(data, null, 2)