extends ../layout
block content
  h3=data.event.title
  ul.nav.flex-column.nav-pills
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/acts/')=global.__('Acts')
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/peoples/')=global.__('Peoples')
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/program/')=global.__('Program')
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/technical-riders/')=global.__('Technical Riders')
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/program-print/')=global.__('Program Prints')
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/pass/')=global.__('Pass')
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/pass-sheet/')=global.__('Pass sheet')
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/countries/')=global.__('Countries')
    //li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/tweets/')=global.__('TWEETS')
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/partners/')=global.__('Partners')
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/numbers/')=global.__('Numbers')
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/guestlist/')=global.__('Guestlist')
    li.nav-item
      a.nav-link(href='/admindev/events/'+data.event._id+'/cachecreator/')=global.__('Cache Creator')
