extends ../layout_admin
block content
  - var emails = []
  - var emailsbypackages = {}
  - var packagespackages = {standard: {}, wepay: {}, options: {}}
  include ./_filters
  .white-content
    table
      thead
        tr
          th="ID"
          th="Stagename"
          th="Crew"
          th="Name"
          th="Surame"
          th="Packages"
          - for(let a=0;a<=data.daysN;a++)
            - var d = new Date(data.days[0])
            - var dd = new Date(d.setDate(d.getDate() + a))
            th=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][dd.getMonth()]+" "+dd.getDate()
          th="Room"
          th="Time"
          th="Day"
      tbody
        - var conta = 0
        each subscription, index in data.subscriptions
          tr
            td=conta
            td=subscription.subscription.subscriber_id.stagename
            td
              each performance in subscription.performances
                each user in performance.users
                  if user.is_crew && user.members.indexOf(subscription.subscription.subscriber_id._id)!=-1
                    b!=user.stagename
                    br
            td=subscription.subscription.subscriber_id.name
            td=subscription.subscription.subscriber_id.surname
            td(style="border-right: 2px solid #dee2e6;")
                each pack in subscription.subscription.packages
                  if pack.options_name == "T-Shirt Size"
                      if pack.option
                        !=pack.option
                      else
                        .badge.badge-danger="MISSING "+pack.options_name

                //pre=subscription.packages
            - for(let a=0;a<=data.daysN;a++)
              - var d = new Date(data.days[0])
              - var dd = new Date(d.setDate(d.getDate() + a))
              - var present = "#000000"
              - for(let b=0;b<subscription.subscription.days.length;b++) {
              -   var ddd = new Date(subscription.subscription.days[b])
              -   if (ddd.toString() == dd.toString()) present = "#FF0000"
              - }
              td(style="border-right: 2px solid #dee2e6;background-color:"+present+";color:"+present)=present=="#FF0000" ? "X" : ""
            td
              .mb-1
                each performance in subscription.performances
                  if performance.schedule
                    each schedule in performance.schedule
                      - console.log(schedule)
                      div
                        !=schedule.venue.room
            td
              .mb-1
                each performance in subscription.performances
                  if performance.schedule
                    each schedule in performance.schedule
                      div
                        !=schedule.starttimeTime
            td
              .mb-1
                each performance in subscription.performances
                  if performance.schedule
                    each schedule in performance.schedule
                      div
                        !=schedule.starttimeDay
    tr
      td(colspan=3)
      if get['subscriptions.packages.name'] == "Accommodation"
        td
      td(colspan=2)
        
        table(style="width:100%;")
          - var tot = 0
          each pack in packagespackages["wepay"]
            tr
              td(style="white-space: nowrap;")
                !=pack.name
              td.text-right
                !=pack.price+" €"
              td.text-right
                !=pack.count
              td.text-right
                - tot+=pack.count*pack.price
                !=(pack.count*pack.price)+" €"
          tr
            td(style="white-space: nowrap;")
              b!="Total"
            td(colspan=3).text-right
              !=tot+" €"
          - var tot = 0
          each pack in packagespackages["standard"]
            tr
              td(style="white-space: nowrap;")
                !=pack.name
              td.text-right
                !=pack.price+" €"
              td.text-right
                !=pack.count
              td.text-right
                - tot+=pack.count*pack.price
                !=(pack.count*pack.price)+" €"
          tr
            td(style="white-space: nowrap;")
              b!="Total"
            td(colspan=3).text-right
              !=tot+" €"
          each pack,name in packagespackages["options"]
            tr
              td(style="white-space: nowrap;", colspan=4)
                b!=name
            each value, item in pack
              tr
                td(style="white-space: nowrap;")
                  !=item
                td.text-right
                td.text-right
                td.text-right
                  !=value

      td(colspan=data.daysN+1)
