extends ../layout_admin
block content
  - var emails = []
  .actsfilters.mt-2.mb-3
    .actsfilters-header Filters
    form.form-inline(method='get')
      //input.form-control.mr-sm-2(type='hidden', name='eventid', value='967')
        label.mr-sm-3(for='confirm') Confirm from user
        select.form-control.mr-sm-2#confirm(name='confirm')
          option(value='') Any status
          option(value='0000-00-00') none
          option(value='2019-01-11') before today
        
      select.form-control.mr-sm-3(name='call', style='max-width:150px')
        option(value='none') Call
        each call,i in data.event.organizationsettings.call.calls
          option(value=i, selected=get.call==i ? "selected" : undefined)=call.title
      //if get.call !== undefined && get.call !== "none"
      - var packages = [];
      - for(let a=0;a<data.event.organizationsettings.call.calls.length;a++) for(let b=0; b<data.event.organizationsettings.call.calls[a].packages.length;b++)  if (packages.indexOf(data.event.organizationsettings.call.calls[a].packages[b].name)==-1) packages.push(data.event.organizationsettings.call.calls[a].packages[b].name);
      select.form-control.mr-sm-2(name='subscriptions.packages.name', style='max-width:100px')
        option(value='0') Package
        each pack,i in packages
          option(value=pack, selected=get["subscriptions.packages.name"]==pack ? "selected" : undefined)=pack

      small.mr-sm-2(style="white-space: nowrap;display: contents;")
        input.mr-sm-1#not4(type='checkbox', name='notaccommodation', value='1', checked=get.notaccommodation ? "checked" : undefinded)
        label.mr-sm-3(for='not4') NOT


      select.form-control.mr-sm-2(name='status', style='max-width:100px')
        option(value='0') Status
        each stat in data.status
          option(value=stat._id, selected=get["status"]==stat._id ? "selected" : undefined)=stat.name
      small.mr-sm-2(style="white-space: nowrap;display: contents;")
        input.mr-sm-1#not0(type='checkbox', name='program.schedule.categoriesNOT', value='1', checked=get.fullinfo ? "checked" : undefinded)
        label.mr-sm-3(for='not0') NOT
      
      select.form-control.mr-sm-3(name='sortby')
        option(value='0') Sort by
        //option(value='day') group by day
        option(value='sortby_perf_name', selected=get.sortby=="sortby_perf_name" ? "selected" : undefinded) sort by perf name
        option(value='sortby_ref_name', selected=get.sortby=="sortby_ref_name" ? "selected" : undefinded) sort by ref name
        option(value='sortby_person_name', selected=get.sortby=="sortby_person_name" ? "selected" : undefinded) sort by person name
        option(value='sortby_arrival_date', selected=get.sortby=="sortby_arrival_date" ? "selected" : undefinded) sort by arrival date
        option(value='0', selected=get.sortby=="0" ? "selected" : undefinded) sort by sub date

      input.mr-sm-2#unlink(type='checkbox', name='unlink', value='1', checked=get.unlink ? "checked" : undefinded)
      label.mr-sm-3(for='unlink') Performance suspect
      br
      input.mr-sm-2#fullinfo(type='checkbox', name='fullinfo', value='1', checked=get.fullinfo ? "checked" : undefinded)
      label.mr-sm-3(for='fullinfo') FULL INFO

      input.form-control.mr-sm-2(type='hidden', name='eventid', value='967')
      input.form-control.mr-sm-2(type='hidden', name='save', value='1')
      input.btn.btn-primary(type='submit', name='submit_search', value='FILTER')
  table.table
    thead
      tr
        th="ID"
        th="Status"
        th="Submission"
        th="Person"
        th="Packages"
        - for(let a=0;a<=data.daysN;a++)
          - var d = new Date(data.days[0])
          - var dd = new Date(d.setDate(d.getDate() + a))
          th=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][dd.getMonth()]+" "+dd.getDate()

        //th="Type"
          th="type"
          th="hotel"
          th="Room"
          th="T-Shirt size"
          th="Arrival date"
          th="Departure date"
          th="Total"
          th="2018-06-06"
          th="2018-06-07"
          th="2018-06-08"
          th="2018-06-09"
          th="2018-06-10"
          th="2018-06-11"
          th="Note"
    tbody
      - var conta = 0
      each subscription, index in data.subscriptions
          //pre=JSON.stringify(subscription, null, 2)
          if (!get["subscriptions.packages.name"] || get["subscriptions.packages.name"]=="0" || (get.notaccommodation==1 && subscription.subscription.packages.map(subscription => {return subscription.name}).indexOf(get["subscriptions.packages.name"])==-1) || (!get.notaccommodation && subscription.subscription.packages.map(subscription => {return subscription.name}).indexOf(get["subscriptions.packages.name"])!=-1))
            - conta++

            tr
              td=conta
              td
                .badge.badge-danger=subscription.status.name
                //form(action="")
                  each status in data.status
                    .form-check.text-nowrap
                      input.form-check-input(id='status'+status._id+subscription._id, name='status'+subscription._id, type='radio', value=status.id, checked=subscription.status._id.toString()==status._id.toString() ? "checked" : undefined)
                      label.form-check-label(for='status'+status._id+subscription._id)=status.name
              td
                //["it","IED Roma","Luigi","Vernieri","l.vernieri@roma.ied.it","Alessia","Tuveri","a.tuveri@roma.ied.it"]
                - var str = '["'+(subscription.reference.lang=="it" ? "it" : "en")+'","'+subscription.performance.title+'","'+subscription.reference.name+'","'+subscription.reference.surname+'","'+subscription.reference.email+'"]'
                - if (emails.indexOf(str)==-1) emails.push(str)
                b!=subscription.performance.title
                  !=" "
                  a.ml-2(href="/performances/"+subscription.performance.slug+"/", target="_blank")="VIEW"
                br
                !=subscription.reference.name+" "+subscription.reference.surname
                br
                if subscription.reference.email
                  !='<a href="mailto:'+subscription.reference.email+'" target="_blank">'+subscription.reference.email+'</a> <a href="https://mail.google.com/mail/u/0/#search/'+subscription.reference.email+'" target="_blank">SEARCH MESSAGES</a>'
                else
                  !=" "
                  .badge.badge-danger MISSING EMAIL
                br
                if subscription.reference.mobile.length
                  !=subscription.reference.mobile.map((subscription) => {if (subscription.url) return subscription.url+' '+'<a href="https://web.whatsapp.com/send?phone='+subscription.url.replace("+","").replace(/ /g,"")+'" target="_blank">Whatsapp</a>'})
                else
                  !=" "
                  .badge.badge-danger MISSING MOBILE
              td
                !=subscription.subscription.subscriber_id.name+" "+subscription.subscription.subscriber_id.surname
                br
                !='<a href="mailto:'+subscription.subscription.subscriber_id.email+'">'+subscription.subscription.subscriber_id.email+'</a>'
                br
                !='Gender: '+subscription.subscription.subscriber_id.gender
                if subscription.subscription.subscriber_id.addressesFormatted && subscription.subscription.subscriber_id.addressesFormatted.length
                  br
                  !=subscription.subscription.subscriber_id.addressesFormatted.join(", ")
                //<a href="https://mail.google.com/mail/u/0/#search/'+subscription.subscription.subscriber_id.email+'">SEARCH MESSAGES</a>'
                  br
                  !=subscription.subscription.subscriber_id.mobile.map((subscription) => {return subscription.url+' '+'<a href="https://web.whatsapp.com/send?phone='+subscription.url.replace("+","").replace(/ /g,"")+'">WP</a>'})
                  pre=subscription.subscription.subscriber_id
              td(style="border-right: 2px solid #dee2e6;")
                table
                  - var tot = 0
                  each pack in subscription.subscription.packages
                    tr
                      td(style="white-space: nowrap;")
                        !=pack.name
                        if (pack.daily)
                          br
                          !="Days"
                          br
                      td.text-right
                        !=pack.price
                        if (pack.daily)
                          br
                          !=subscription.subscription.days.length
                          br
                          !=subscription.subscription.days.length*pack.price
                          - tot+= subscription.subscription.days.length*pack.price
                        else
                          - tot+= pack.price
                  tr
                    td(style="white-space: nowrap;")
                      b!="Total"
                    td.text-right
                      !=tot

                  //pre=subscription.packages
              - for(let a=0;a<=data.daysN;a++)
                - var d = new Date(data.days[0])
                - var dd = new Date(d.setDate(d.getDate() + a))
                - var present = "#000000"
                - for(let b=0;b<subscription.subscription.days.length;b++) {
                -   var ddd = new Date(subscription.subscription.days[b])
                -   if (ddd.toString() == dd.toString()) present = "#FF0000"
                - }
                td(style="border-right: 2px solid #dee2e6;background-color:"+present+";color:"+present)=present=="#FF0000" ? "X" : ""
  form(method='post', action='http://localhost:8004/composer')
    textarea.form-control(name='to')="["+emails.join(",")+"]"
    .text-center
      br
      button.btn.btn-success(type='submit') Compose email

