extends ../layout_admin_nocss
block filters
  include ./_filters
block content
  table
    each day in data.programmebydayvenue
      each room,i in day.rooms
        if (get['bookings.schedule.venue.room'] && room.schedule.venue.room == get['bookings.schedule.venue.room']) || (!get['bookings.schedule.venue.room'] || get['bookings.schedule.venue.room'] == "0")
          if room.program
            each program,ii in room.program
              tr
                td!="LPM 2019 Rome"
                td!=program.performance.title
                td=day.date
                td=day.date
                td=program.performance.type.name
