extends ../layout

block teaser
  if data.teaserImage
    .d-flex.justify-content-center.align-items-start
      img.card-img-top.img-fluid(
        src=`${data.teaserImageFormats.large}`
        alt=`${data.name}`
      )

block title
  if data.title
    .jumbotron.jumbotron-fluid
      .container
        .row
          .col-lg-8
            h1.display-4=data.title
            p=data.about
          .col-lg-4
            if data.image
              img.card-img-top.img-fluid(
                src=data.imageFormats.medium
                alt=data.title
              )

block content
  .row
    .col-lg-12
      h3=global.__('Members')
      .card-columns
        //each member in data.members
          .card
            if member.image
              img.card-img-top.img-fluid(
                src=member.imageFormats.medium
                alt=member.name
              )
            .card-block
              h4.card-title
                =member.stagename
              a.btn.btn-primary(href=member.publicUrl)=global.__('More')
