extends layout

block title


block content
  section#home_main_carousel
    .container
      .owl-carousel.mono.owl-theme
        img.img-fluid(src="/images/placeholder_1_home.png")
        img.img-fluid(src="/images/placeholder_2_home.png")
        p="proviamo il tag strong "
          strong="STRONG"   

      
      if subtitle
        .home_main_title
          p=subtitle           

  section.home_events_wrapper
    .content_wrapper
      .container
        section#events.row.performer_events_wrapper
          .col-lg-12
            h2.main_title.indented_title.color1!=global.__('Events')+" <small>(<span>"+data.stats.events+"</span>)</small>"
            .owl-carousel.loop.owl-theme
              each item in data.events
                include partials/boxEvent
            .button_more.button_more_program
              a(href="/events",  title=global.__('All the events'))
                span.button_more_label!=global.__('+ All the events')
                span.button_more_bkg        
        //.row
          .col-lg-12
            h2.main_title.indented_title.color1!=global.__('Events')+" <small>(<span>"+data.stats.events+"</span>)</small>"
            .row.carousel
              each item in data.events
                .col-sm-4
                  include partials/boxEvent
            .text-right
              a.btn.btn-secondary(href="/events/")=global.__('View all')        
          
  if data.performances.length
    .polygon_divider_top
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='#0f8fcf' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='transparent' points='0,0 1920,0 1920,100.5 		')
    section#performances.performer_performances_wrapper
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=global.__('Performances')+" <small>(<span>"+data.stats.performances+"</span>)</small>"  
              .performance_divider.basic_divider
              .owl-carousel.loop.owl-theme
                each item in data.performances                
                  include partials/boxPerformance
              .button_more.button_more_grey
                a(href="/performances",  title=global.__('All the performances'))
                  span.button_more_label!=global.__('+ All the performances')
                  span.button_more_bkg                  
    .polygon_divider_bottom
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='transparent' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='#0f8fcf' points='0,0 1920,0 1920,100.5 		')  
     

  if data.footage.length || data.videos.length || data.playlists.length
    .polygon_divider_top
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1920 100' enable-background='new 0 0 1920 100' xml:space='preserve')
        g#layer2
        g#Layer_1
          g
            polygon(fill='#0f8fcf' points='1927.4,99.5 0,99.5 0,-1 		')
            polygon(fill='transparent' points='0,0 1920,0 1920,100.5 		')  
    section.performer_videos_wrapper
      .content_wrapper
        .container
          if data.footage.length
            #footage.row.performer_footage.bottom60
              .col-lg-12
                h2.main_title.indented_title!=global.__('Footage')+" <small>(<span>"+data.stats.footage+"</span>)</small>"  
                .owl-carousel.loop.owl-theme
                  each item in data.footage            
                    include partials/boxFootage 
                .button_more.button_more_grey
                  a(href="/"+data.slug+"/footage", title=data.stagename)
                    span.button_more_label!=global.__('+ All the footages')
                    span.button_more_bkg                     

          if data.videos.length
            #videos.row.performer_video
              .col-lg-12
                h2.main_title.indented_title!=global.__('Videos')+" <small>(<span>"+data.stats.videos+"</span>)</small>"  
                .owl-carousel.loop.owl-theme.bottom60
                  each item in data.videos            
                    include partials/boxVideo
                .button_more.button_more_grey
                  a(href="/"+data.slug+"/videos", title=data.stagename)
                    span.button_more_label!=global.__('+ All the videos')
                    span.button_more_bkg                    

          if data.playlists.length
            #playlists.row.performer_playlist
              .col-lg-12
                h2.main_title.indented_title!=global.__('Playlist')+" <small>(<span>"+data.stats.playlists+"</span>)</small>"  
                .owl-carousel.loop.owl-theme.bottom60
                  each item in data.playlists
                    include partials/boxPlaylist
                .button_more.button_more_grey
                  a(href="/"+data.slug+"/playlists", title=data.stagename)
                    span.button_more_label!=global.__('+ All the playlists')
                    span.button_more_bkg
    

  
  if data.galleries.length    
    section#galleries.performer_galleries_wrapper
      .content_wrapper
        .container
          .row
            .col-lg-12
              h2.main_title.indented_title!=global.__('Galleries')+" <small>(<span>"+data.stats.galleries+"</span>)</small>"  
              .performance_divider.basic_divider
              .owl-carousel.loop_3items.owl-theme
                each item in data.galleries
                  include partials/boxGallery  
              .button_more.button_more_program
                a(href="/galleries", title=global.__('All the galleries'))
                  span.button_more_label!=global.__('+ All the galleries')
                  span.button_more_bkg                        