extends layout

block title


block content
  section#home_main_carousel
    h2.sr-only=__("Main Events carousel")
    .container.full-small
      .owl-carousel.mono.owl-theme
        a(href="https://avnode.net/events/fotonica-2021/" target="_blank" rel="noopener")
          picture
            source(srcset="/images/home/2021/F2021-avnode.webp"  type="image/webp")
            source(srcset="/images/home/2021/F2021-avnode.jpg" type="image/jpeg")
            img.img-fluid(src="/images/home/2021/F2021-avnode.jpg" alt="Fotonica Festival 2021", width="1110", height="468")
        a(href="https://vjtelevision.com" target="_blank" rel="noopener")
          picture
            source(srcset="/images/home/2020/01_vjtelevision.webp"  type="image/webp")
            source(srcset="/images/home/2020/01_vjtelevision.jpg" type="image/jpeg")
            img.img-fluid(src="/images/home/2020/01_vjtelevision.jpg" alt="VJ Television", width="1110", height="468")

      
  section#home_main_title
    if subtitle
      .home_main_title_bkg
        .home_main_title
          h1=subtitle

  section#performances_home.section_home
    .content_wrapper
      .container
        h2.home_title.mb-3
          span.title_label!=global.__('Performances overview')
          a(href="/performances/",  title=global.__('All the performances'))
            span.button_more_label!=global.__('See all')+"+"                            
        - var item = data.performances[0]
            include partials/boxPerformanceHome

  section#home_events_wrapper.section_home
    .content_wrapper
      .container
        h2.home_title.mb-3
          span.title_label!=global.__('Next events')
          a(href="/events/",  title=global.__('All the events'))
            span.button_more_label!=global.__('See all')+"+"                                                
        .row
          .col-sm-6
            each item, index in data.events
              if index < 3
                include partials/boxEventHome
          .col-sm-6
            a(href="/events/",  title=global.__('All the events'))
              .bkg_seeall
                img.img-fluid.arrow_seeall(src="/images/seeall_arrow.svg" alt="All the events", width="32", height="150")
                span.seeall_label!=global.__('All the events')            


  section#home_news_wrapper.section_home
    .content_wrapper
      .container
        h2.home_title.mb-3
          span.title_label!=global.__('News')
          a(href="/news/",  title=global.__('All the news'))
            span.button_more_label!=global.__('See all')+"+"                                                
        .row
          .col-sm-6.mb-3
            a(href="/news/",  title=global.__('All the news'))
                .bkg_seeall
                    img.img-fluid.arrow_seeall(src="/images/seeall_arrow.svg" alt="All the news", width="32", height="150")
                    span.seeall_label!=global.__('All the news')                                                                           
          .col-sm-6
            each item, index in data.news
              if index < 3
                include partials/boxNews
