extends layout

block title


block content
  section#home_main_carousel
    .container
      .owl-carousel.mono.owl-theme
        img.img-fluid(src="/images/placeholder_1_home.png")
        img.img-fluid(src="/images/placeholder_2_home.png")
        p="proviamo il tag strong "
          strong="STRONG"   

      
  section#home_main_title
    if subtitle
      .home_main_title_bkg
        .home_main_title
          p=subtitle

  section#performances_home.section_home
    .content_wrapper
      .container
        .row
          .col-lg-12
            h2.home_title
              span.title_label!=global.__('Performances overview')
              a(href="/performances",  title=global.__('All the performances'))
                span.button_more_label!=global.__('See all+')                            
            - var item = data.performances[0]
                include partials/boxPerformanceHome

  section#home_events_wrapper.section_home
    .content_wrapper
      .container
        .row
          .col-lg-12
            h2.home_title
              span.title_label!=global.__('Next events')
              a(href="/performances",  title=global.__('All the events'))
                span.button_more_label!=global.__('See all+')                                                
        .row
          .col-sm-6
            a(href="/performances",  title=global.__('All the performances'))
                div.bkg_seeall
                    img.img-fluid.arrow_seeall(src="/images/seeall_arrow.svg")
                    span.seeall_label!=global.__('See All')            
          .col-sm-6
            each item, index in data.events
              if index < 3
                include partials/boxEventHome

  section#home_news_wrapper.section_home
    .content_wrapper
      .container
        .row
          .col-lg-12
            h2.home_title
              span.title_label!=global.__('News')
              a(href="/news",  title=global.__('All the news'))
                span.button_more_label!=global.__('See all+')                                                
        .row
          .col-sm-6
            .miss.news_item_wrapper
              p.news_date February 22 2018
              a(href='#', title='title')
                h4.news_item_title LPM 2018 Rome Spot
              p.news_excerpt Text is missing
            .miss.news_item_wrapper
              p.news_date February 22 2018
              a(href='#', title='title')
                h4.news_item_title LPM 2018 Rome Spot
              p.news_excerpt Text is missing     
          .col-sm-6
            a(href="/news",  title=global.__('All the news'))
                div.bkg_seeall
                    img.img-fluid.arrow_seeall(src="/images/seeall_arrow.svg")
                    span.seeall_label!=global.__('See All')                                                                           

