doctype html
html(lang=session.sessions.current_lang)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title #{title} - AVnode.net

    link(rel='stylesheet', type='text/css', href='/css/font-awesome/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(rel='stylesheet', type='text/css', href='/css/video-js.min.css')
    link(rel='stylesheet', type='text/css', href='/css/owl/owl.carousel.min.css')    
    link(rel='stylesheet', type='text/css', href='/css/owl/owl.theme.default.min.css')
    if is_admin
      link(rel='stylesheet', href='/css/admin.css')
  body
    if data.slug == "gianlucadelgobbo"      
      nav.navbar.navbar_performer_template.navbar-toggleable-xs.navbar-fixed-top.navbar-inverse.bg-inverse
        .container
          ul.user_navbar
            if user
              li.nav-item.dropdown.user_menu.user_menu_logged                  
                span.lnr.lnr-user
                a#userDropdown.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                .dropdown-menu(aria-labelledby='userDropdown')
                  ul
                    li.nav-item
                      span.lnr.lnr-eye
                      a(href='/admin/profile/public')=global.__('Profile')                    
                    li.nav-item
                      form(
                        method='post'
                        action='/logout'
                      )
                        button.btn-link
                          span.lnr.lnr-exit
                          span.label=global.__('Log out')
                          
            else
              li.nav-item.user_menu
                ul
                  span.lnr.lnr-user
                  li.nav-item
                    a(href='/login', title=global.__('Login'))=global.__('Login')
                  li.nav-item
                    a(href='/signup', title=global.__('Sign up'))=global.__('Sign up')
            li.nav-item
              a(href='/search?q=*', title=__('Search'))
                i.fa.fa-search.fa-lg.fa-fw
            li.nav-item.dropdown
              a#langDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                b=session.sessions.current_lang.toUpperCase()
              .dropdown-menu(aria-labelledby='langDropdown')
                each lang,slug in config.locales_labels
                  a.dropdown-item(href=protocol+'://'+(slug!='en' ? slug+'.' : '')+basehost+current_url)=lang


          button.navbar-toggler.navbar-toggler-left(
            type="button"
            data-toggle="collapse"
            data-target="#navbar-collapse_performer_template"
          )
            span.lnr.lnr-menu.toggle_icon
          a.navbar-brand(href='/', title="AvNode  ")
            img(src='/images/LogoAVnode-bar.svg', height='30', class='d-inline-block align-top' alt='')
          .collapse.navbar-collapse(
            id="navbar-collapse_performer_template"
          )
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/performers')=global.__('Performers')
              li.nav-item
                a.nav-link(href='/performances')=global.__('Performances')
              li.nav-item
                a.nav-link(href='/events')=global.__('Events')
              li.nav-item
                a.nav-link(href='/footage')=global.__('Footage')
              li.nav-item
                a.nav-link(href='/playlists')=global.__('Playlists')
              li.nav-item
                a.nav-link(href='/videos')=global.__('Videos')
              li.nav-item
                a.nav-link(href='/news')=global.__('News')
    else      
      nav.navbar.navbar_extended_template.navbar-toggleable-md.navbar-fixed-top.navbar-inverse.bg-inverse
        .container
          button.navbar-toggler.navbar-toggler-right(
            type="button"
            data-toggle="collapse"
            data-target="#navbar-collapse_performer_template"
          )
            span.lnr.lnr-menu.toggle_icon
          a.navbar-brand(href='/', title="AvNode  ")
            img(src='/images/LogoAVnode-bar.svg', height='30', class='d-inline-block align-top' alt='')
          .collapse.navbar-collapse(
            id="navbar-collapse_performer_template"
          )
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/performers')=global.__('Performers')
              li.nav-item
                a.nav-link(href='/performances')=global.__('Performances')
              li.nav-item
                a.nav-link(href='/events')=global.__('Events')
              li.nav-item
                a.nav-link(href='/footage')=global.__('Footage')
              li.nav-item
                a.nav-link(href='/playlists')=global.__('Playlists')
              li.nav-item
                a.nav-link(href='/videos')=global.__('Videos')
              li.nav-item
                a.nav-link(href='/news')=global.__('News')

            ul.user_navbar
              if user
                li.nav-item.dropdown.user_menu.user_menu_logged                  
                  span.lnr.lnr-user
                  a#userDropdown.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  .dropdown-menu(aria-labelledby='userDropdown')
                    ul
                      li.nav-item
                        span.lnr.lnr-eye
                        a(href='/admin/profile/public')=global.__('Profile')                    
                      li.nav-item
                        form(
                          method='post'
                          action='/logout'
                        )
                          button.btn-link
                            span.lnr.lnr-exit
                            span.label=global.__('Log out')
                            
              else
                li.nav-item.user_menu
                  ul
                    span.lnr.lnr-user
                    li.nav-item
                      a(href='/login', title=global.__('Login'))=global.__('Login')
                    li.nav-item
                      a(href='/signup', title=global.__('Sign up'))=global.__('Sign up')
              li.nav-item
                a(href='/search?q=*', title=__('Search'))
                  i.fa.fa-search.fa-lg.fa-fw
              li.nav-item.dropdown
                a#langDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  b=session.sessions.current_lang.toUpperCase()
                .dropdown-menu(aria-labelledby='langDropdown')
                  each lang,slug in config.locales_labels
                    a.dropdown-item(href=protocol+'://'+(slug!='en' ? slug+'.' : '')+basehost+current_url)=lang


 

    //nav.navbar.navbar-toggleable-md.navbar-fixed-top.navbar-inverse.bg-inverse
      .container
        button.navbar-toggler.navbar-toggler-right(
          type="button"
          data-toggle="collapse"
          data-target="#navbar-collapse"
        )
          span.navbar-toggler-icon
        a.navbar-brand(href='/')
          img(src='/images/LogoAVnode-bar.svg', height='30', class='d-inline-block align-top' alt='')
        .collapse.navbar-collapse(
          id="navbar-collapse"
        )
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/performers')=global.__('Performers')
            li.nav-item
              a.nav-link(href='/performances')=global.__('Performances')
            li.nav-item
              a.nav-link(href='/events')=global.__('Events')
            li.nav-item
              a.nav-link(href='/footage')=global.__('Footage')
            li.nav-item
              a.nav-link(href='/playlists')=global.__('Playlists')
            li.nav-item
              a.nav-link(href='/videos')=global.__('Videos')
            li.nav-item
              a.nav-link(href='/news')=global.__('News')

        ul.user_navbar
          if user
            li.nav-item.dropdown.user_menu.user_menu_logged                  
              span.lnr.lnr-user
              a#userDropdown.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              .dropdown-menu(aria-labelledby='userDropdown')
                ul
                  li.nav-item
                    span.lnr.lnr-eye
                    a(href='/admin/profile/public')=global.__('Profile')                    
                  li.nav-item
                    form(
                      method='post'
                      action='/logout'
                    )
                      button.btn-link
                        span.lnr.lnr-exit
                        span.label=global.__('Log out')
                        
          else
            li.nav-item.user_menu
              ul
                span.lnr.lnr-user
                li.nav-item
                  a(href='/login', title=global.__('Login'))=global.__('Login')
                li.nav-item
                  a(href='/signup', title=global.__('Sign up'))=global.__('Sign up')
          li.nav-item
            a(href='/search?q=*', title=__('Search'))
              i.fa.fa-search.fa-lg.fa-fw
          li.nav-item.dropdown
            a#langDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              b=session.sessions.current_lang.toUpperCase()
            .dropdown-menu(aria-labelledby='langDropdown')
              each lang,slug in config.locales_labels
                a.dropdown-item(href=protocol+'://'+(slug!='en' ? slug+'.' : '')+basehost+current_url)=lang

          
          


    include partials/flash

    main
      block teaser
      block title
        if title
          .jumbotron.jumbotron-fluid
            .container
              h1.display-4=title
              if subtitle
                p.lead.mb-0=subtitle
      block content

    footer.footer_site
      .container
        .row
          .col-sm-4.footer_info
            div(itemprop='organizer', itemscope='', itemtype='http://schema.org/Organization')
              a(href='/', title='AVnode')
                img.logo_footer.media-object(src='/images/logo_grey.svg', alt='AVnode.net', itemprop='logo')
              br
              strong.sr-only(itemprop='name') AVnode
              br
              | a project of Stichting AVnode
              br
              span(itemprop='location', itemscope='', itemtype='http://schema.org/Place')
                span(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
                  span(itemprop='streetAddress') Arondeusstraat 7
                  span(itemprop='postalCode') 1063GB
                  br
                  span(itemprop='addressLocality') Amsterdam
                  | &nbsp;
                  span(itemprop='addressCountry') Netherlands
                span.hide(itemprop='geo', itemscope='', itemtype='http://schema.org/GeoCoordinates')
                  span(itemprop='latitude') 52.3823559
                  | ,
                  span(itemprop='longitude') 4.8237471
                br
                a(itemprop='url', title='map', href='https://www.google.it/maps/place/Arondeusstraat+7,+1063+GB+Amsterdam,+Netherlands/@52.3823559,4.8237471,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5e251a2807e6b:0xf143ebca2731e3fb!8m2!3d52.3823559!4d4.8259358!10m1!1e1', target='_blank') map
                br
              | VAT N° 
              span(itemprop='vatID') NL856555253B01
              br
              a(itemprop='email', title='Write to AVnode', href='mailto:info@avnode.net') info@avnode.net
              br.sr-only
              a.sr-only(itemprop='url', title='AVnode Web Site', href='https://avnode.net') https://avnode.net
          .col-sm-4.hidden-print
            h3 Corporate
            nav
              ul.footer-nav.corporate
                li
                  a(href='https://avnode.net', title='Stichting AVnode') Stichting AVnode
                li
                  a(href='/terms-conditions/', title='Terms & Conditions') Terms &amp; Conditions
                li
                  a(href='/privacy/', title='Privacy') Privacy
                li
                  a(href='/contacts/', title='Contacts') Contacts
          .col-sm-4.hidden-print
            h3 Social Networks
            ul.footer-nav.footer-nav-inline.socials
              li
                a.tooltips(data-toggle='tooltip', data-placement='bottom', target='_blank', href='https://www.facebook.com/avnode.net/', title='', data-original-title='AVnode on Facebook')
                  i.fa.fa-facebook.about_button
                  .sr-only Facebook
              li
                a.tooltips(data-toggle='tooltip', data-placement='bottom', target='_blank', href='https://www.instagram.com/avnodenet/', title='', data-original-title='AVnode on Instagram')
                  i.fa.fa-instagram.about_button
                  .sr-only Instagram
              li
                a.tooltips(data-toggle='tooltip', data-placement='bottom', target='_blank', href='https://twitter.com/avnodenet', title='', data-original-title='AVnode on Twitter')
                  i.fa.fa-twitter.about_button
                  .sr-only Twitter
              li
                a.tooltips(data-toggle='tooltip', data-placement='bottom', target='_blank', href='https://plus.google.com/+AvnodeNet', title='', data-original-title='AVnode on Google Plus')
                  i.fa.fa-google-plus.about_button
                  .sr-only Google+
              li
                a.tooltips(data-toggle='tooltip', data-placement='bottom', target='_blank', href='https://t.me/avnode', title='', data-original-title='AVnode Channel on Telegram ')
                  i.fa.fa-telegram.about_button
                  .sr-only Telegram Channel

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js')

    script(src='/js/video.min.js')
    script(src="/js/owl.carousel.min.js")
    script(src="/js/main.js")