doctype html
html.no-js(lang=session.current_lang)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title!=title+" - AVnode.net"
    meta(name="robots" content="index, follow")
    link(href=canonical rel="canonical")
    if jsonld
      meta(name="description" content=jsonld.description)
      meta(property="og:title" content=title)
      meta(property="fb:app_id" content="1243968378972425")
      meta(property="og:url" content=canonical)
      meta(property="og:type" content=jsonld["@type"]==="Person" || jsonld["@type"]==="PerformingGroup" ? "profile" : "website")
      meta(property="og:description" content=jsonld.description)
      meta(property="og:image" content=jsonld.image)
      meta(property="og:site_name" content="AVnode.net")
      meta(property="og:locale" content=config.locales_iso[session.current_lang])
      if jsonld.video && jsonld.video_width && jsonld.video_height
        meta(property="og:video" content=jsonld.video)
        meta(property="og:video:width" content=jsonld.video_width)
        meta(property="og:video:height" content=jsonld.video_height)

    link(rel='shortcut icon', href='/icons/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='/icons/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='57x57', href='/icons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/icons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/icons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/icons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/icons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/icons/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/icons/apple-touch-icon-180x180.png')

    link(
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,700;1,200&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    )
    noscript
      link(
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,700;1,200&display=swap"
        rel="stylesheet"
        type="text/css"
      )

    link(rel='stylesheet', type='text/css', href='/css/main.min.css', media="screen")
    link(rel='stylesheet', type='text/css', href='/lightgallery/css/lightgallery-bundle.min.css')
    if scripts && scripts.indexOf("video")!==-1
      link(rel='stylesheet', type='text/css', href='/css/video-js.min.css')
    script(type="application/ld+json")
      !=JSON.stringify(jsonld)
    if scripts && scripts.indexOf("paypal")!==-1
      script(src="https://www.paypal.com/sdk/js?client-id="+process.env.PAYPAL_CLIENT_ID+"&currency=EUR")

  body
    #top
    a#to_top(href="#top", title=global.__('Back to the top'))
      span.icon-arrow-up-circle
      span.sr-only=global.__('Back to the top')
       
    include partials/menuHeader
    include partials/search/searchbar

    main
      block teaser
      block title
        if title
          .main_title_bkg
            .container
              h1
                if titleicon
                  span.icon-warning.titleicon
                  span.titleicontext!=title
                else 
                  !=title
                  if total
                    !=" "
                    span.badge.badge-secondary=total
              if subtitle
                p.lead.mb-0=subtitle
      include partials/flash
      block content
    #lightGallery
    include partials/footer
    include partials/modals/modalGeneral
    include partials/modals/modalNewContent

    script.
      document.documentElement.classList.remove("no-js");
    script(src='/js/combo.min.js')

    //- script(src="/js/owl.carousel.min.js")
    //- script(src="/js/main.js")
    //- script(src="/js/ajax.js")
    //- script(src="/js/cookielawinfo.min.js")

    //-if data && data.media && data.media.file
    if scripts && scripts.indexOf("video")!==-1
      script.
        var logo_url = "!{canonical}"
      script(defer src='/js/combo_video.min.js')
      //-script(defer src='/gulp/js/includes_video/swfobject.js')
      //-script(defer src='/gulp/js/includes_video/videojs.js')
      //-script(defer src='/gulp/js/includes_video/videojs-logo.min.js')
      //-script(defer src='/gulp/js/video.js')
    script(src='/lightgallery/lightgallery.min.js')
    script(src='/lightgallery/plugins/video/lg-video.min.js')
    script(src='/lightgallery/plugins/thumbnail/lg-thumbnail.min.js')
    script(src='/lightgallery/plugins/zoom/lg-zoom.min.js')
    script(src='/lightgallery/plugins/video/lg-video.min.js')
    script(src='/lightgallery/plugins/autoplay/lg-autoplay.min.js')
    script(src='/lightgallery/plugins/fullscreen/lg-fullscreen.min.js')
    if scripts && scripts.indexOf("signup")!==-1
      script(src='/datetimeentry/jquery.plugin.js')
      script(src='/datetimeentry/jquery.datetimeentry.js')
      script(src="https://maps.googleapis.com/maps/api/js?key="+process.env.GOOGLEMAPSAPIKEY+"&libraries=places")
      script(src='/js/combo_admin.min.js')
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-124799696-1")
    include partials/modals/cookielawinfo
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-124799696-1');