doctype html
html(lang=session.sessions.current_lang)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title #{title} - AVnode.net

    link(rel='stylesheet', type='text/css', href='/css/font-awesome/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(rel='stylesheet', type='text/css', href='/css/video-js.min.css')
    link(rel='stylesheet', type='text/css', href='/css/slick/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='/css/slick/slick.css')
    if is_admin
      link(rel='stylesheet', href='/css/admin.css')
  body
    nav.navbar.navbar-toggleable-md.navbar-fixed-top.navbar-inverse.bg-inverse
      .container
        button.navbar-toggler.navbar-toggler-right(
          type="button"
          data-toggle="collapse"
          data-target="#navbar-collapse"
        )
          span.navbar-toggler-icon
        a.navbar-brand(href='/')
          img(src='/images/logo.svg', width='30', height='30', class='d-inline-block align-top' alt='')
        .collapse.navbar-collapse(
          id="navbar-collapse"
        )
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/performers')=global.__('Performers')
            li.nav-item
              a.nav-link(href='/performances')=global.__('Performances')
            li.nav-item
              a.nav-link(href='/events')=global.__('Events')
            li.nav-item
              a.nav-link(href='/footage')=global.__('Footage')
            li.nav-item
              a.nav-link(href='/playlists')=global.__('Playlists')
            li.nav-item
              a.nav-link(href='/videos')=global.__('Videos')
            li.nav-item
              a.nav-link(href='/news')=global.__('News')
          ul.navbar-nav
            if user
              li.nav-item
                a.nav-link(href='/admin/profile/public')
                  i.fa.fa-user.fa-lg.fa-fw
              li.nav-item
                form(
                  method='post'
                  action='/logout'
                )
                  button.btn-link.nav-link
                    i.fa.fa-power-off.fa-lg.fa-fw
            else
              li.nav-item
                a.btn.btn-outline-secondary(href='/login')=global.__('Login')
              li.nav-item
                a.btn.btn-outline-success.ml-3(href='/signup')=global.__('Sign up')
            li.nav-item
              a.nav-link.ml-3(href='/search?q=*')
                i.fa.fa-search.fa-lg.fa-fw
                =global.__('Search')
            li.nav-item.dropdown
              a#langDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                b=session.sessions.current_lang.toUpperCase()
              .dropdown-menu(aria-labelledby='langDropdown')
                each lang,slug in config.locales_labels
                  a.dropdown-item(href=protocol+'://'+(slug!='en' ? slug+'.' : '')+basehost+current_url)=lang


    include partials/flash

    main
      block teaser
      block title
        if title
          .jumbotron.jumbotron-fluid
            .container
              h1.display-4=title
              if subtitle
                p.lead.mb-0=subtitle
      block content

    footer
      .container
        .text-muted='AVnode.net'
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js')

    script(src='/js/video.min.js')
    script(src="/js/slick.min.js")
    script(src="/js/main.js")
