extends layout

block content
  .container
    .row
      .col-md-6.offset-md-3
        .pb-5
          form(method='post')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='returnTo', value=returnTo)
            .form-group
              label(for='email')=global.__('FLxER Username')
              input.form-control(type='input', name='email', id='email', placeholder=global.__('Username'), autofocus, required)
              .badge=global.__('If your profile is https://flxer.net/USERNAME insert USERNAME')
            .form-group
              label(for='password')=global.__('Password')
              input.form-control(type='password', name='password', id='password', placeholder=global.__('FLxER Password'), required)
            .form-group
              button.btn.btn-primary.btn-success(type='submit')=global.__('Login')
                i.icon-sign-in-alt.fa-fw
              a.btn.btn-link(href='/password/forgot')=global.__('Forgot your password?')
