extends layout

block content
  if searchAvailable
    form.mb-3(method='get')
      .input-group.input-group-lg
        input.form-control(
          placeholder=__('What are you searching for?')
          type='text'
          name='q'
          value=q
        )   
        span.input-group-btn
          button.btn.btn-primary=__('Search')

    if resultCount
      each hit in data
        case hit._type
          when 'event'
            - var item = hit._source
            include partials/search/event
          when 'user'
            - var item = hit._source
            include partials/search/performer
          when 'crew'
            - var item = hit._source
            include partials/search/crew
    else
      p=__('No results found…')
