extends layout

block content
  .container
    form(method='post')
      input(type='hidden', name='_csrf', value=_csrf)
      fieldset.form-group
        .row
          .col-form-label.col-sm-3.pt-0
            legend
              h3=global.__('Subscribe as')
          .col-md-9
            .form-check
              input.form-check-input(type='radio', name="signup_type", id='signup_type_single', data-toggle="collapse" data-target=".multi-collapse.show" checked)
              label.form-check-label(for='signup_type_single')=global.__('As single')
            .form-check
              input.form-check-input(type='radio', name="signup_type", id='signup_type_crew', data-toggle="collapse" data-target=".multi-collapse:not(.show)")
              label.form-check-label(for='signup_type_crew')=global.__('As crew/group/organisation')
            script.
              window.onload = function() {
                $('.multi-collapse').on('shown.bs.collapse', function (e) {
                  alert("bella");
                  // Action to execute once the collapsible area is expanded
                })
              }
      .collapse.multi-collapse
        .form-group.row
          label.col-form-label.col-sm-3(for='crewname')=global.__('Crew name')
          .col-md-9
            input.form-control(type='text', name='crewname', id='crewname', placeholder=global.__('Crew/group/organisation name'), autocomplete='off', autofocus)
        .form-group.row
          label.col-form-label.col-sm-3(for='crewslug')=global.__('Crew profile URL')
          .col-md-9
            input.form-control(type='text', name='crewslug', id='crewslug', placeholder=global.__('Crew/group/organisation profile URL'), autocomplete='off', autofocus)
        .form-group.row
          .col-form-label.col-sm-12
            h5=global.__('You as member of the crew')
            div=global.__("You will be able to add more once you confirmed your account")
      .form-group.row
        label.col-form-label.col-sm-3(for='stagename')=global.__('Stage Name')
        .col-md-9
          input.form-control(type='text', name='stagename', id='stagename', placeholder=global.__('Name as artist or nickname'), autocomplete='off', autofocus, required)
      .form-group.row
        label.col-form-label.col-sm-3(for='crewslug')=global.__('Profile URL')
        .col-md-9
          input.form-control(type='text', name='slug', id='slug', placeholder=global.__('Profile URL'), autocomplete='off', autofocus, required)
      .form-group.row
        label.col-form-label.col-sm-3(for='birthdate')=global.__('Birthdate')
        .col-md-9
          input.form-control(type='text', name='birthdate', id='birthdate', placeholder=global.__('Birthdate'), autocomplete='off', autofocus, required)
      .form-group.row
        label.col-form-label.col-sm-3(for='email')=global.__('Email')
        .col-md-9
          input.form-control(type='email', name='email', id='email', placeholder=global.__('Email'), autocomplete='off', required)
      .form-group.row
        label.col-form-label.col-sm-3(for='addresses')=global.__('Locazlization')
          br
          small=global.__("You will be able to add more once you confirmed your account")
        .col-md-9
          input.form-control(type='text', name='address.text', id='address.text', placeholder=global.__('City, country'), autocomplete='off', role='combobox', aria-autocomplete='list', aria-controls='PlacesAutocompleteglobal.__autocomplete-container')
          input(type='hidden', name='address.locality', id='address.locality')
          input(type='hidden', name='address.country', id='address.country')
          input(type='hidden', name='address.geometry', id='address.geometry')
      .form-group.row
        label.col-form-label.col-sm-3(for='password')=global.__('Password')
        .col-md-9
          input.form-control(type='password', name='password', id='password', placeholder=global.__('Password'), required)
      .form-group.row
        label.col-form-label.col-sm-3(for='confirmPassword')=global.__('Confirm Password')
        .col-md-9
          input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder=global.__('Confirm Password'), required)
      .form-group.row
        .col-form-label.col-sm-3
        .col-md-9
          button.btn.btn-primary(type='submit')=global.__('Sign up')
