extends ../layout_admin
block content
  table.table
    thead
      tr
        td="ID"
        td=global.__("Brand")
        td=global.__("AVnode user")
        td=global.__("Partnerships")
        td=global.__("Channels")
        td=global.__("Contacts")
    tbody
      if data.length
        each item, index in data
          tr
            td=index+1
            td
              b!=item.brand
            td
              if item.user_id
                if item.user_id.stagename != item.brand
                  b!=item.user_id.stagename
                  //a(href="/admin/crews/"+item._id+"/public", target="_blank")!=global.__("edit")
                    !=" | "
                    a(href="/"+item.slug, target="_blank")!=global.__("view")
              else
                .badge.badge-danger!="EXTERNAL"
            td
              if item.partnerships
                each user in item.partnerships
                  .text-nowrap
                    a(href="/"+user.slug, target="_blank")!=user.name
            td
              if item.channels
                each web in item.channels
                  div
                    a(href=web.url, target="_blank")!=web.url
            td
              if item.contacts
                each contact in item.contacts
                  div
                    a(href="mailto:"+contact.email, target="_blank")!=contact.name+" "+contact.surname
