extends ../layout
block content
  script.
    var event = "#{event}"
  form.form-inline.d-print-none
    if events
      select.form-control.mb-3.mr-sm-2( onchange="if (this.value) window.location.href='/admindev/partners/"+owner+"/'+this.value")
        option(value=0)=global.__("Filter by event")
        each item, index in events
          option(value=item._id, selected=item._id==event ? "selected" : undefined)=item.title
    if event
      a.btn.btn-primary.mb-3.mr-2(href="/admindev/partners/"+owner+"/"+event+"/manage")=global.__("Manage event partnerships types")
      a.btn.btn-primary.mb-3.mr-2(href="/admindev/partners/"+owner+"/"+event+"/grantsdata")=global.__("Grants data")
    button.btn.btn-primary.form-control.mb-3.mr-2(type='button', data-toggle='modal', data-target='#modalLinkPartner', data-owner=owner)="ADD"
  table.table.partners
    thead
      tr
        th
          h5="Not assigned"
        each item, index in partnerships
          th
            h5
              !=item.category.name
              small
                a.btn.btn-primary.btn-sm.sorter(data-target="sortable"+(index+1), href="#")="SORT"
    tbody
      tr
        td
          div(style="max-height: 100vh;overflow-y: scroll;")
            ul.list-group.connectedSortable(id="sortable0")
              each item in notassigned
                li.list-group-item
                  !=item.stagename
                  input(type="hidden", name="users", value=item._id)
        - var conta = 1
        each item, index in partnerships
          td
            div(style="max-height: 100vh;overflow-y: scroll;")
              form(id="form"+conta)
                input(type="hidden", name="category", value=item.category._id)
                ul.list-group.connectedSortable(id="sortable"+conta)
                  - conta++
                  each uuu, index in item.users
                    li.list-group-item
                      !=uuu.stagename
                      input(type="hidden", name="users", value=uuu._id)
