extends ../layout_admin
block topmenu
  include topmenu
block content
  .row
    .col-md-8
      h3 Sites manager
    .col-md-4.text-right
      a#generateHomes.btn.btn-danger.mr-3(href='#') GENERATE HOMES
      a#generateLocals.btn.btn-danger(href='#') GENERATE LOCALS
  #myModal.modal.fade(tabindex='-1' role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title GENERATE HOMES
        .modal-body
          p One fine body…
        .modal-footer
          button.btn.btn-primary(type='button' data-dismiss='modal') Close
  script.
    function bella1() {
      $("tr td h3 a").each(function() {
        console.log($(this).attr("href"))
        bella($(this).attr("href"))
      });
    }
    function bella(url) {
      window.open('https://flyer.dev.flyer.it'+url, '_blank')
    }

    var conta=0;
    var error=0;
    function generateHomes(conta) {
      var genUrl = [
        "https://avnode.org/?createcache=1",
        "https://flyer.it/?createcache=1","https://flyer.it/it/?createcache=1",
        "https://linux-club.org/?createcache=1",
              
        "https://livecinemafestival.com/?createcache=1","https://livecinemafestival.com/en/?createcache=1",
        
        "https://fotonicafestival.com/?createcache=1","https://fotonicafestival.com/en/?createcache=1",
        
        "https://liveperformersmeeting.net/?createcache=1",
        
        "https://shockart.net/?createcache=1","https://shockart.net/it/?createcache=1",
        "https://vjtelevision.com/?createcache=1",
        "https://wam.flyer.it/?createcache=1","https://wam.flyer.it/it/?createcache=1",
        "https://chromosphere.eu/?createcache=1","https://chromosphere.eu/it/?createcache=1",

      ];
      if (conta==0) {
        $('#myModal .modal-body').html("");
        for (var a=0;a<genUrl.length;a++) {
          $('#myModal .modal-body').append("<div id=\"genUrl"+a+"\"><i class=\"fas fa-spinner fa-spin\"></i> "+genUrl[a]+"</div>");
          window.open(genUrl[a], a);
        }
        $('#myModal .modal-footer .btn-primary').addClass("disabled");
        $('#myModal').modal();
      }
      
      //- $.ajax({
      //-   url: genUrl[conta],
      //-   context: document.body,
      //- }).fail(function() {
      //-   error++;
      //-   if (error>2) {
      //-     error=0;
      //-     generateHomes(conta+1);
      //-   } else {
      //-     generateHomes(conta);
      //-   }
      //- }).done(function(doc) {
      //-   $('#myModal .modal-body #genUrl'+conta+" .fas").removeClass("fa-spinner fa-spin");
      //-   $('#myModal .modal-body #genUrl'+conta+" .fas").addClass("fa-check-circle");
      //-   if (conta+1 < genUrl.length) {
      //-     generateHomes(conta+1);
      //-   } else {
      //-     $('#myModal .modal-body').append('<br/><div class="alert alert-success" role="alert">DONE</div>');
      //-     $('#myModal .modal-footer .btn-primary').removeClass("disabled");
      //-   }
      //- });
      
    }
    function generateLocals(conta) {
      var genUrllocal = [
        "http://localhost:3002/meta/?generate=1", //livecinemafestival.com
        "http://localhost:3009/meta/?generate=1", //fotonicafestival.com
        "http://localhost:3001/meta/?generate=1", //liveperformersmeeting.net
        "http://localhost:3003/meta/?generate=1", //chromosphere.eu
        "http://localhost:3005/meta/?generate=1", //shockart.net
      ];
      if (conta==0) {
        $('#myModal .modal-body').html("");
        for (var a=0;a<genUrllocal.length;a++) {
          $('#myModal .modal-body').append("<div id=\"genUrl"+a+"\"><i class=\"glyphicon glyphicon-refresh\"></i> "+genUrllocal[a]+"</div>");
        }
        $('#myModal .modal-footer .btn-primary').addClass("disabled");
        $('#myModal').modal();
      }
      //window.open(genUrllocal[conta], "_blank");
      $.ajax({
        url: genUrllocal[conta],
        context: document.body
      }).fail(function() {
        error++;
        if (error>2) {
          error=0;
          generateLocals(conta+1);
        } else {
          generateLocals(conta);
        }
      }).done(function(doc) {
        $('#myModal .modal-body #genUrl'+conta+" .glyphicon").removeClass("glyphicon-refresh");
        $('#myModal .modal-body #genUrl'+conta+" .glyphicon").addClass("glyphicon-ok");
        if (conta+1 < genUrllocal.length) {
          generateLocals(conta+1);
        } else {
          $('#myModal .modal-body').append('<br/><div class="alert alert-success" role="alert">DONE</div>');
          $('#myModal .modal-footer .btn-primary').removeClass("disabled");
        }
      });
      
    }
    window.addEventListener("load", function(){
      $( "#generateHomes" ).click(function(event) {
        event.preventDefault();
        generateHomes(0);
      });
    });
    window.addEventListener("load", function(){
      $( "#generateLocals" ).click(function(event) {
        event.preventDefault();
        generateLocals(0);
      });
    });
  .jumbotron
    //h1.display-4="Advanced tools"
    p.lead!="AVnode Advanced tools are designed for orgnizations active in the Audio Visuals Performing Arts sector."
    if !user.is_pro
      p.lead!="If you are member of an organization please request to be able to use the advanced tools to <a href=\"mailto:join@avnode.org\">join@avnode.org</a>."
    p.lead!="With the Advanced tools orgnizations can empower the daily job, in details you will be able to easily manage:"
    .row
      .col-md-4
        h2=global.__("Events")
        ul
          li
            b!="Artists & Guests"
            ul
              li="Call for proposals"
              li="Selection"
              li="Approvals"
              li="Availability"
              li="Costs (fee, accommodation, transports)"
              li="Ticket price"
          li
            b!="Accommodation"
            ul
              li="Gant layout"
              li="Payments status"
              li="Hotels & rooms management"
          li
            b!="Program"
            ul
              li="Drag & Drop program build"
              li="Replicas"
          li
            b!="Tickets"
            ul
              li="By event income"
          li
            b!="Prints"
            ul
              li="Technical Riders"
              li="Program"
              li="Social Posts"
              li="Guests Pass"
              li="Guests list"
      .col-md-4
        h2=global.__("Organizations")
        ul
          li
            b!="Extra private data for grants"
          li
            b!="Grants tools"
      .col-md-4
        h2=global.__("Partners")
        ul
          li
            b!="Partnerships managment"
          li
            b!="Mass mail manager"
    if !user.is_pro
      hr.my-4
      p!="If you are member of an organization please request to be able to use the advanced tools to <a href=\"mailto:join@avnode.org\">join@avnode.org</a>."
    //a.btn.btn-primary.btn-lg(href='#', role='button') Learn more

  //pre=JSON.stringify(data, null, 2)