extends ../../layout
block content
  - var strfullall = ""
  - var strfullcountry = ""
  - var strfulllocality = ""
  table.table.table-fixed
    tr
      td N
      td Stagename
      td Name
      td Surname
      td Email
      td City
      td Country
      td Mailinglists
    if data
      each add, index in data
        tr
          td=index+skip+1
          td
            if !add.Stagename 
              span.badge.badge-danger MISSING
            else
              !=add.Stagename
          td
            if !add.Name 
              span.badge.badge-danger MISSING
            else
              !=add.Name
          td
            if !add.Surname 
              span.badge.badge-danger MISSING
            else
              !=add.Surname
          td
            if !add.email 
              span.badge.badge-danger MISSING
            else
              !=add.email
          td
            if !add.City 
              span.badge.badge-danger MISSING
            else
              !=add.City
          td
            if !add.Country 
              span.badge.badge-danger MISSING
            else
              !=add.Country
          td
            if !add.Topics 
              span.badge.badge-danger MISSING
            else
              !=add.Topics
  //  pre=strfullall
    hr
    pre=strfullcountry
    hr
    pre=strfulllocality
    pre=JSON.stringify(data, null, 2)