extends ../layout

block teaser
  if performance.teaserImage
    .d-flex.justify-content-center.align-items-start
      img.img-fluid(
        src=performance.teaserImageFormats.large
        alt=performance.name
      )

block title
  if title
    .jumbotron.jumbotron-fluid
      .container
        .row
          .col-lg-8
            h1.display-4=performance.title
            if performance.about
              p.lead=performance.about
          .col-lg-4
            if performance.image
              img.card-img-top.img-fluid(
                src=performance.imageFormats.medium
                alt=performance.name
              )

block content
  if performance.video
    if performance.video.video.type === 'vimeo'
      iframe(
        src=`https://player.vimeo.com/video/${performance.video.video.id}`
        width="640"
        height="360"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
      )

  .row
    .col-lg-8
      h3=__('Performer')
      .card-columns
        each user in performance.users
          .card
            if user.image
              img.card-img-top.img-fluid(
                src=user.imageFormats.medium
                alt=user.name
              )
            .card-block
              h6.text-muted.card-title=__('Performer')
              h5.card-subtitle.mb-3=user.stagename
              a.btn.btn-primary(href=user.publicUrl)=__('More')
    .col-lg-4
      .card-columns Bella